.q-title{
    font-family: "微软雅黑";
    font-size:20px;
    color:#003C65;
    font-weight: bolder;
    margin: 27px 0px 9px 29px;
}
.q-main{
    margin: 0px auto;
    width: 885px;
    height: 420px;
    font-size: 16px;
    border:1px solid #ccc;
}
.q-header{
    margin:0px 36px;
    height: 50px;
    line-height: 60px;
    border-bottom: 3px solid #17B8ED;
}
.q-body{
    margin:10px 36px;
    height: 275px;
    background:#F4F6F5;
    li{
        float: left;
        margin:10px 0px 0px 35px;
        width:220px;
        height:120px;
        text-align: center;
        div{
            margin:8px 0px;
        }
    }
}
.q2-head{
    margin:10px 10px 0px 36px;
    height: 138px;
    background:#F4F6F5;
    li{
        float: left;
        margin:10px 0px 0px 35px;
        width:162px;
        height:120px;
        text-align: center;
        border:1px solid #ccc;
        div{
            margin:8px 0px;
        }
    }
}
.q2-body{
    margin: 0px 10px 10px 36px ;
    height: 138px;
    background:#F4F6F5;
    li{
        float: left;
        margin:10px 0px 0px 35px;
        width:162px;
        height:120px;
        text-align: center;
        div{
            margin:8px 0px;
        }
    }

}
.part-image{
    height:55px;
}


.q-footer{
    margin:0px 36px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-top: 3px solid #17B8ED;
}
.radio input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none; }
.un-radio input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none; }

.un-radio{
  padding: 0px 18px;
  cursor: pointer;
  line-height: 30px;
  background: url("images/un-radio.png") no-repeat left center; }

.radio{
  padding: 0px 18px;
  line-height: 30px;
  cursor: pointer;
  background: url("images/radio.png") no-repeat left center; }

  .btn-def{
        border:none;
        width: 146px;
        height: 30px;
        cursor: pointer;
        background: url("images/btn.png") no-repeat;
        &[disabled]{
            cursor: default;
        }
    }

  .btn-error{
        color:#fff;
        border:none;
        width: 146px;
        height: 30px;
        background: red;
  }
  .btn-right{
        color:#fff;
        border:none;
        width: 146px;
        height: 30px;
        background: green;
  }