/*控制面板*/
.gear-wrap {
    position: absolute;
    bottom: 92px; 
    left: 0;

    width: 279px;
    height: 151px;

    background: url(./images/gear_wrap.png) no-repeat;
}
.gear-wrap .close {
    margin: -1px -1px 3px 23px;
}
.gear-wrap .state-wrap {
    position: absolute;
    top: 30px;
    left: 35px;
    z-index: 4;
}
.gear-wrap .state-wrap span {
    display: inline-block;

    margin: 0 5px;
    border-radius: 50px;
    width: 18px;
    height: 18px;

    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #000cff  ;
    background: #e3e4e5;

    box-shadow: #6d6a6a -1px -2px 2px inset;
}
.gear-wrap .state-wrap span.active {
    background: #666668;
}
.gear-switch {
    position: absolute;
    top: 50px;
    left: 50px;

    width: 65px;
    height: 66px;

    background: url(./images/gear_switch.png) no-repeat;

    transform: rotate(-44deg);
}
.gear-accelerator {
    position: absolute;
    top: 35px;
    left: 233px;  

    width: 19px;
    height: 102px;
}
.gear-brake {
    position: absolute;
    top: 35px;
    left: 158px;

    width: 44px;
    height: 29px;

    background: url(./images/gear_brake.png) no-repeat;

    cursor: pointer;
}
.gear-accelerator .accelerator {
    position: absolute;
    top: 0;
    left: 0;

    width: 19px;
    height: 50px;

    background: url(./images/gear_accelerator.png) no-repeat;
}
.data-show {
    position: absolute;
    top: 17px;
    left: 232px;

    width: 30px;
    height: 30px;

    color: #000;
}
.close {
    position: absolute;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;

    width: 24px;
    height: 24px;

    font: 18px "microsoft yahei";
    line-height: 20px;

    color: #f1a703;

    cursor: pointer;
}