

<div class="ignition-switch cursor-pointer" (click)="dashboardShowOrHide(1)" >
    <div class="ignition"></div>
</div>

<div class="dashboard-body"  >
    <div class="close cursor-pointer" (click)="dashboardShowOrHide(0)">X</div>
    <div class="pointer-left" ></div>
    <div class="pointer-right"></div>
    <div class="ignition"></div>
    <div class="datashow" >{{dashboardService.Mout.Out1Mot_x_VehSpeed_x_x}}</div>
    <div class="dashborad-screen"></div>

    <div class="lock-stalls cursor-pointer"  (click)="stallsAngle(1)"></div>
    <div class="on-stalls cursor-pointer"  (click)="stallsAngle(2)" ></div>

    <div class="light">
        <div class="abs "  *ngIf="!!(dashboardService.Mout.Out1NER_x_LED_ABS_Jud=='1')" ></div>
        <div class="airbag "  *ngIf="!!(dashboardService.Mout.Out1NER_x_LED_SafeBag_Jud=='1')"></div>
        <div class="parking "  *ngIf="!!(dashboardService.Mout.Out1NER_x_LED_Brake_Jud=='1')"></div>
    </div>
</div>
  
