.dashboard-body{ z-index:12;width:420px;height:178px;background: url(./images/dashboard_bg.png) no-repeat;position: absolute;bottom: 0px;left: 542px;display: none; }
.dashboard-body .pointer-left{ width:68px;height:96px;background: url('./images/dashboard_pointer.png') no-repeat;position: absolute;top: 39px;left: 33px;  }
.dashboard-body .pointer-right{ width:68px;height:96px;background: url('./images/dashboard_pointer.png') no-repeat;position: absolute;top: 39px;left: 321px; }
.dashboard-body .ignition{ width:37px;height:37px;background: url('./images/dashboard_ignition.png') no-repeat;position: absolute;bottom: 11px;left: 194px; }
.dashboard-body .datashow{ position: absolute;top: 48px;left: 208px; font-size: 20px;color: #fff;line-height: 30px}
.ignition-switch{z-index:10; width:73px;height:73px;background: url('./images/ignition_switch.png') no-repeat;position: absolute;bottom: 112px;right: 64px; }
.ignition-switch .ignition{ width:71px;height:71px;background: url('./images/ignition.png') no-repeat;position: absolute;top: 0px;left: 0px; }
.dashboard-body .dashborad-screen{width:213px;height:132px;background: url('./images/dashborad_screen.png') no-repeat;position: absolute;top: 0px;left: 107px;}
.lock-stalls{width: 15px;height: 15px;background: rgba(0,0,0,0); position: absolute;top: 133px;left:182px; cursor: pointer}
.on-stalls{width: 15px;height: 15px;background: rgba(0,0,0,0); position: absolute;top: 119px;left:209px; cursor: pointer}

.light .abs{width: 15px;height: 12px; position: absolute;top: 103px;left:88px;background: url('./images/3.png') no-repeat; background-size: contain;}
.light .airbag{width: 15px;height: 12px; position: absolute;top: 25px;left:323px;background: url('./images/4.png') no-repeat; background-size: contain;}

.light .parking{width: 15px;height: 12px; position: absolute;top: 45px;left:321px;background: url('./images/5.png') no-repeat; background-size: contain;}

.close {
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    line-height: 20px;
    width: 24px;
    height: 24px;
    position: absolute;
    font: 18px "microsoft yahei";
    right: 0px;
    top: 0px;
    color: #f1a703;
}