<div class="body-4" style="position: absolute;left: 0;top: 50px">
    <div class="header-content">
        <h1> {{pageData.text}} </h1>
        <p>  {{pageData.content}}</p>
        <span *ngFor="let item of pageData.spanText; let i = index ">{{i+1}}.{{item}}</span>
    </div>
    <div class="foot-img-lists">
        <!--<p *ngFor="let item of pageData.imgs" >-->
            <!--<span [ngStyle]="item?.top?.style">{{item?.top?.content}}</span>-->
            <img src="{{pageData.img}}" [ngStyle]="pageData.imgstyle">
            <!--<span [ngStyle]="item?.bottom?.style">{{item?.bottom?.content}}</span>-->
        <!--</p>-->
    </div>

    <div class="close" (click)="closemodel()" *ngIf="cd.time<=0 "></div>
    <div class="cd" *ngIf="cd.time>0  "></div>
</div>
