 <div class="body-0">
    <div class="header-content"  [ngStyle]="pageData.content.head?.style">
        <h1>{{pageData.content.head.title}} </h1>
        <div *ngFor="let key of pageData.content.head.p_contents | keys:'xx':'xx'">
            <span *ngFor="let item of pageData.content.head.p_contents[key]" [ngStyle]='item.style'> 
                {{item.content}}
            </span>
        </div>
    </div>
    <div class="foot-img-lists">
        <p *ngFor="let item of pageData.content.imgs; " [@flyIn]="'right'" >
            <span class='word' [ngStyle]="item?.top?.style">{{item?.top?.content}}</span>
            <img src="{{item?.img}}" [ngStyle]="pageData.content.imgStyle">
            <span class='word' [ngStyle]="item?.bottom?.style">{{item?.bottom?.content}}</span>
        </p>
    </div>
    <div class="foot-content" > 
        <div *ngFor="let key of pageData.content.p_contents | keys">
            <span *ngFor="let item of pageData.content.p_contents[key]" [ngStyle]='item.style'> 
                {{item.content}}
            </span>
        </div>
    </div>
</div>