.pagination-body
{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 200px;
    height: 50px;
    .button
    {
        line-height: 50px;

        float: left;

        width: 76px;
        height: 46px;
        margin-top: 6px;

        cursor: pointer;
        text-align: center;

        background-repeat: no-repeat;
        background-position: center;
    }
   .prev
    {
        background-image: url('./images/prev.png');
         &.disabled{
            background-image: url('./images/prev_disabled.png');
            cursor: default;
          &:hover
        {
            background-image: url('./images/prev_disabled.png');
        }
        }
        &:hover
        {
            background-image: url('./images/prev_act.png');
        }
    }
    .pagination
    {
        line-height: 26px;

        float: left;

        width: 46px;
        height: 26px;
        margin-top: 16px;

        text-align: center;

        color: #fff;
    }
    .next
    {
        background-image: url('./images/next.png');

        &:hover
        {
            background-image: url('./images/next_act.png');
        }
        &.disabled{
            background-image: url('./images/next_disabled.png');
            cursor: default;

        }
    }
}
