.pagination-body {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 200px;
    height: 50px;
    .button {
        float: left;

        margin-top: 6px;
        width: 76px;
        height: 46px;

        line-height: 50px;
        text-align: center;

        background-repeat: no-repeat;
        background-position: center;

        cursor: pointer;
    }
    .prev {
        background-image: url("./images/prev.png");

        &:hover {
            background-image: url("./images/prev_act.png");
        }
    }
    .pagination {
        float: left;

        margin-top: 16px;
        width: 46px;
        height: 26px;

        line-height: 26px;
        text-align: right;

        color: #fff;
    }
    .next {
        background-image: url("./images/next.png");
        position: relative;z-index:999;

        &:hover {
            background-image: url("./images/next_act.png");
        }
        &.disabled {
            background-image: url("./images/next_disabled.png");
            cursor: default;
        }
    }
    .prev {
        background-image: url("./images/prev.png");
        position: relative;z-index:999;

        &:hover {
            background-image: url("./images/prev_act.png");
        }
        &.disabled {
            background-image: url("./images/prev_disabled.png");
            cursor: default;
        }
    }
}
