.Lowtemperature_bg{
    width: 896px;
    height: 450px;
    background-image: url(../images/alert_wrap_bg.png);
    position: absolute;left: 0px;top: 0px;
    z-index: 6;
    .Lowtemperature{
        width: 397px;
        height: 298px;
        background-image: url(./img/Lowtemperature.png);
        position: absolute;left: 72px;top: 72px;
    }
    .describe-font1{
        width: 225px;
        height: auto;
        color: #000;
        position: absolute;left:590px;top: 134px;text-indent: 20px;
    }
}
