<!--结构 页面-->
<div class="structure-body">
    <a class="structurearea1 circlestructure" wybredPosition="111" wybblackPosition="111" h-left="354" h-top="116" rqPosition="111"></a>
    <a class="structurearea2 circlestructure" wybredPosition="112" wybblackPosition="112" h-left="354" h-top="174" rqPosition="112"></a>
    <a class="structurearea3 circlestructure" wybredPosition="113" wybblackPosition="113" h-left="354" h-top="231" rqPosition="113"></a>
    <a class="structurearea4 circlestructure" wybredPosition="114" wybblackPosition="114" h-left="354" h-top="288" rqPosition="114"></a>
    <a class="structurearea5 circlestructure" wybredPosition="115" wybblackPosition="115" h-left="354" h-top="345" rqPosition="115"></a>
    <a class="structurearea6 circlestructure" wybredPosition="116" wybblackPosition="116" h-left="354" h-top="392" rqPosition="116"></a>
    

    <div class="redarea redarea1"></div>
    <div class="redarea redarea2"></div>
    <div class="redarea redarea3"></div>
    <div class="redarea redarea4"></div>
    <div class="redarea redarea5"></div>
    <div class="redarea redarea6"></div>


    <div id="redpointsquare1">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare2">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare3">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare4">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare5">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare6">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare7">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare8">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare9">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare10">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare11">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare12">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare13">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>

    <div class="batery-box batery-1">
        <div class="battery1 battery fixbattery1"></div>
    </div>
    <div class="batery-box batery-2">
        <div class="battery2 battery fixbattery2"></div>
    </div>
    <div class="batery-box batery-3">
        <div class="battery3 battery fixbattery3"></div>
    </div>
    <div class="batery-box batery-4">
        <div class="battery4 battery fixbattery4"></div>
    </div>
    <div class="batery-box batery-5">
        <div class="battery5 battery fixbattery5"></div>
    </div>
    <div class="redline"></div>

    <div class="libox">
        <ul *ngFor="let position  of positions;">
            <li *ngFor="let positionevery  of position.position; let i = index" class="li"></li>
        </ul>
    </div>

    <div id="electronbox1">
        <div class="electron electron1"></div>
        <div class="electron electron2"></div>
        <div class="electron electron3"></div>
        <div class="electron electron4"></div>
        <div class="electron electron5"></div>
        <div class="electron electron6"></div>
        <div class="electron electron5"></div>
        <div class="electron electron6"></div>
        <div class="electron electron5"></div>
        <div class="electron electron6"></div>
    </div>
    <div id="electronbox2">
        <div class="electron electron1"></div>
        <div class="electron electron2"></div>
        <div class="electron electron3"></div>
    </div>
    <div id="electronbox3">
        <div class="electron electron1"></div>
        <div class="electron electron2"></div>
        <div class="electron electron3"></div>
        <div class="electron electron4"></div>
        <div class="electron electron5"></div>
        <div class="electron electron6"></div>
        <div class="electron electron1"></div>
        <div class="electron electron2"></div>
        <div class="electron electron3"></div>
        <div class="electron electron4"></div>
        <div class="electron electron5"></div>
        <div class="electron electron6"></div>
        <div class="electron electron2"></div>
        <div class="electron electron3"></div>
        <div class="electron electron4"></div>
        <div class="electron electron5"></div>
        <div class="electron electron6"></div>
    </div>
    <div id="electronbox4">
        <div class="electron electron1"></div>
        <div class="electron electron2"></div>
        <div class="electron electron3"></div>
    </div>
    <div id="electronbox5">
        <div class="electron electron1"></div>
        <div class="electron electron2"></div>
        <div class="electron electron3"></div>
        <div class="electron electron4"></div>
        <div class="electron electron5"></div>
        <div class="electron electron6"></div>
        <div class="electron electron5"></div>
        <div class="electron electron6"></div>
        <div class="electron electron4"></div>
        <div class="electron electron5"></div>
    </div>
    <!--<div class="electron electron2"></div>
    <div class="electron electron3"></div>-->
    <!--<div class="leaveLi"></div>-->
    <div class="CT"></div>
    <div class="allLibox">
        <div id="allLi"></div>
    </div>

    <div class="leftLi"></div>
    
</div>
