<!--结构 页面-->
<div class="structure-body">
    <div class="switch-structure"></div>
    <div class="switch-structure2"></div>
    <div class="switch-structure3"></div>
    <a class="structurearea1 circlestructure" wybredPosition="1" wybblackPosition="1" h-left="367" h-top="230" rqPosition="46"></a>
    <a class="structurearea2 circlestructure" wybredPosition="2" wybblackPosition="2" h-left="368" h-top="294" rqPosition="47"></a>
    <a class="structurearea3 circlestructure" wybredPosition="3" wybblackPosition="3" h-left="316" h-top="294" rqPosition="2"></a>
    <a class="structurearea4 circlestructure" wybredPosition="4" wybblackPosition="4" h-left="280" h-top="230" rqPosition="48"></a>
    <a class="structurearea5 circlestructure" wybredPosition="5" wybblackPosition="5" h-left="233" h-top="230" rqPosition="49"></a>
    <a class="structurearea6 circlestructure" wybredPosition="6" wybblackPosition="6" h-left="316" h-top="231" rqPosition="1"></a>
    <a class="structurearea7 circlestructure" wybredPosition="7" wybblackPosition="7" h-left="771" h-top="184" rqPosition="1"></a>
    <a class="structurearea8 circlestructure" wybredPosition="8" wybblackPosition="8" h-left="771" h-top="283" rqPosition="2"></a>
    <a class="structurearea9 circlestructure" wybredPosition="9" wybblackPosition="9" h-left="723" h-top="69" rqPosition="1"></a>
    <a class="structurearea10 circlestructure" wybredPosition="10" wybblackPosition="10" h-left="661" h-top="69" rqPosition="50"></a>
    <a class="structurearea11 circlestructure" wybredPosition="11" wybblackPosition="11" h-left="568" h-top="277" rqPosition="51"></a>
    <a class="structurearea12 circlestructure" wybredPosition="12" wybblackPosition="12" h-left="614" h-top="277" rqPosition="2"></a>
    <a class="structurearea13 circlestructure" wybredPosition="13" wybblackPosition="13" h-left="605" h-top="231" rqPosition="52"></a>
    <a class="structurearea14 circlestructure" wybredPosition="14" wybblackPosition="14" h-left="561" h-top="230" rqPosition="1"></a>
    <a class="structurearea15 circlestructure" wybredPosition="15" wybblackPosition="15" h-left="369" h-top="108" rqPosition="1"></a>
    <a class="structurearea16 circlestructure" wybredPosition="16" wybblackPosition="16" h-left="461" h-top="155" rqPosition="2"></a>
    <a class="structurearea17 circlestructure" wybredPosition="17" wybblackPosition="17" h-left="416" h-top="155" rqPosition="53"></a>
    <a class="structurearea18 circlestructure" wybredPosition="18" wybblackPosition="18" h-left="423" h-top="107" rqPosition="54"></a>
    <a class="structurearea19 circlestructure" wybredPosition="19" wybblackPosition="19" h-left="367" h-top="155" rqPosition="55"></a>
    <a class="structurearea20 circlestructure" wybredPosition="20" wybblackPosition="20" h-left="772" h-top="393" rqPosition="2"></a>
    <a class="structurearea21 circlestructure" wybredPosition="21" wybblackPosition="21" h-left="255" h-top="294" rqPosition="2"></a>



    <div class="powerline-plusBox">
        <div class="powerline-plus"></div>
        <div class="powerline-plus-red"></div>
    </div>


    <div class="powerline-minusBox">
        <div class="powerline-minus"></div>
        <div class="powerline-minus-red"></div>
    </div>
    

    <div class="powerline-minus"></div>
    <div class="line2v37box">
        <div class="line2v37"></div>
        <div class="line2v37-red"></div>
    </div>


    <div class="lineA1twoV62box">
        <div class="lineA1twoV62"></div>
        <div class="lineA1twoV62-purple"></div>
    </div>


    <div class="lineA2two12box1">
        <div class="lineA2two12-1"></div>
        <div class="lineA2two12-blue1"></div>
    </div>


    <div class="lineA2two12box2">
        <div class="lineA2two12-2"></div>
        <div class="lineA2two12-blue2"></div>
    </div>

    
    <div class="linev23box">
         <div class="linev23"></div>
         <div class="linev23-blue"></div>
    </div>
   


    <div class="line31box">
        <div class="line31"></div>
        <div class="line31-red"></div>
    </div>
    
    <div class="circle1"></div>
    <div class="circle2"></div>
</div>
