/*结构页面 S===================================================================================================*/
.structure-body{
    width: 741px;
    height: 391px;
    background: url(./images/structure_bg.png);
    position: absolute;left: 145px;top: 30px;
    .switch-structure{
        width: 32px;
        height: 11px;
        background: url(./images/switch.png);
        position: absolute;left: 597px;top: 31px;
    }
    .switch-structureClose{
        width: 23px;
        height: 11px;
        background: url(./images/switch-red.png);
        position: absolute;left: 603px;top: 38px;
        transform: rotate(15deg);
    }
    .switch-structure2{
        width: 38px;
        height: 11px;
        background: url(./images/switch-circle.png) no-repeat;
        position: absolute;left: 62px;top: 54px;
    }
    .switch-structure2Close{
        width: 38px;
        height: 11px;
        background: url(./images/switch-circle-red.png) no-repeat;
        position: absolute;left: 62px;top: 54px;
    }
    .switch-structure3{
        width: 7px;
        height: 11px;
        background: url(./images/switch.png) no-repeat;
        position: absolute;left: 589px;top: 36px;
        transform: rotate(15deg);
    }
    .switch-structure3-red{
        width: 7px;
        height: 11px;
        background: url(./images/switch-red.png) no-repeat;
        position: absolute;left: 589px;top:36px;
        transform: rotate(15deg);
    }
    .circlestructure{
        width: 10px;
        height: 10px;
        border-radius:50%;
        position: absolute;
        background: url(./images/circlestructure.png) no-repeat;
        display: none;
        z-index: 1;
    }
    .structurearea1{
        left: 285px;
        top: 201px;
    }
    .structurearea2{
        left: 286px;
        top: 265px;
    }
    .structurearea3{
        left: 234px;
        top:265px;
    }
    .structurearea4{
        left: 198px;
        top: 202px;
    }
    .structurearea5{
        left: 151px;
        top: 202px;
    }
    .structurearea6{
        left: 234px;
        top: 202px;
    }
    .structurearea7{
        left: 689px;
        top: 155px;
    }
    .structurearea8{
        left: 689px;
        top: 254px;
    }
    .structurearea9{
        left: 641px;
        top: 40px;
    }
    .structurearea10{
        left: 579px;
        top: 40px;
    }
    .structurearea11{
        left: 486px;
        top: 248px;
    }
    .structurearea12{
        left: 532px;
        top: 248px;
    }
    .structurearea13{
        left: 523px;
        top: 202px;
    }
    .structurearea14{
        left: 479px;
        top: 201px;
    }
    .structurearea15{
        left: 287px;
        top: 79px;
    }
    .structurearea16{
        left: 379px;
        top: 126px;
    }
    .structurearea17{
        left: 334px;
        top: 126px;
    }
    .structurearea18{
        left: 341px;
        top: 78px;
    }
    .structurearea19{
        left: 285px;
        top: 126px;
    }
    .structurearea20{
        left: 690px;
        top: 364px;
    }
    .structurearea21{
        left: 173px;
        top: 265px;
    }



    .powerline-plusBox{
        width: 37px;
        height: 238px;
        position: absolute;left: 15px;top: 59px;
        overflow: hidden;
        .powerline-plus{
            width: 37px;
            height: 238px;
            position: relative;left: 0;top: 0;
            background: url(./images/powerline-plus.png) no-repeat;
        }
        .powerline-plus-red{
            width: 6px;
            height: 238px;
            position: relative;left: 0;top: 0;
            background: url(./images/powerline-plus-red.png) no-repeat;
        }
    }


    .powerline-minusBox{
        width: 95px;
        height: 148px;
        position: absolute;left: 111px;top: 58px;
        overflow: hidden;
        .powerline-minus{
            width: 95px;
            height: 148px;
            position: relative;left: 0;top: 0;
            background: url(./images/powerline-minus.png);
        }
        .powerline-minus-red{
            width: 95px;
            height: 6px;
            position: relative;left: -95px;top: -148px;
            background: url(./images/powerline-minus-red.png);
        }
    }



    


    .line2v37box{
        width: 251px;
        height: 41px;
        position: absolute;left: 345px;top: 44px;
        overflow: hidden;
        .line2v37{
            width: 251px;
            height: 41px;
            position: relative;left: 0;top: 0;
            background: url(./images/line2v37.png) no-repeat;
        }
        .line2v37-red{
            width: 251px;
            height: 42px;
            position: relative;left: 251px;top: -42px;
            background: url(./images/line2v37-red.png) no-repeat;
        }
    }
    
    

    .lineA1twoV62box{
        width: 2px;
        height: 76px;
        position: absolute;left: 289px;top: 130px;
        overflow: hidden;   
        .lineA1twoV62{
            width: 2px;
            height: 76px;
            position: relative;left: 0;top: 0;
            background: url(./images/lineA1twoV62.png);
        }
        .lineA1twoV62-purple{
            width: 2px;
            height: 76px;
            position: relative;left: 0;top: -152px;
            background: url(./images/lineA1twoV62-purple.png);
        }
    }
    

    .lineA2two12box1{
        width: 202px;
        height: 64px;
        position: absolute;left: 290px;top: 270px;
        overflow: hidden;
        .lineA2two12-1{
            width: 202px;
            height: 64px;
            position: relative;left: 0;top: 0;
            background: url(./images/lineA2two12-1.png);
        }
        .lineA2two12-blue1{
            width: 202px;
            height: 64px;
            position: relative;left: 0;top: -128px;
            background: url(./images/lineA2two12-blue1.png);
        }
    }   

    .lineA2two12box2{
        width: 2px;
        height: 78px;
        position: absolute;left: 490px;top: 255px;
        overflow: hidden;
        .lineA2two12-2{
            width: 2px;
            height: 78px;
            position: relative;left: 0;top: 0;
            background: url(./images/lineA2two12-2.png);
        }
        .lineA2two12-blue2{
            width: 2px;
            height: 78px;
            position: relative;left: 0;top: 0;
            background: url(./images/lineA2two12-blue2.png);
        }
    } 


    .linev23box{
        width: 2px;
        height: 202px;
        position: absolute;left: 338px;top: 129px;
        overflow: hidden;
        .linev23{
            width: 2px;
            height: 202px;
            position: relative;left: 0;top: 0;
            background: url(./images/linev23.png) no-repeat; 
        }
        .linev23-blue{
            width: 2px;
            height: 202px;
            position: relative;left:  0;top: 0;
            background: url(./images/linev23-blue.png) no-repeat; 
        }
    }
    
    


    .line31box{
        width: 2px;
        height: 162px;
        position: absolute;left: 527px;top: 46px;
        overflow: hidden;
        .line31{
            width: 2px;
            height: 162px;
            position: relative;left: 0;top: 0;
            background: url(./images/line31.png); 
        }
        .line31-red{
            width: 2px;
            height: 162px;
            position: relative;left: 0;top: -324px;
            background: url(./images/line31-red.png); 
        }
    }
    
    .circle1{
        width: 10px;
        height: 10px;
        position: absolute;left: 523px;top: 39px;
        background: url(./images/circleblack.png); 
    }
    .circle1-red{
        width: 10px;
        height: 10px;
        position: absolute;left: 523px;top: 39px;
        background: url(./images/circlered.png); 
    }
    .circle2{
        width: 10px;
        height: 10px;
        position: absolute;left: 334px;top: 327px;
        background: url(./images/circleblack.png); 
    }
    .circle2-blue{
        width: 10px;
        height: 10px;
        position: absolute;left: 334px;top: 327px;
        background: url(./images/circleblue.png); 
    }
    
}
