@charset "utf-8";
@font-face {
    font-family: "UnidreamLED";
    src: local("UnidreamLED"),
    local("UnidreamLED"),
    url("./font/UnidreamLED.ttf") format("truetype"),
    url("./font/UnidreamLED.svg#UnidreamLED") format("svg"),
    url("./font/UnidreamLED.ttf") format("truetype"),
    url("./font/UnidreamLED.woff") format("woff");
}
.temperature-contain{
    position: absolute;
    width:1024px;
    height: 605px;
    top: 0px;
    left: 0px;
    // z-index: 6;
    overflow:hidden;
    .temperature-wrap{
        width: 896px;
        height: 450px;
        overflow: hidden;
        position: relative;
        // z-index: 9;
        margin-left: 64px;
        margin-top: 70px;
        #mask-temperature {
            position: absolute;
            width:137px;
            height: 201px;
            top: 80px;
            left: 290px;
            z-index: 12;
            /*overflow:hidden;*/
            .temperature {
                position: absolute;
                left:0px;
                width: 137px;
                height: 201px;
                float: left;
                /*overflow: hidden;*/
                background: url(./images/temperature.png) no-repeat 0 0;
                .temperature-top {
                    position:absolute;
                    width: 28px;
                    height: 30px;
                    top:20px;
                    left:55px;
                    -ms-transform:rotate(-16deg);     /* IE 9 */
                    -moz-transform:rotate(-16deg);    /* Firefox */
                    -webkit-transform:rotate(-16deg); /* Safari 和 Chrome */
                    -o-transform:rotate(-16deg);
                    transform:rotate(-16deg) skew(5deg,5deg);
                    line-height:30px;
                    overflow: hidden;
                    text-align:left;
                    color: #454545;
                    font-size:10px;
                    /*font-family:"UnidreamLED";*/
                    font-family:"times new roman";    
                }
            }
            .temperature-coe{ 
                width:20px;
                height:20px;
                text-align:center;
                position:absolute;
                top: 0px;
                color: #f1a703;
                right:61px;
                font-size: 16px;
            }
        }
        .temperatureRed {
            position: absolute;
            width: 108px;
            height: 15px;
            top: 97px;
            left:205px;
            z-index:11;
            background: url(./images/temperatureRed.png) no-repeat 0 0;
        }
        .hhjtemperatureRed-hotspot {
            position: absolute;
            top: 90px;
            left: 310px;
            width: 20px;
            height: 40px;
            background: #000;
            opacity: 0;
            cursor: move;
            z-index: 12;
        }
    }
}