<div class="welcome-wrap" *ngIf="!showOrHide">

</div>
<div class="container " *ngIf="showOrHide">
    
    <!--导航 e-->
    <!--概述 功能 原理 结构 s-->
    <div class="main">
        <!--包含内容-->
        <div class="main-content">
            <function [ngClass]="{'hidden':!(showpage==='function')}"></function>
            <structure [ngClass]="{'hidden':!(showpage==='structure')}"></structure>
            <principle [ngClass]="{'hidden':!(showpage==='principle')}"></principle>
            <test [ngClass]="{'hidden':!(showpage==='test')}"></test>
        </div>
        <!--文本按钮-->
        <!--<popup ></popup>-->

        <!--声音按钮-->
        <!--<audio-center ></audio-center>-->
        <!--控制中心按钮-->


        <!--右侧文本框-->


    </div>
    <ctrl-center></ctrl-center>
    <!--<sidebar-tool></sidebar-tool>-->
    <handle-error></handle-error>
    <dashboard></dashboard>
    
    <!--功能 结构原理 检测 e-->
    <!--上一步，下一步 s-->
    
    <!--上一步，下一步 e-->
</div>
