html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p {
  margin: 0;
  padding: 0;
  border: none;
  background: none; }

input, button, select, textarea {
  outline: none; }

li {
  list-style: none; }

img {
  border: none; }

textarea {
  resize: none; }

body {
  color: #666;
  background: #fff;
  word-break: break-all;
  word-wrap: break-word; }

body, input, textarea, button {
  font-size: 14px;
  font-family: \5FAE\8F6F\96C5\9ED1,Verdana,Arial; }

a {
  color: #305999;
  text-decoration: none;
  outline: none; }

* {
  word-break: break-word; }

/*comm========================================================================================================*/
.hide-important {
  display: none !important; }

.cursor-pointer {
  cursor: pointer; }

/*body========================================================================================================*/
body {
  width: 1024px;
  height: 580px;
  margin: 0 auto; }

.container {
  position: relative;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 580px;
  background: #f5fcea;
  margin: 0px auto;
  overflow: hidden; }

/*header======================================================================================================*/
.header {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  color: #555555;
  border-bottom: 1px solid #c0c4ba;
  box-shadow: 1px -1px 3px; }
  .header a {
    display: inline-block;
    margin: 17px 10px;
    width: 108px;
    height: 35px;
    color: #555555;
    font-weight: bold;
    text-align: center;
    line-height: 33px; }
  .header button {
    display: inline-block;
    float: right;
    line-height: 50px;
    margin-right: 20px;
    font-size: 14px;
    color: #555555; }
  .header .header-button-bg {
    background: url(./images/bg_wrap.png) 0px 0px no-repeat;
    color: #ffffff; }

/*main======================================================================================================*/
.main {
  width: 1024px;
  height: 450px;
  margin-top: 20px;
  position: relative;
  /*main-box*/
  /*audio-button*/
  /*text-button*/
  /*text-box*/
  /*alert-box*/ }
  .main .main-content {
    width: 896px;
    height: 450px;
    border: 1px #2c2c2c solid;
    background: #FFFFFF;
    margin: 0 auto; }
  .main .audio_button {
    width: 30px;
    height: 28px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: url(./images/bg_wrap.png) -225px -42px no-repeat; }
    .main .audio_button:hover {
      background-position: -224px -79px; }
  
 .main .alert-wrap {
    position: absolute;
    left: 64px;
    top: 1px;
    width: 756px;
    height: 310px;
    padding: 70px;
    background: url(./images/alert_wrap_bg.png) no-repeat;
    display: table-cell;
    vertical-align: middle; }
    .main .alert-wrap .close {
      position: absolute;
      right: 3px;
      top: 3px;
      color: #777777;
      cursor: pointer; }
      .main .alert-wrap .close:hover {
        color: #000000; }
    .main .alert-wrap img {
      float: left; }
    .main .alert-wrap .text-box {
      float: right;
      width: 320px;
      height: 300px;
      overflow-y: auto;
      font-size: 15px;
      display: inline-block;
      line-height: 25px; }
    .main .alert-wrap p {
      color: #333333;
      font-size: 15px;
      display: inline-block;
      line-height: 25px; }
      .main .alert-wrap p span {
        display: block;
        text-indent: 2em; }
/*last,next================================================================================================*/
.foot {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  margin: 15px auto 0px; }
  .foot a {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 0 12px;
    background: url(./images/bg_wrap.png) -108px 0px no-repeat;
    color: #ffffff; }
    .foot a:hover {
      background-position: -213px 0px; }

/*此功能不可用弹出警告框 ==========================================================================================================*/
.resistanceWarn {
  width: 1025px;
  height: 529px;
  position: absolute;
  left: 0px;
  top: 51px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.resistanceWarn span.resistanceWarn-alert {
  display: block;
  width: 300px;
  height: 200px;
  background: #212121;
  margin: 150px auto;
  text-align: center; }

.resistanceWarn span.resistanceWarn-alert p {
  width: 100%;
  position: relative;
  top: 50px;
  left: 0px;
  line-height: 24px;
  font: 14px "microsoft yahei";
  color: #FFFFFF; }

.resistanceWarn span.resistanceWarn-alert button {
  width: 80px;
  height: 30px;
  background: #000000;
  color: #FFFFFF;
  position: relative;
  top: 120px; }

.resistanceWarn span.resistanceWarn-alert button:hover {
  background: #FFFFFF;
  color: #000000; }

/*# sourceMappingURL=comm.css.map */


.z-index-100{
  z-index: 100;
}
.opacity{
    opacity: 0;
}
.hidden{
  display: none;
}

/*welcome S================================================================================================*/
.welcome { width: 1024px; height: 580px; background: url(./images/welcome.png) no-repeat; position: relative; }
.welcome button { position: absolute; bottom: 10px; left: 50%; margin-left: -42.5px; width: 85px; height: 125px; line-height: 160px; color: #FFFFFF; background: url(./images/bg_wrap.png) -318px 0px no-repeat; }

/*welcome E================================================================================================*/
