<div class="container " *ngIf="showOrHide">
    <div class="header">
        <div>
            <div class="line"></div>
            <div class="logo" [style.background-image]="1 ? 'url('+ './assets/images/logo_5ling.png'+')': 'grey'"></div>
            <div class="logo logo2" [style.background-image]="1 ? 'url('+ './assets/images/logo_baojun.png'+')': 'grey'"></div>
        </div>
        <!--<div *ngIf="appService.state.current.logo">
            <div class="line"></div>
            <div class="logo" [style.background-image]="1 ? 'url('+ appService.state.current.logo+')': 'grey'"></div>
        </div>-->
        <h1>【底盘机械系统】</h1>
    </div>

    <div class="main">
        <!--包含内容-->
        <div class="main-content">
            <sk-single *ngIf="appService.state.current.template==='single'"></sk-single>
            <sk-chart *ngIf="appService.state.current.template==='chart'"></sk-chart>
            <sk-multiple *ngIf="appService.state.current.template==='multiple'"></sk-multiple>
            <sk-video *ngIf="appService.state.current.template==='video'"></sk-video>

            <sk-profile *ngIf="appService.state.current.template==='profile'"></sk-profile>
            <sk-info *ngIf="appService.state.current.template==='info'"></sk-info>
            <lg-target *ngIf="appService.state.current.template==='target'"></lg-target>


            <fjz-info *ngIf="appService.state.current.template==='fjzinfo'"></fjz-info>
            <fjz-ic-hc-mis-bc *ngIf="appService.state.current.template==='fjz_hc_mis_bc'"></fjz-ic-hc-mis-bc>
            <lee-ic-hc-mis-bc *ngIf="appService.state.current.template==='lee_hc_mis_bc'"></lee-ic-hc-mis-bc>
            <fjz-ic-hc-mi *ngIf="appService.state.current.template==='fjz_hc_mi'"></fjz-ic-hc-mi>
            <lee-ic-hc-mi *ngIf="appService.state.current.template==='lee_hc_mi'"></lee-ic-hc-mi>
            <lee-ic-hc-mis *ngIf="appService.state.current.template==='lee-hc-mis'"></lee-ic-hc-mis>
            <fjz-ic-hc-mis *ngIf="appService.state.current.template==='fjz-hc-mis'"></fjz-ic-hc-mis>
            <fjz-ic-lc-ri *ngIf="appService.state.current.template==='fjz_lc_ri'"></fjz-ic-lc-ri>
            <lee-ic-lc-ri *ngIf="appService.state.current.template==='lee_lc_ri'"></lee-ic-lc-ri>
            <lee-ic-hc-mis-bsc *ngIf="appService.state.current.template==='lee_hc_mis_bsc'"></lee-ic-hc-mis-bsc>
            <fjz-ic-hc-mis-bsc *ngIf="appService.state.current.template==='fjz_hc_mis_bsc'"></fjz-ic-hc-mis-bsc>
            <sort-pro *ngIf="appService.state.current.template==='sort'"></sort-pro>
            <drag-and-drop *ngIf="appService.state.current.template==='drag-and-drop'"></drag-and-drop>
            <itemize-flyin *ngIf="appService.state.current.template==='itemize'"></itemize-flyin>
            <switch-img *ngIf="appService.state.current.template==='switch-img'"></switch-img>
            <switch-two-img *ngIf="appService.state.current.template==='switch-two-img'"></switch-two-img>
            <transmission-ratio *ngIf="appService.state.current.template==='transmission'"></transmission-ratio>
            <target-more *ngIf="appService.state.current.template==='target-more'"></target-more>
        </div>
    </div>
    <div class="foot">
        <!--目录按钮-->
        <cata-log class="chapter"></cata-log>
        <close-window></close-window>
        <!--分页-->
        <sg-pagination></sg-pagination>
    </div>
</div>
