
	.indexBg {
		width:100%;
		height:100%;
		background-color:#f3f3f3;
		.container_top {
			margin: 0 auto;
			width: 100%;
			height:65px;
			background-color:#000;
			position: absolute;left:0;top:0;
			.top {
				position: relative;left:0;top:0;
				z-index:2;
				.top-logo {
					position: absolute;
					top: 7px;
					left: 243px;
					width: 103px;
					height: 41px;
					.logo{
						width:100px;
						height:41px;
					}
				}
				.top-menu {
					position: absolute;
					top: 10px;
					left: 140px;
					color: #fff;
					font-size: 14px;
					.practiceClassActivebox{
						width: 90px;
						height: 241px;
						position: absolute;
						left: 298px;
						top: -15px;
						.practiceClass{
							width:90px;
							height:70px;
							position:absolute;left:0;top:0;
							cursor:pointer;
							.course{
								position:absolute;left:17px;top:20px;color:#fff;
							}
						}
						.practiceClassActive{
							width:90px;
							height:70px;
							position:absolute;left:0;top:0;
							.course{
								position:absolute;left:17px;top:20px;color:#fff;
							}
						}
						.practiceClassActive:hover{
							background-color:#09aced;
							opacity:1;
							color: #fff;
						}
						#menubellbox{
							width:90px;
							height:auto;
							position:absolute;left:0;top:63px;
							display:none;
							z-index:2;
							.changepasswordnav{
								width: 72px;
								height: 34px;
								text-align: center;
								line-height: 34px;
								float:left;
								position:relative;top:7px;left:18px;
								border:1px dotted #fff;
							}
							.main-menuBell {
								width: 90px;
								height: 34px;
								text-align: center;
								line-height: 34px;
								cursor: pointer;
								background:#09aced;
								float:left;
								position:relative;top:7px;
							}
							.main-menuBellActive{
								width: 90px;
								height: 34px;
								text-align: center;
								line-height: 34px;
								cursor: pointer;
								float:left;
								position:relative;top:7px;
								background:#0784b4;
							}
						}

					}

					.mergeCoursebox{
						width: 90px;
						height: 138px;
						position: absolute;
						left: 388px;
						top: -15px;
						.mergeCourse{
							width:90px;
							height:70px;
							position:absolute;left:0;top:0;
							cursor:pointer;
							.course{
								position:absolute;left:11px;top:20px;color:#fff;
							}
						}
						.mergeCourse:hover{
							background-color:#09aced;
							color: #fff;
						}
					}
					
					
					.blue{
						background-color:#09aced;	
					}
					
					.mystudyClassbox{
						width: 90px;
						height: 138px;
						position: absolute;
						left: 478px;
						top: -15px;
						.mystudyClass{
							width:90px;
							height:70px;
							position:absolute;left:0;top:0;
							cursor:pointer;
							.course{
								position:absolute;left:18px;top:20px;color:#fff;
							}
						}
						.mystudyClass:hover{
							background-color:#09aced;
							color: #fff;
						}
						.mystudyClassActive{
							width:90px;
							height:70px;
							position:absolute;left:0;top:0;
							.course{
								position:absolute;left:11px;top:20px;color:#fff;
							}
						}
						#menubellboxmystudy{
							width:90px;
							height:auto;
							position:absolute;left:0;top:63px;
							display:none;
							.main-menuBell {
								width: 90px;
								height: 34px;
								text-align: center;
								line-height: 34px;
								cursor: pointer;
								background:#09aced;
								float:left;
								position:relative;top:7px;
							}
							.main-menuBellActive{
								width: 90px;
								height: 34px;
								text-align: center;
								line-height: 34px;
								cursor: pointer;
								float:left;
								position:relative;top:7px;
								background:#0784b4;
							}
						}
					}
					.helpbox{
						width: 90px;
						height: 144px;
						position: absolute;
						left: 568px;
						top: -20px;
						.help {
							position: absolute;
							top: 5px;
							left: 0;
							width: 90px;
							height: 70px;
							color: #fff;
							text-align: center;
							line-height: 80px;
							cursor: pointer;
						}
						.help:hover {
							background-color:#09aced;
						}
						#menubellboxhelp{
							width:90px;
							height:auto;
							position:absolute;left:0;top:68px;
							display:none;
							z-index:2;
							.helpnav{
								width: 90px;
								height: 34px;
								text-align: center;
								line-height: 34px;
								cursor: pointer;
								background:#09aced;
								float:left;
								position:relative;top:7px;
							}
							.helpnavActive{
								width: 90px;
								height: 34px;
								text-align: center;
								line-height: 34px;
								cursor: pointer;
								background:#0784b4;
								float:left;
								position:relative;top:7px;
							}
						}
					}
					
					.top-menuSelect {
						float: left;
						text-align: left;
						line-height: 41px;
						color: #666;
						text-decoration: none;
					}
					
					.download {
						position: absolute;
						top: -15px;
						left: 658px;
						width: 124px;
						height: 70px;
						color: #fff;
						text-indent:15px;
						line-height: 80px;
						cursor: pointer;
						.icon_download{
							width:29px;
							background:url(../images/download_deep.png);
							height:38px;
							position:absolute;left:82px;top:17px;
						}
					}
					.download:hover{
						background-color:#09aced;
					}
					.download:hover>.icon_download{
						background:url(../images/download.png)! important;
					}
				}
				.top-portrait {
					position: absolute;
					top: 0px;
					left: 980px;
					width: 60px;
					height: 60px;
					.top-portraitImg {
						position: absolute;
						top: 7px;
						right: 6px;
						width: 46px;
						height: 46px;
						border: 0px;
						border-radius: 50px;
						background: #fff;
						overflow: hidden;
					}
					.top-portraitDrop {
						z-index: 9999;
						display: block;
						position: absolute;
						top: 0;
						right:  -30px;
						width: 100px;
						height: 180px;
						line-height: 70px;
						text-align: center;
						.headlogobox{
							width:100px;
							height:65px;
							background-size:cover;
							position:absolute;left:0;
							cursor:default;
							.headlogo{
								width:46px;
								height:46px;
								border-radius:20px;
								position:absolute;left:27px;top:8px;
							}
							.buttonpersonal{
								width:15px;
								height:10px;
								background:url(../images/uppersonal.png);
								position:absolute;left:78px;top:26px;
								cursor:pointer;
							}
						}
						.headlogobox:hover{
							background-color:#09aced;
						}
						.personalbox{
							width:100px;
							height:120px;
							background:#fff;
							display:none;
							position:absolute;left:0;top:64px;
							.personalname{
								width:100px;
								height:40px;
								cursor:default;
								text-align:center;
								background-color:#09aced;
								color:#fff;
								line-height:40px;
								position:relative;top:0;
							}
							.personalname:hover {
								background: #0784b4;
							}
							.top-portraitDropPass {
								display: block;
								position: absolute;
								top: 40px;
								right: 0px;
								width: 100px;
								height: 40px;
								line-height: 40px;
								cursor: pointer;
								color: #fff;
								background-color:#09aced;
								font-size: 14px;
								text-align: center;
							}
							.top-portraitDropPass:hover {
								background: #0784b4;
							}
							.top-portraitDropExit {
								position: absolute;
								top: 80px;
								right: 0px;
								width: 100px;
								height: 40px;
								line-height: 40px;
								cursor: pointer;
								background-color:#09aced;
								color: #fff;
								font-size: 14px;
								text-align: center;
							}
							.top-portraitDropExit:hover {
								background: #0784b4;
							}
						}
						
					}
				}
				.top-portrait:hover, .top-portraitActive {
					position: absolute;
					top: 0px;
					right: 10px;
					width: 60px;
					height: 60px;
					cursor: pointer;
					background: #262a34;
				}
				
			}
			.underlinetext{
				width:735px;
				height:1px;
				background-color:#09aced;
				position:absolute;left:275px;top:119px;
				z-index:1;
			}
			.currentcourselist{
				position:absolute;left:25px;
				.circletext{
					width:4px;
					height:4px;
					background-color:#09aced;
					border-radius:50%;
					position:absolute;left:586px;top:117px;
					z-index:3;
				}
				.circletextanother{
					width:4px;
					height:4px;
					background-color:#09aced;
					border-radius:50%;
					position:absolute;left:715px;top:117px;
					z-index:3;
				}
				.currentcourse{
					width:153px;
					height:34px;
					border:1px solid #09aced;
					position:absolute;left:575px;top:100px;
					z-index:1;
					background:#fff;
					text-align:center;
					line-height:34px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			.main-menu {
				width: 100%;
				height: 50px;
				position: absolute;
				top: 65px;left:0;
				color:#fff;
				background:#f3f3f3;
			}
		}
		.viewbox{
			width:100%;
			height:486px;
			position:absolute;top:115px;
			.container{
				position:relative;

				.main {
					width: 100%;
					height: auto;
				  background: #f3f3f3;
					min-height:528px;
					position: relative;left:0;top:0;
					background:#f3f3f3;
					.main-content {
						width: 1000px;
						min-height: 486px;
						height:auto;
					    margin:5px 0px 0px 100px;
						position: absolute;
						top: 40px;
						// left: 125px;
						.promp{
						    position: absolute;
						    top: 0;
						    left: 0;
						    width:820px;
						    height:486px;
						    .panel{
								width:560px;
								height:160px;
								position:absolute;left:140px;top:75px;
								.form-group{
									margin:20px;
									.form-controlinput{
										width:360px;
										margin-left: 30px;
										background:#fff;
									}
									.form-controlinput2{
										width:360px;
										margin-left: 23px;
										background:#fff;
									}
									.inputpassword{
										color:#000;
									}
									input{
										height:30px;
										width:242px;
										background:none;
										border:1px solid #fff;
										text-indent:10px;
										color:#000;
									}

								}
								.center-block{
									height:30px;
									color:#fff;
									width:360px;
									background-color: #09aced;
									position:absolute;left:100px;top:135px;
								}
								.center-block-grey{
									height:30px;
									color:#fff;
									width:360px;
									background-color: grey;
									position:absolute;left:100px;top:135px;
									cursor:default;
								}
						}
					}
						.main-section {
							width: 900px;
							height:200px;
							position: relative;
						  top:0px;

							.main-sectionTitle {
								position: relative;
								width: 900px;
								height: 90px;
								cursor: pointer;
								.listbox{
									min-width:100px;
									width:auto;
									height:35px;
									position:relative;left:334px;top:0;
									background:#fff;
									float:left;
									margin-left:10px;
									.courseImg{
										width:160px;
										height:70px;
										position:absolute;left:0;top:0;
									}
									.care{
										position:absolute;left:134px;top:0;
									}
									.tit {
										position: absolute;
										top: 0;
										left: 0;
										min-width:100px;
										width:auto;
										line-height:35px;
										height:35px;
										border:1px solid #09aced;
										text-align:center;
										margin: 0;
										font-size: 12px;
										color: #000;
										overflow:hidden;
										white-space:nowrap;
										text-overflow:ellipsis;
										.sectionTitle-icon {
											margin-left: 40px;
										}
									}
									.point1{
										width:4px;
										height:4px;
										background-color:#09aced;
										border-radius:50%;
										position:relative;left:1px;top:18px;
										z-index:3;
									}
									.pointanother{
										width:4px;
										height:4px;
										background-color:#09aced;
										border-radius:50%;
										position:relative;left:95px;top:14px;
										z-index:3;
									}
								}
							}
							#section{
								width:900px;
								height:390px;
								position:absolute;top:40px;
								#tabcont{
									width:900px;height:390px;
									position:absolute;left:0;top:0;
									#Ctab_tab1{
										width:200px;
										height:200px;
										position:relative;left:0;top:0;
										margin-left:20px;
										float:left;
										.main-sectionCon {
											position: relative;
											width: 180px;
											height: 135px;
											background:#01c8ff;
											margin:10px;
											cursor: pointer;
											.Ctit {
												position: absolute;
												left: 11px;
												top:17px;
												width: 139px;
												height: 40px;
												line-height: 40px;
												color: #fff;
												text-align:center;
												font-size: 17px;
												overflow:hidden;
												white-space:nowrap;
												text-overflow:ellipsis;
											}
											.Ctit:hover {
												cursor:pointer;
											}
											.Ctit-show {
												position: absolute;left:112px;
												top: 73px;
												width:50px;
												height:48px;
											}
										}
										.courseName{
											margin-left:10px;
											overflow: hidden;
											white-space: nowrap;
											text-overflow: ellipsis;
										}
										.clock{
											position:relative;top:2px;left:10px;
										}
										.duration{
											width: 130px;
											height: 30px;
											position: relative;
											top: -19px;
											left: 42px;
											font-family: "UnidreamLED";
										}
										.underline{
											width:180px;
											height:1px;
											position:absolute;top:195px;left:10px;
											background-color:#999;
										}
									}
									#Ctab_tab1:hover{
										background:#fff;
									}
									#Ctab_tab1:hover>.underline{
										display:none;
									}
								}
								.main-sectionTitle:hover {
									position: relative;
									width: 900px;
									height: 40px;
									background: #6b758a;
								}
								
						}	}
						
					}
				}
				.study {
					width: 900px;
					height: 390px;
					position: absolute;
					top:0px;
					left:0px;
					.study-demoOn {
						width:200px;
						height:231px;
						position:relative;
					    left:0;top:0;
						margin-left:20px;
						float:left;
					    font-size: 12px;
						.study-content{
							position: relative;
							width: 180px;
							height: 135px;
							background:#01c8ff;
							margin:10px;
						    cursor:pointer;
							.Study-show{
								position:absolute;left:112px;top:68px;
							}
							.describe_font{
								position:absolute;top:70px;left:10px;
								font-size:10px;
								color:#fff;
								span{
									margin-left:5px;
								}
							}
							.describe_fontanother{
								position:absolute;top:88px;left:10px;
								color:#fff;
								font-size:10px;
								span{
									margin-left:5px;
								}
							}
							.study-demoOnTimeyear {
								width: 90px;
								height: 20px;
								font-size:13px;
								position: absolute;
								top: 145px;
								left: 116px;
								color:#000;
							}
							.study-demoOnTitle {
								width: 139px;
								height: 30px;
								position: absolute;
								top: 25px;
								left: 15px;
								overflow:hidden;
								white-space:nowrap;
								text-overflow:ellipsis;
								color:#fff;
								font-size:17px;
							}
							.study-demoOnProgressBarNum {
								width: 180px;
								height: 10px;
								position: absolute;
								top: 126px;
								left: 0;
								color: #fff;
								line-height: 30px;
								.talkpromp{
									width:40px;
									height:34px;
									background:url(../images/talkpromp.png);
									position:absolute;left:0;top:-32px;
									.percent{
										color:#000;
										font-size:8px;
										display:block;text-align:center;
									}
								}
								progress { border-left: 1px #ccc solid; border-right: 1px #ccc solid; border-top: 1px #aaa solid; background-color: #eee;
								height:6px;width:180px;position:absolute;top:3px;left:0;
								}
								progress::-webkit-progress-bar { background-color: #dedede; } progress::-webkit-progress-value { background-color: #159a01;
								float:left;
								}
							}
						}
						.study-demoOnTitle1{
							color:#000;
							width:100px;
							margin-left:10px;
							overflow:hidden;
							white-space:nowrap;
							text-overflow:ellipsis;
						}
						.clock{
							position:relative;left:10px;top:3px;
						}
						.study-demoOnCare {
							width: 150px;
							height: 30px;
							position: relative;
							top: -16px;
							left: 37px;
							color: #000;
							font-family: "UnidreamLED";
						}
						.study-demoOnCon {
							width: 90px;
							height: 30px;
							position: absolute;
							top: 170px;
							right: -15px;
							color:#000;
							font-size:12px;
							line-height:30px;
							.font20{
								color:#f00;
								font-size:14px;
							}
						}
					    .study-detail{
						  width: 84px;
						  height:20px;
						  position:relative;top:-20px;left:123px;
						}
					    .study-detail a{
						  color:#00c8ff;
						  padding:3px 8px;
						  cursor:pointer;
						  border:1px solid #e0dfdf;
					    }
						.underline{
							width:180px;
							height:1px;
							background-color:#999;
							position:relative;top:-11px;left:10px;
						}
					}
					.study-demoOn:hover{
						background:#fff;
					}
					.study-demoOn:hover>.underline{
						display:none;
					}
				}
				.containerhelp {
					width: 820px;
					position: relative;top:10px;
					height: auto;
					min-height: 480px;
					background:#fff;
					.navlist{
						min-width:100px;
						width:auto;
						height:30px;
						position:relative;left:-10px;top:-43px;
						background:#fff;
						border: 1px solid #09aced;
						line-height:30px;
						float:left;
						color:#000;
						z-index:3;
						padding:0 10px;
						margin-left:10px;
						cursor:pointer;
						text-align:center;
					}
					.point{
						width:4px;
						height:4px;
						background-color:#09aced;
						border-radius:50%;
						position:relative;left:-6%;top:-16px;
						z-index:3;
					}
					.pointanother{
						width:4px;
						height:4px;
						background-color:#09aced;
						border-radius:50%;
						position:relative;left:102%;top:-20px;
						z-index:3;
					}
					.title {
						width: 75px;
						height: 40px;
						line-height: 40px;
						font-size: 10px;
						color:#000;
						position: absolute;left:686px;top:0px;
					}
					.question{
						position: absolute;left:750px;
					}
					.littleTitle {
						width: 820px;
						height: 40px;
						line-height: 40px;
						font-size: 14px;
						text-align: center;
						cursor: pointer;
						color: #fff;
						clear:both;
						margin-top:10px;
						background:#09aced;
						position:relative;left: 0;top:-32px;
						.img {
							position: absolute;
							left: 515px;
							margin-top: 13px;
						}
					}
					.content {
						width: 820px;
						color:#000;
						position:relative;left:0;top:-20px;
						.content-word {
							height: 25px;
							line-height: 25px;
							text-align: left;
							margin-left: 20px;
						}
						.content-word2{
							margin-top: 25px;
						}
						.content-img {
							width: 730px;
							height:309px;
							margin-left: 20px;
							margin-top: 30px;
							text-align: center;
							img{
								width:auto;
								max-width: 100%;
								max-height: 100%;
								height:auto;
							}
						}
					}
				}
			}
		}
		
		
		.paginator{
			width:auto;
			height:23px;
			position:absolute;bottom:1%;left:58%;
			margin-left:-148px;
			float:left;
			ul{
				height:23px;
				float:left;
				li{
					float:left;
					display:none;
					margin-left:10px;
					width:23px;
					height:23px;
					line-height:23px;
					background-color:#000;
					color:#fff;
					text-align:center;
					cursor:pointer;
				}
				.first{
					color:#000;
					background-color:#f3f3f3;
				}
				li:hover{
					background-color:#09aced !important;
				}
			}
			.next{
				width: 23px;
				height: 23px;
				text-align: center;
				position: absolute;
				top: 0;
				float:left;
				line-height: 23px;
				background-color: #000;
				color: #fff;
				cursor: pointer;
				img{
					position:relative;top:0px;
				}
			}
			.next:hover{
				background-color:#09aced !important;
			}
			.prev{
				width: 23px;
				height: 23px;
				text-align: center;
				position: absolute;
				left: -24px;
				top: 0;
				cursor:default;
				line-height: 23px;
				background-color: #000;
				color: #fff;
				cursor: pointer;
				img{
					position:relative;top:0px;
				}
			}
			.prev:hover{
				background-color:#09aced !important;
			}
		}

		.videoBox{
			width: 640px;
			height: 360px;
			position: absolute;left: 50%;top: 170px;
			margin-left: -350px;
			z-index: 10;
			.closeVideo{
				width: 15px;
				height: 15px;
				background: url(../images/close.png) no-repeat;
				position: absolute;left: 610px;top: 10px;
				cursor: pointer;
			}
		}
	}
	#mask-download {
		position: absolute;
		margin: 100px auto;
		width: 450px;
		height: 350px;
		background: #fff;
		overflow:hidden;
		z-index: 9999;
		top: 50%;
		left: 50%;
		margin-left: -225px;
		margin-top: -150px;
		.download-menu {
			width: 450px;
			height: 36px;
			position: absolute;
			top: 14px;
			left: -32px;
			background:url(../images/download_bg.png) no-repeat;
			cursor: pointer;
			text-align: center;
			line-height: 45px;
			color: #000;
		}
		.download_font{
			display:block;
			position:absolute;left:50%;top:70px;margin-left:-35px;
		}
		.download-main {
			margin: 110px auto;
			width: 360px;
			height: 200px;
			overflow: hidden;
			background: #fff;
			border: 0;
			a {
				text-decoration: none;
				color: black;
				.download-bell {
					position: relative;left:20px;
					width: 250px;
					height: 35px;
					top:-5px;
					margin-top:10px;
					margin-bottom: 10px;
					overflow: hidden;
					background: #fff url("../images/download_deep.png") no-repeat 253px -2px;
					border: 1px solid #01c8ff;
					padding-right: 70px;
					line-height: 35px;
					text-indent:160px;
					border-radius: 0px;
					text-align: left;
					cursor: pointer;
					box-sizing: content-box;
					.download-logo {
						position: absolute;
						top: 10px;
						left: 40px;
					}
					.download-browser {
						position: absolute;
						top: 5px;
						left: 48px;
					}
				}
				.download-bell:hover {
					background: #09aced url("../images/download.png") no-repeat 253px -2px;
				}
			}
		}
		.downloadCoe {
			position: absolute;
			top: 16px;
			right: 16px;
			width: 35px;
			height: 31px;
			background: url(../images/pop_close.png) no-repeat 0 0;
			cursor: pointer;
		}
	}
	.paging{
	  clear: both;
	  width:100%;
	  padding-left:80px;
	  span{
		margin: 0px 4px 0px 4px;
		min-width: 30px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		display:inline-block;
		cursor: pointer;
		border: 1px solid #e1e2e3;
	  }
	  span:hover{
		border: 1px solid #38f;
	  }
	}
.videoShade{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;top: 0;
	z-index: 9;
	opacity: 0.5;
	background: #666;
}