<div class="body-4">
    <div class="header-content" [ngStyle]="pageData.content.head?.style">
        <h1> {{pageData.content.head.title}} </h1>
        <p *ngFor="let key of pageData.content.head.p_contents | keys">
            <span *ngFor="let item of pageData.content.head.p_contents[key]" [ngStyle]='item.style'> 
                {{item.content}}
            </span>
        </p>
    </div>
    <div class="foot-img-lists" style="position: relative;">
        <span   *ngFor="let animation of animationTag" id="{{animation?.id}}" [ngStyle]="animation?.startStyle">
            {{animation?.content}}
        </span>
        <p [@flyIn]="'right'"  *ngFor="let item of pageData.content.imgs">
            <span class='word' [ngStyle]="item?.top?.style">{{item?.top?.content}}</span>
            <img src="{{item?.img}}" [ngStyle]="pageData.content.imgStyle">
            <span class='word' [ngStyle]="item?.bottom?.style">{{item?.bottom?.content}}</span>
        </p>
    </div>

    <div class="foot-content">
        <div *ngFor="let key of pageData.content.p_contents | keys">
            <span *ngFor="let item of pageData.content.p_contents[key]" [ngStyle]='item.style'> 
                {{item.content}}
            </span>
        </div>
    </div>
</div>