
@charset "utf-8";
@font-face {
    font-family: "UnidreamLED";
    src: local("UnidreamLED"),
    local("UnidreamLED"),
    url("font/UnidreamLED.ttf") format("truetype"),
    url("font/UnidreamLED.svg#UnidreamLED") format("svg"),
    url("font/UnidreamLED.ttf") format("truetype"),
    url("font/UnidreamLED.woff") format("woff");
}
.multimeter-contain{
    position: absolute;
    width:896px;
    height: 450px;
    top: 71px;
    left: 63px;
    overflow: hidden;
}
#mask-multimeter {
    position: absolute;
    width:144px;
    height: 300px;
    top: 80px;
    left: 290px;
    z-index: 12;
    overflow:hidden;
}
.multimeter {
    position: absolute;
    left:0px;
    width: 143px;
    height: 320px;
    float: left;
    overflow: hidden;
    background: url(./images/multimeter.png) no-repeat 0 0;
}
.multimeterRed {
    position: absolute;
    width: 27px;
    height: 244px;
    top: 97px;
    left:428px;
    z-index:11;
    background: url(./images/3670412.png) no-repeat 0 0;
}
.multimeterBlack {
    position: absolute;
    width: 27px;
    height: 244px;
    top: 97px;
    left:272px;
    z-index:11;
    background: url(./images/36704121.png) no-repeat 0 0;
    overflow: hidden;
}
.multimeterjiaziRed {
    position: absolute;
    width: 27px;
    height: 244px;
    top: 97px;
    left:428px;
    z-index:11;
    background: url(./images/clip_r.png) no-repeat 0 0;
}
.multimeterjiaziBlack {
    position: absolute;
    width: 27px;
    height: 244px;
    top: 97px;
    left:272px;
    z-index:11;
    background: url(./images/clip_b.png) no-repeat 0 0;
    overflow: hidden;
}
.opacitybox{
    width: 15px;
    height: 18px;
    background: url(./images/yellow-arrow.png) no-repeat 0 0;
    position: absolute;left: 99px;top: 157px;
    display: none;
}
.opacitybox2{
    width: 15px;
    height: 18px;
    background: url(./images/yellow-arrow.png) no-repeat 0 0;
    position: absolute;left: 40px;top: 129px;
    display: none;
}
.multimeter-top {
    position:absolute;
    width: 97px;
    height: 74px;
    top:15px;
    left:25px;
    line-height:90px;
    overflow: hidden;
    text-align:left;
    color: #454545;
    font-size:28px;
    font-family:"UnidreamLED";
    text-align: center;
}
.showDateUnit{
    position:absolute;
    width: 44px;
    height: 44px;
    top:38px;
    left:84px;
    line-height:44px;
    overflow: hidden;
    text-align:center;
    color: #454545;
    font-size:13px;
    font-weight: bold;
    font-family:"Microsoft YaHei";
}
.circleinfobox{
    width: 41px;
    height: 16px;
    border-radius:16px;
    position: absolute;left: 51px;top: 120px;
    background: #f00;
    display: none;
    opacity: 0.3;  
}
.multimeter-hotarea{
    width: 41px;
    height: 16px;
    border-radius:16px;
    position: absolute;left: 51px;top: 120px;
    z-index: 6;
}
/* 郝立强 2015 05 17 */
.multimeter-topUnit{
    position:absolute;
    width: 40px;
    height: 20px;
    top:75px;
    right:34px;
    line-height:20px;
    overflow: hidden;
    text-align:right;
    color: #454545;
    font-size:12px;
    font-weight: bold;
    font-family:"Microsoft YaHei";
}
.multimeter-rightUnit{
    position:absolute;
    width: 40px;
    height: 20px;
    top:73px;
    right:75px;
    line-height:20px;
    overflow: hidden;
    text-align:right;
    color: #454545;
    font-size:12px;
    font-weight: bold;
    font-family:"Microsoft YaHei";
}
.multimeter-off{
    position:absolute;
    width: 15px;
    height: 15px;
    top:182px;
    right:97px;
    background: #000;
    opacity: 0;
}
.multimeter-vv{
    position:absolute;
    width: 15px;
    height: 15px;
    top:161px;
    right:99px;
    background: #000;
    opacity: 0;
}
.multimeter-v{
    position:absolute;
    width: 15px;
    height: 15px;
    top:144px;
    right:90px;
    background: #000;
    opacity: 0;
}
.multimeter-mv{
    position:absolute;
    width: 15px;
    height: 15px;
    top:134px;
    right:73px;
    background: #000;
    opacity: 0;
}
.multimeter-k{
    position:absolute;
    width: 15px;
    height: 15px;
    top:137px;
    right:55px;
    background: #000;
    opacity: 0;
}
.multimeter-nofine{
    position:absolute;
    width: 15px;
    height: 15px;
    top:145px;
    right:37px;
    background: #000;
    opacity: 0;
}
/*.multimeter-AA{
    position:absolute;
    width: 15px;
    height: 15px;
    top:145px;
    right:37px;
    background: #000;
    opacity: 0;
}*/
.multimeter-mA{
    position:absolute;
    width: 15px;
    height: 15px;
    top:160px;
    right:28px;
    background: #000;
    opacity: 0;
}
.multimeter-res{
    position:absolute;
    width: 15px;
    height: 15px;
    top:174px;
    right:27px;
    background: #000;
    opacity: 0;
}
/* 郝立强 2015 05 17  end */
.multimeter-bottom {
    position:absolute;
    width: 80px;
    height: 80px;
    top:139px;
    left:32px;
    overflow: hidden;
    background: url(./images/multimeter_zz.png) no-repeat 0 0;
    transform-origin:center;
}
.multimeter-Red {
    position:absolute;
    width: 30px;
    height: 70px;
    bottom:29px;
    right:17px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background:url(./images/multimeter_r.png) no-repeat 0 0;
    transform-origin:center;
}
.multimeter-black {
    position:absolute;
    width: 30px;
    height: 50px;
    bottom:23px;
    right:19px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background:url(./images/multimeter_b.png) no-repeat 0 0;
    transform-origin:center;
}
.multimeter-coe{ 
    width:25px;
    height:25px;
    text-align:center;
    position:absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    /*font-size:18px;*/
    /*color:#fff;*/
    /*cursor:pointer;*/
    /*z-index: 1112;*/
    background: url(./images/close.png) no-repeat center center;
}
#mask-svg{
    position: absolute;
    top: 71px;
    left: 63px;
    z-index: 6;
}
.hhjmultimeterBlack-hotspot{
    position: absolute;
    top: 300px;
    left: 272px;
    width: 20px;
    height: 40px;
    background: #000;
    opacity: 0;
    cursor: move;
    z-index:12;
    background: #f00;
}
.hhjmultimeterRed-hotspot {
    position: absolute;
    top: 300px;
    left: 430px;
    width: 20px;
    height: 40px;
    background: #000;
    opacity: 0;
    cursor: move;
    z-index: 12;
}
.voltageflash{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f00;
    opacity: 0.5;
    position: absolute;left: 41px;top: 148px;
}
.ohmflash{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f00;
    opacity: 0.5;
    position: absolute;left: 103px;top: 179px;
}
.clickcircle{
    width: 41px;
    height: 16px;
    border-radius:16px;
    position: absolute;left: 51px;top: 120px;
    opacity: 1; 
    background: url(./images/multimeter_button.png) no-repeat 0 0;
}
.buttonflash{
    width: 41px;
    height: 16px;
    /*border-radius:16px;*/
    position: absolute;left: 51px;top: 120px;
    background: #f00;
    opacity: 0.5;
}




