.body{
    box-sizing: border-box;
    width: 100%;
    // min-width: 1024px;
    height: 100%;
    padding-top: 50px;
    padding-left:100px;
    padding-right:100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    .left{
        display: inline-block;
        width: 352px;
        height: 470px;
        overflow: hidden;
        margin-right: 25px;
        vertical-align: top;
        .rowContent{
            margin-top: 40px;
            h1
            {
                color: #000;
                font-size: 20px;
            }
            h2
            {
                margin-top: 26px;
                font-size: 14px;
                font-weight: normal;
                color: #000;
            }
            p{
                span{
                    color: #000;
                    margin-bottom: 30px;
                    font-size: 14px;
                }
            }
        }
    }
    p{
        font-size: 14px;
        color: #aeaeae;
        margin-top: 20px;
    }
    .right{
        margin-top: 31px;
        display: inline-block;
        width: 440px;
        height: 440px;
        overflow: hidden;
       
        .imgContent{
            width: 440px;
            height: 440px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img{
                max-width:440px ;
                max-height: 420px;
            }
            .word{
                color: '#476bac';
                font-size: '18px';
            }
        }

        
    }
}
