<div class="body">
    <div class="left">

        <div class="rowContent" *ngFor="let row of pageData.content.left">
            <h1>
                <span *ngFor="let item of row.title" [ngStyle]='item.style'> 
                    {{item.content}}
                </span>
            </h1>
            <h2>
                <span *ngFor="let item of row.smallTitle" [ngStyle]='item.style'> 
                    {{item.content}}
                </span>
            </h2>
            <p>
                <span *ngFor="let item of row.p_contents" [ngStyle]='item.style'> 
                    {{item.content}}
                </span>
            </p>
        </div>

    </div>
    <div class="right">
        <div class="imgContent">
            <span class='word' [@flyIn]="'right'" [ngStyle]="pageData.content.imgs?.top?.style">{{pageData.content.imgs?.top?.content}}</span>
            <div [@flyIn]="'right'">
                <img class="max" src="{{pageData.content.imgs?.img}}">
            </div>
            <span class='word' [@flyIn]="'right'" [ngStyle]="pageData.content.imgs?.bottom?.style">{{pageData.content.imgs?.bottom?.content}}</span>
        </div>
    </div>
</div>