<div class="container " *ngIf="showOrHide">
        <!--<gy-beacon></gy-beacon>-->
    <div class="header">
        <div>
            <div class="line"></div>
            <div class="logo" [style.background-image]="1 ? 'url('+ './assets/images1/logo_5ling.png'+')': 'grey'"></div>
            <div class="logo logo2" [style.background-image]="1 ? 'url('+ './assets/images1/logo_baojun.png'+')': 'grey'"></div>
        </div>
        <!--<div *ngIf="appService.state.current.logo">
            <div class="line"></div>
            <div class="logo" [style.background-image]="1 ? 'url('+ appService.state.current.logo+')': 'grey'"></div>
        </div>-->
        <h1>【安全常识】</h1>
    </div>
    <div class="main">
        <!--包含内容-->
        <div class="main-content">
            <fjz-ic-hc-mis *ngIf="appService.state.current.template==='fjz-hc-mis'" ></fjz-ic-hc-mis>
            <lgy-ri-lc *ngIf="appService.state.current.template==='lgy_lcri'"></lgy-ri-lc>
            <fjz-ic-lc-ri *ngIf="appService.state.current.template==='fjz_lc_ri'"></fjz-ic-lc-ri>
             <fjz-info *ngIf="appService.state.current.template==='fjzinfo'"></fjz-info>
            <sk-single *ngIf="appService.state.current.template==='single'"></sk-single>
            <sk-profile *ngIf="appService.state.current.template==='profile'"></sk-profile>
            <lg-target *ngIf="appService.state.current.template==='target'"></lg-target>

        </div>
    </div>
    <div class="foot">
        <!--目录按钮 退出-->
        <cata-log class="chapter"></cata-log>
        <close-window></close-window>
        <!--分页 进度-->
        <sg-pagination></sg-pagination>
    </div>
</div>
