@charset "utf-8";
@font-face {
    font-family: "UnidreamLED";
    src: local("UnidreamLED"),
    local("UnidreamLED"),
    url("./font/UnidreamLED.ttf") format("truetype"),
    url("./font/UnidreamLED.svg#UnidreamLED") format("svg"),
    url("./font/UnidreamLED.ttf") format("truetype"),
    url("./font/UnidreamLED.woff") format("woff");
}

.balance-contain{
    width: 308px;
    height: 135px;
    background: url(./images/balance-wrap.png) no-repeat;
    position: absolute;left: 573px;top: 384px;
    z-index: 10;
    .start{
        width: 42px;
        height: 15px;
        background: url(./images/start.png) no-repeat;
        position: relative;left: 234px;top: 38px;
        cursor:pointer;
    }
    .start-active{
        width: 42px;
        height: 15px;
        background: url(./images/start-deep.png) no-repeat;
        position: relative;left: 234px;top: 38px;
        cursor:pointer;
    }
    .select{
        width: 42px;
        height: 15px;
        background: url(./images/select.png) no-repeat;
        position: relative;left: 234px;top: 41px;
        cursor:pointer;
    }
    .select-active{
        width: 42px;
        height: 15px;
        background: url(./images/select-deep.png) no-repeat;
        position: relative;left: 234px;top: 41px;
        cursor:pointer;
    }
    .down{
        width: 18px;
        height: 15px;
        background: url(./images/down.png) no-repeat;
        position: relative;left: 257px;top: 30px;
        cursor:pointer;
    }
    .down-active{
        width: 18px;
        height: 15px;
        background: url(./images/down-deep.png) no-repeat;
        position: relative;left: 257px;top: 30px;
        cursor:pointer;
    }
    .down-gray{
        width: 18px;
        height: 15px;
        background: url(./images/down-gray.png) no-repeat;
        position: relative;left: 257px;top: 30px;
        cursor:pointer;
    }
    .up{
        width: 18px;
        height: 15px;
        background: url(./images/up.png) no-repeat;
        position: relative;left: 235px;top: 45px;
        cursor:pointer;
    }
    .up-gray{
        width: 18px;
        height: 15px;
        background: url(./images/up-gray.png) no-repeat;
        position: relative;left: 235px;top: 45px;
        cursor:pointer;
    }
    .up-active{
        width: 18px;
        height: 15px;
        background: url(./images/up-deep.png) no-repeat;
        position: relative;left: 235px;top: 45px;
        cursor:pointer;
    }
    .power-balance{
        width: 21px;
        height: 22px;
        background: url(./images/power.png) no-repeat;
        position: relative;left: 246px;top: 40px;
        cursor:pointer;
    }
    .power-balance-active{
        width: 21px;
        height: 22px;
        background: url(./images/power-deep.png) no-repeat;
        position: relative;left: 246px;top: 40px;
        cursor:pointer;
    }
    .showpage{
        width: 220px;
        height: 102px;
        position: relative;left:9px;top:-70px;
        // .discharge{
        //     width: 60px;
        //     height: 15px;
        //     position: relative;left: 76px;top: 19px;
        //     text-align: center;
        //     line-height: 15px;
        //     color: #fff;
        //     background: #0000ff;
        // }
        // .charge{
        //     width: 60px;
        //     height: 15px;
        //     position: relative;left: 76px;top: 26px;
        //     text-align: center;
        //     line-height: 15px;
        //     color: #fff;
        //     // background: #0000ff;
        // }
        // .parameter{
        //     width: 60px;
        //     height: 15px;
        //     position: relative;left: 76px;top: 33px;
        //     text-align: center;
        //     line-height: 15px;
        //     color: #fff;
        //     // background: #0000ff;
        // }
        ul{
            position: relative;left: 0;top: 22px;
            li{
                width: 60px;
                height: 15px;
                margin-top: 10px;
                text-align: center;
                line-height: 15px;
                color: #fff;
                margin-left: 76px;
                // background: #0000ff;
            }
            .activebalance{
                background: #0000ff;
            }
            .gray{
                color: #666;
            }
        }
        .selectPage{
            width: 218px;
            height: 100px;
            position: relative;left: 1;top: -59px;
            background: #fff;
            .returnbalance{
                width: 30px;
                height: 30px;
                position: relative;left: 180px;top: 0;
                color: #fff;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                cursor: pointer;
            }
            .table-head{
                width: 218px;
                height: 19px;
                background: #95b3d7;
                position: relative;left: 0;top: 0;
                z-index: 1;
                span{
                    display: inline-block;
                    float: left;
                    height: 16px;
                    width: auto;
                    padding: 1px 2px;
                    font-size: 10px;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                }
                .modelname{
                    border-left: 1px solid #000;
                    width: 24px;
                }
                .realv{
                    width: 48px;
                }
                .setv{
                    width: 48px; 
                }
                .status{
                    width: 24px;
                }
                .balance{
                    width: 48px;
                }
            }
            .table-main{
                width: 218px;
                height: 82px;
                position: relative;left: 0;top: -2px;
                .model{
                    width: 218px;
                    height: 15px;
                    clear: both;
                    span{
                        display: inline-block;
                        float: left;
                        padding: 0 2px;
                        font-size: 10px;
                        border-right: 1px solid #000;
                        border-bottom: 1px solid #000; 
                        text-align: center;
                        height: 16px;
                    }
                    .modelname{
                        border-left: 1px solid #000;
                        width: 24px;
                    }
                    .realv{
                        width: 48px;
                    }
                    .setv{
                        width: 48px;  
                        background: #d9d9d9; 
                    }
                    .status{
                        width: 24px;
                    }
                    .selectyes{
                        width: 48px;
                        background: #d9d9d9;
                    }
                }
            }
        }
    }
    .closebalance{
        width: 20px;
        height: 20px;
        position: absolute;left: 284px;top: 7px;
        color: #f1a703;
        cursor: pointer;
        text-align: center;
        line-height: 20px;
        font-size: 17px;
        z-index: 10;
    }
    .blackscreen{
        width: 218px;
        height: 100px;
        background: #000;
        position: absolute;left: 10px;top: 28px;
    }
    
}
.displayboxbalance{
    width: 800px;
    height: 450px;
    position: relative;left: 64px;top: -450px;
    z-index: 10;
    display: none;
    .closebalanceindisplay{
        width: 20px;
        height: 20px;
        position: absolute;left: 780px;top: 320px;
        color: #fff;
        cursor: pointer;
        text-align: center;
        line-height: 20px;
        font-size: 17px;
    }

}