<div ng-app="modelChoice" ng-controller="fireControll">
    <script type="text/javascript">
        IsSpearker();
    </script>
    <audio src="audio/start1.mp3" id="audios"></audio>
    <audio src="audio/on.mp3" id="audioo" loop="loop"></audio>
    <audio src="audio/bk3500.mp3" id="audiobig" loop="loop"></audio>
    <!--<audio src="audio/didi.mp3" id="audiodidi" loop="loop"></audio>-->
    <div  class="container">
        <div class="steering_meter">

            <div class="meter-bright-center"></div>
            <div class="pattern">
                <span class="driveWay" ></span>
                <span class="model" ></span>
                <span class="panel" ></span>
            </div>
            <div class="meter-bright-left">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="meter-bright-right">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img id="meter_pointer" class="steering_meter_pointer" src="images/meter_pointer.png">
            <img id="meter_pointer" class="speeding_meter_pointer" src="images/meter_pointer.png">

        </div>
        <div class="ignition_switch">
            <img id="switch_stalls" src="images/ignition_switch.png" class="ignition_switch_stalls" onclick="switchStalls()">
        </div>
    <img src="images/lgnition_bg.png" width="925" height="470">
    </div>
    <div class="Prompt_box" id="box" >
        <p class="text-1">
            <button class="btn" id="btn" onclick="closeDiv()">
                ×
            </button>
            <span id="p-con" >根据工单描述，车辆变速箱故障灯点亮且车辆无法行驶，现在请操作车辆确认故障现象。
                </span>
            <span id="p-pro" >[说明：踩下制动踏板，按下点火开关启动车辆；挂入D挡位后松开制动踏板，观察车辆是否能够正常行驶。]
            </span>
        </p>
    </div>
    <span id="popBtn" class="popBtn" onclick="toggleDiv();" ng-hide="data.tips_hide"></span>
</div>

<script>
    var pages5 = 1;
    //总共点击次数
    var ignitionTimes=0;
    footboardBox(0);
    clearTimeout(stallTimer);
    var clickMStatus = false;
    var switch_info = false; 
    $('.accelerator').css('top','15px');
    $('.acceleratorbox').show();
    //裴露婕----20170109
    var stallStatus = true;
    $('.meter-bright-left').find('span').css('display', 'none');
    $('.meter-bright-right').find('span').css('display', 'none');
    function closeStalls(){
        $(".ignition_switch_stalls").attr('src', 'images/ignition_switch_down.png');
        setTimeout(function(){
            $(".ignition_switch_stalls").attr('src', 'images/ignition_switch.png');
        }, 300)
        footboardBox(0);
        $(".meter-bright-center").css('background', 'none');
//        $('.meter-bright-center').text('');
        $("#audios")[0].pause();
        $("#audioo")[0].pause();
        $('.meter-bright-left').find('span').css('display', 'none');
        $('.meter-bright-right').find('span').css('display', 'none');
        // pointerRotate($('.steering_meter_pointer'), 30, 6,100);
        $('.center-gear').text('');
        ignitionTimes = 0;
    }
    var centerStatus = false;var stallOnceStatus = false;var rotateSpeed = 6;var rotateSpeed2 = 6;
    function stallStart(){//没有踩下制动踏板，点击点火开关
        if(pageNum === '005'){
            lamp([1,2,4,5,6,7], [1,2,3,4,7,8,9]);
        }else if(pageNum === '045'){
            lamp([1,2,4,5,6], [1,2,3,4,7,8,9]);
        }
        stallOnceStatus = true;
        $('.meter-bright-center').css('background', 'url(images/center_start.png)');
        setTimeout(function(){
            if(pageNum === '005'){
                lamp([1,2,4,6,7], []);
            }else if(pageNum === '045'){
                lamp([1,2,4,6], []);
                $('.panel').html('N');
            }
            $(".meter-bright-center").css('background', 'url(images/center_later.png)');
            $('.center-gear').show();
            centerStatus = true;
        }, 1500);
    }
    //踩下刹车以后着车
    function carStart() {
        stallOnceStatus = true;
        if($('#speaker').attr('name') === '1'&& openDiagnosticEleven!=1){
            $("#audios")[0].play();
            carOn();  
        }else{
            setTimeout(function(){
                $('.acceleratorbox').hide();
            },5000)
        }
        pointerRotateAnother($('.steering_meter_pointer'), 6, 30,100);
        if(ignitionTimes === 1){
            if(pageNum === '005'){
                lamp([1,2,4,5,6,7], [1,2,3,4,7,8,9]);
            }else if(pageNum === '045'){
                lamp([1,2,4,5,6], [1,2,3,4,7,8,9]);
            }
            $('.meter-bright-center').css('background', 'url(images/center_start.png)');
            setTimeout(function(){
                if(pageNum === '005'){
                    lamp([7], []);
                }else if(pageNum === '045'){
                    lamp([], []);
                    $('.panel').html('N');
                }
                $(".meter-bright-center").css('background', 'url(images/center_later.png)');
                $('.center-gear').show();
            }, 1500)
        } else {
            if(pageNum === '005'){
                lamp([7], []);
            }else if(pageNum === '045'){
                lamp([], []);
                $('.panel').html('N');
            }
            $(".meter-bright-center").css('background', 'url(images/center_later.png)');
            $('.center-gear').show();
            $(".meter-bright-center b").text('');
        }
        stallStatus = false;
        $('#switch_stalls').css('cursor','default');
    }
    function lamp(leftArr, rightArr) {//车辆灯的变化
        $('.meter-bright-left').find('span').css('display', 'none');
        $('.meter-bright-right').find('span').css('display', 'none');
        $.each(leftArr, function(index, item){
            $('.meter-bright-left').find('span').eq(item-1).css('display', 'block');
        })
        $.each(rightArr, function(index, item){
            $('.meter-bright-right').find('span').eq(item-1).css('display', 'block');
        })
    }
    //=========================================end
    //打开开关点火
    function switchStalls(){
        if(stallStatus) {
            clearInterval(switchStallsTimer);
            if(typeof(openDiagnosticEleven) == "undefined" || openDiagnosticEleven === 0){
                $(".ignition_switch_stalls").attr('src', 'images/ignition_switch_down.png');
                setTimeout(function(){
                    $(".ignition_switch_stalls").attr('src', 'images/ignition_switch_up.png');
                }, 500);
            }
            ignitionTimes ++;
            if(typeof(openDiagnosticEleven) != 'undefined' && openDiagnosticEleven == 0){
                ignitionTimes = 0;
            }
            //-----005
            // console.log(pageNum)
            if(pages5 === 1){
                switch_info = true;  
                var status = $('.footboard').attr('name');
                // console.log(status, ignitionTimes, isInNpanel);
                if(status === '1' && ignitionTimes === 1 && isInNpanel){//踩下制动踏板，点击点火开关一次
                    carStart();
                }else if(status === '1' && ignitionTimes === 2 && isInNpanel){//踩下制动踏板，点击点火开关一次
                    carStart();
                }else if(ignitionTimes === 1 && status === '0') {//没有踩下制动踏板点击点火开关一次
                    stallStart();
                    // bottomLockBox(1);
                } else if(ignitionTimes >= 2 && status === '0') {//没有踩下制动踏板点击点火开关二次
                    if(centerStatus){
                        $(".meter-bright-center").css('background', 'url(images/centerbg.png)');
                        $('.meter-bright-center').text('请踏下制动踏板');
                        ignitionTimes = 2;
                        $('.driveWay').html('');
                        $('.model').html('');
                        $('.panel').html('');
                    } else {
                        setTimeout(function(){
                            $(".meter-bright-center").css('background', 'url(images/centerbg.png)');
                            $('.meter-bright-center').text('请踏下制动踏板');
                            ignitionTimes = 2;
                            $('.driveWay').html('');
                            $('.model').html('');
                            $('.panel').html('');
                        }, 1500)
                    }
                } else if(ignitionTimes === 3 && status === '1' && isInNpanel) {
                    carStart();

                } else if(ignitionTimes >= 4 && status === '1' && isInNpanel) {//关闭点火开关
                    // closeStalls();
                    carStart();
                }
            }
            if(pageNum==='047'){
                if(ignitionTimes === 1){
                    stallStart();
                    setTimeout(function(){
                        // lamp([], []);
                    }, 3500);
                    stallStatus = false;
                    setTimeout(function(){
                        $(".ignition_switch_stalls").attr('src', 'images/ignition_switch_up.png');
                        $(".ignition_switch_stalls").css('cursor','default')
                    }, 500);
                    zdyShow();
                }
            } else if(typeof(openDiagnosticEleven)!= "undefined"  || pages32 === 1 || pageNum==='010'){
                // console.log(ignitionTimes)
                // if(ignitionTimes === 1){
                    
                // }
                stallStart();
                zdyShow();
                stallStatus = false;
                $('#switch_stalls').css('cursor','default');
            }
        }
        //裴露婕----20170109
        
    }
    function gearRTrue(){
        var status = $('.footboard').attr('name');
        if(status === '1' && ignitionTimes >= 1){//踩下制动踏板，点击点火开关一次
            NextDarkOrLignt(1);
        }
    }


</script>