	<script type="text/javascript">
		IsSpearker();
	</script>
	<div id="container_djcc">
			<div id="gz_bg1" class="gz_bg1">
				<img src="images/bgpages25.png">
				<div id="cc_dj1" class="cc_djs1 imgZoomIn"  onclick="clickTimes(1);"></div>
				<div id="cc_dj2" class="cc_djs2 imgZoomIn"  onclick="clickTimes(2);"></div>
				<img src="images/bgpages25_zoom.png" class="zoomImg1 zoomImg imgZoomOut">
				<img src="images/bgpages25_zoom2.png" class="zoomImg2 zoomImg">
			</div>
	</div>
	<div class="Prompt_box" id="box">
		<p class="text-1">
			<button class="btn" id="btn" onclick="closeDiv()">
				×
			</button>
			<span id="p-con" >点击半透明区域查看故障可疑位置。</span>
		</p>
	</div>
	<span id="popBtn" class="popBtn" onclick="toggleDiv()"></span>

	<script type="text/javascript">
		slideShowOrHide(0);
		slideHideAndDark();
		var maskLayer=0;
		var maskPageClick=0;
		//裴露婕------20170110
		$('.cc_djs2').css('display', 'none');
		//------------------end
//		点击的次数
		function clickTimes(para){
			//裴露婕------20170110
			$('#audio1')[0].pause();
			if(para === 1) {
				$('#p-con').text('请检查TCM及线束连接情况。');
				imgZoomIn($('.zoomImg1'));
				$('#audio1').attr('src','audio/29.mp3');
			} else if(para === 2) {
				imgZoomIn($('.zoomImg2'));
				$('#p-con').text('检查TCM线束接地是否良好，有无松动和锈蚀。');
				$('#audio1').attr('src', 'audio/30.mp3');
				NextDarkOrLignt(1);
			}
			speakerPlayOrPause();
			//------------------end
			//阻止冒泡
			if (event.stopPropagation) {
				// this code is for Mozilla and Opera
				event.stopPropagation();
			}
			else if (window.event) {
				// this code is for IE
				window.event.cancelBubble = true;
			}
		}
		function imgZoomIn(obj){
			if(obj){
				obj.animate({
					width: '100%',
					height: '100%',
					left: 0,
					top: 0,
					opacity: 1
				},500);
			}
		}
		$('.zoomImg1').click(function(){
			$('#p-con').text('点击半透明区域查看故障可疑位置。');
			$('#audio1').attr('src', 'audio/28.mp3');
			speakerPlayOrPause();
			$(this).animate({
				width: 0,
				height: 0,
				left: '170px',
				top: '315px',
				opacity: 0
			}, 500);
			$('.cc_djs1').css('display', 'none');
			$('.cc_djs2').css('display', 'block');
		})

	</script>

