<!-- <audio id="audio1" src="audio/033.mp3" autoplay="autoplay"></audio> -->
<script type="text/javascript">
    IsSpearker();
</script>
<!-- <audio id="audio3" src="audio/041-2.mp3" ></audio> -->
<div>
    <div class="Prompt_box" id="box">
        <p class="text-1">
            <button class="btn" id="btn" onclick="closeDiv()">
                ×
            </button>
            <span id="p-con" >确认了故障的大致范围后，需要再次通过测量缩小故障范围，请选择合适的工具对离合器电机电源插头至X102发动机前舱线束之间电路进行测量。</span>
            <span id="p-info" >[说明：测量29或36号端子的对地电阻，确认线路间是否存在对地短路。]</span>
        </p>
    </div>
    <span id="popBtn" class="popBtn" onclick="toggleDiv()"></span>
    <img src="images/bgpages36.png" />
</div>
<!--万用表-->
<ng-include src="'framework/multimeter/template/multimeterSvg.html'"></ng-include>
<multimeter></multimeter>
<div class="multimeter-drop">
    <a rqPosition="4" class="right4" h_y="269" h_x="127"></a> <!--  -->
    <a rqPosition="5" class="right5" h_y="268" h_x="318"></a> <!--  -->
    <a rqPosition="2" class="right6" h_y="743" h_x="365"></a><!--  -->
</div>
<span class="close-information" onclick="informationHide();"></span>
<div id="service-information">
    <img src="images/svg/1940-1931-212.png" alt="">
</div>
<!--<div class="ignition_switch">
    <img id="switch_stalls" src="images/ignition_switch.png" class="ignition_switch_stalls" onclick="switchStalls()">
</div>-->
<script>
    slideToolBox(1);
    slideNavList(1);
    serviceDataIsFlicker(1);
    MultimeterisShow = false;
    //裴露婕--20170112
    $('.multimeter-drop').css('display', 'none');

    function informationHide(){
        $('#service-information').css('display', 'none');
        $('.close-information').css('display', 'none');
        if(MultimeterisShow){
            slideToolBox(0);
        }else{
            slideToolBox(1);
        }
    }

</script>