<!-- <audio id="audio1" src="audio/033.mp3" autoplay="autoplay"></audio> -->
<script type="text/javascript">
    IsSpearker();
</script>
<!-- <audio id="audio3" src="audio/041-2.mp3" ></audio> -->
<div>
    <div class="Prompt_box" id="box">
        <p class="text-1">
            <button class="btn" id="btn" onclick="closeDiv()">
                ×
            </button>
            <span id="p-con" >通过之前测量未发现故障点，下面请根据维修资料对X102插口至TCM之间线束进行测量，然后点击下一步回答问题。</span>
            <span id="p-pro" >[说明：分别测量5-36线路和6-29线路是否存在对地短路的故障。]
            </span>
        </p>
    </div>
    <span id="popBtn" class="popBtn" onclick="toggleDiv()"></span>
    <img src="images/bgpages38.png" />
</div>
<!--万用表-->
<ng-include src="'framework/multimeter/template/multimeterSvg.html'"></ng-include>
<multimeter></multimeter>
<div class="multimeter-drop">
    <a rqPosition="7" class="right7" h_y="88" h_x="181"></a>     <!-- 6 -->
    <a rqPosition="8" class="right8" h_y="632" h_x="150"></a> <!-- 29 -->
    <a rqPosition="9" class="right9" h_y="104" h_x="193"></a> <!-- 5 -->
    <a rqPosition="10" class="right10" h_y="766" h_x="152"></a> <!-- 36 -->
    <a rqPosition="2" class="right11" h_y="319" h_x="409"></a><!-- 2 -->
</div>
<span class="close-information" onclick="informationHide();"></span>
<div id="service-information">
    <img src="images/svg/1940-1931-212.png" alt="">
</div>
<!--<div class="ignition_switch">
    <img id="switch_stalls" src="images/ignition_switch.png" class="ignition_switch_stalls" onclick="switchStalls()">
</div>-->
<script>
    slideToolBox(1);
    slideNavList(1);
    serviceDataIsFlicker(1);
    MultimeterisShow = false;
    //裴露婕--20170112
    $('.multimeter-drop').css('display', 'none');

    function informationHide(){
        $('#service-information').css('display', 'none');
        $('.close-information').css('display', 'none');
        if(MultimeterisShow){
            slideToolBox(0);
        }else{
            slideToolBox(1);
        }
    }

</script>