<div>
	<script type="text/javascript">
		IsSpearker();
	</script>
	<img src="images/bgpages43.png">
	<div class="components_box">
        <img src="images/components1.png" title="离合器电机">
		<img src="images/components2.png" title="TCM">
		<div class="component-click">
			<img src="images/components3.png" onclick="componentMove();" class="bgpage33-curpot curpot" style="position: absolute;left: 0 ;top: -2px;" title="变速器线束">
		</div>
        <img src="images/components4.png" title="发动机线束" style="position: absolute;left: 12px ;top: 241px;">
	</div>
	<div class="Prompt_box" id="box">
		<p class="text-1">
			<button class="btn" id="btn" onclick="closeDiv()">
				×
			</button>
			<span id="p-con" >选择需要更换的部件。</span>
		</p>
	</div>
	<span id="popBtn" class="popBtn" onclick="toggleDiv()"></span>
</div>
<script>
var clickIndex = 0;
function componentMove() {
	if(clickIndex==0){
		clickIndex = 1;
		$('.bgpage33-curpot').animate({
			opacity: 0,
			width: 0,
			height: 0,
			left: '-300px' 
		}, 500, function(){
			$('.component-click').text('部件已更换');
			NextDarkOrLignt(1);
		})
	}
}
</script>