<div>
	<script type="text/javascript">
		IsSpearker();
	</script>
</div>
<div class="Prompt_box" id="box">
		<p class="text-1">
			<button class="btn" id="btn" onclick="closeDiv()">
				×
			</button>
			<span id="p-con" >启动车辆，观察故障灯是否点亮，然后操纵车辆观察变速箱和车辆工作是否正常。</span>
			<span id="p-pro" >[说明：踩下制动踏板，然后点击点火开关启动车辆；挂入挡位后松开制动踏板，观察车辆是否能够正常行驶。]
            </span>
		</p>
	</div>
	<span id="popBtn" class="popBtn" onclick="toggleDiv()"></span>
	<div ui-view="ignition"></div>
<script type="text/javascript" defer>
	var pages45=1;
	bottomLockToggle(1);
	carStarted = false;
	var switch_info = false;
	footboardBox(0);
	$('.shift').find('span').eq(1).addClass('span-active').siblings('span').removeClass('span-active');
	//挡位切换
	var gearArr = [{
		position: [63, 17],
	    switchList: ['+', 'OFF', 'ON', 'ON', 'OFF','ON', 'OFF', 'OFF', 'ON']
	}, {
		position: [63, 26],
	    switchList: ['M', 'OFF', 'ON', 'ON', 'ON', 'ON', 'OFF', 'OFF', 'ON']
	}, {
		position: [63, 35],
	    switchList: ['-', 'OFF', 'ON', 'ON', 'ON','OFF', 'OFF', 'OFF', 'ON']
	}, {
		position: [77, 10],
	    switchList: ['R', 'ON', 'OFF', 'OFF', 'ON', 'ON', 'ON', 'OFF', 'OFF']
	}, {
		position: [77, 15],
	    switchList: ['N', 'ON', 'ON', 'OFF', 'ON', 'ON', 'OFF', 'ON', 'OFF']
	}, {
		position: [77, 20],
	    switchList: ['D', 'OFF','ON', 'OFF', 'ON','ON', 'OFF', 'OFF', 'ON']
	}]
	// console.log($('.shift').find('span'))
	var num =0;
	if(pages45 === 1) {
        $('.handle').css({
            'left': '77px',
            'top': '15px'
        });
        
    }
	// console.log($('#zdyPage6 .table-main'),pages45,switch_info)
	// if($('#zdyPage6 .table-main') && pages45 === 1 && switch_info){
	// 	$('.shift').find('span').off().click(function(){
	// 		var isloadedImage = $('.meter-bright-center').css('background-image').indexOf('center_later');
	// 		var brightCenterText = $('.meter-bright-center').text();
	// 		if($('.footboard').attr('name') === '1' && (isloadedImage>-1 || brightCenterText==='请踏下制动踏板')){
	// 			$(this).addClass('span-active').siblings('span').removeClass('span-active');
	// 	        $('#zdyPage6 .page6-table-main').html('');
	// 	        var gear = $(this).text();
	// 	        $.each(gearArr, function(index, item){
	// 	            if(gear === item.switchList[0]){
	// 	            	$('.handle').animate({
	// 			            left: item.position[0] + 'px',
	// 			            top: item.position[1] + 'px'
	// 			        }, 300, function(){
	// 			        	$('.handle').css({
	// 				        	'left': item.position[0] + 'px',
	// 				            'top': item.position[1] + 'px'
	// 				        });
	// 			        });
	// 	            }
	// 	        })
	// 		}
	//     })
	// }
</script>
