
<div class="inner_container" ng-app="modelChoice" ng-controller="modelChoiceControll">
    <div id="audio_list" ng-show="data.audioUrl.length>0">
        <!-- <audio  autoplay="autoplay" id="audio1" on-finish-render-filters></audio> --><!-- ng-src="{{audioSrc(data.audioUrl[0])}}" -->
        <script type="text/javascript">/*audioSrc(data.audioUrl[0])*/
            IsSpearker();
            $("#svg1").draggable({
                scroll: false,
                iframeFix: true,
                cursor: "move"
            });
        </script>
        <audio src="audio/error.mp3"  id="error"></audio>
        <audio src="audio/correct.mp3"  id="correct"></audio>
    </div>
    <div class="svg_pic overScroll_x" ng-show="data.svgimg||data.bgimg" >
        <img ng-src="{{data.svgimg }}"  id="svg1" class="svg_pic_img" ng-show="data.svgimg" width="865" />
        <div class="bgimg"  ng-show="data.bgimg">
            <img ng-src="{{data.bgimg[0]}}" width="925"  ng-show="data.bgimg[0]"  />
            <img ng-src="{{data.bgimg[1]}}" width="925"  ng-show="data.bgimg[1]"  />
            <img ng-src="{{data.bgimg[2]}}" width="925"  ng-show="data.bgimg[2]"  />
            <img ng-src="{{data.bgimg[3]}}" width="925"  ng-show="data.bgimg[3]"  />
        </div>
        
    </div>
    <button id="view_profile" class="view_profile" onclick="hideDiv()" ng-show="data.View_Profile">查看资料</button>
    <span id="ampBtn" class="ampBtn" onclick="Amplification()" ng-show="data.svgimg"></span>
    <span id="narBtn" class="narBtn" onclick="narrow()" ng-show="data.svgimg"></span>

    <div class="selection_box" id="topic" ng-show="data.chooses">
        <p class="selection_box_description">
            <span>{{data.description}}</span>
        </p>
        <div class="selection_box_con">
            <p class="selection_box_title">
                {{data.title}}
            </p>
            <p class="selection_box_answer"    ng-click="selectID='a';selected($event.target)">
                <span>A.</span> {{data.chooses[0]}}
            </p>
            <p class="selection_box_answer"   ng-click="selectID='b';selected($event.target)">
                <span>B.</span> {{data.chooses[1]}}
            </p>
            <p class="selection_box_answer"    ng-click="selectID='c';selected($event.target)" ng-show="data.chooses[2]">
                <span>C.</span> {{data.chooses[2]}}
            </p>
            <p class="selection_box_answer"     ng-click="selectID='d';selected($event.target)" ng-show="data.chooses[3]">
                <span>D.</span> {{data.chooses[3]}}
            </p>
            <button   class="btn005 selection_box_submit"  id="btnSubmit"   ng-click="submit(selectID);"> 提&nbsp;&nbsp;交</button>
        </div>
    </div>
    <div id="myModal" class="reveal-modal" ng-show="data.answerTrue&&answerTrue">
        <h2 class="reveal_modal_c">
            正确
        </h2>
        <p>
            <span></span>{{data.answerTrue}}
        </p>
        <button  class="btn_goNext"  ng-click="GoNextPage();" >继&nbsp;&nbsp;续</button>

        <a class="close-reveal-modal">×</a>
    </div>
    <div class="clear"></div>

    <div id="myModal_1" class="reveal-modal_1" ng-show="data.answerFalse&&answerFalse">
        <h2 class="reveal_modal_c">
            错误
        </h2>
        <p>
            <span></span>{{data.answerFalse}}
        </p>
        <button class="btn_goNext" id="rtn-005">返&nbsp;&nbsp;回</button>
        <a class="close-reveal-modal">×</a>
    </div>
    <div class="clear"></div>
    <div class="Prompt_box" id="box">
        <p class="text-1">
            <button class="btn" id="btn" onclick="closeDiv()">
                ×
            </button>
            <span id="p-con" ng-bind="data.tips"></span>
        </p>
    </div>
    <span id="popBtn" class="popBtn" onclick="toggleDiv()" ng-show="data.tips"></span>
</div>
<script>
    slideShowOrHide(0);
    slideHideAndDark();
</script>