
		<div class="work_order" ng-app="modelChoice" ng-controller="modelWorkOrder">
			<!-- <audio ng-src="{{audioSrc(data.audioUrl[0])}}" id="audio1" on-finish-render-filters></audio> -->
			<!-- <audio ng-src="{{audioSrc(data.audioUrl[1])}}"  id="audio2"></audio> -->
			<div class="work_order_Head">
				<span class="work_order_logo"></span>
				<span class="work_order_head_title" ng-bind="data.head_title"></span>
				<div class="work_order_content">
					<table class="work_order_form">
						<tbody>
						<tr>
							<td>
								车牌号<span class="work_order_form_info">冀A63XX0</span>
							</td>
							<td>
								车型<span class="work_order_form_info">LZW6465UAVY</span>
							</td>
						</tr>
						<tr>
							<td>
								客户名<span class="work_order_form_info">王先生</span>
							</td>
							<td>
								发动机型号<span class="work_order_form_info width120">10-MN-G01353642</span>
							</td>
						</tr>
						<tr>
							<td>
								地址<span class="work_order_form_info">石家庄市西二环路</span>
							</td>
							<td>
								里程数<span class="work_order_form_info">22850km</span>
							</td>
						</tr>
						<tr>
							<td>
								电话<span class="work_order_form_info">155****5633</span>
							</td>
							<td>
								托修人<span class="work_order_form_info">李伟</span>
							</td>
						</tr>
						<tr>
							<td>
								车架号<span class="work_order_form_info">LZWADAGBXGB6000082</span>
							</td>
							<td>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="work_order_ctrl" >
				<div class="work_order_description" ng-show="!data.history">
					<h6 class="work_order_description_title">
						客户描述：
					</h6>
					<p class="work_order_description_con">
						{{data.maintenanceHistory[historyId].customerState}}
					</p>
				</div>
				<div class="work_order_Reason" ng-show="!data.history">
					<h6 class="work_order_description_title">
						故障原因：
					</h6>

					<p class="work_order_description_con" >
						{{data.maintenanceHistory[historyId].ResultOrReson}}
						<input class="wbk" type="text" id="strName" placeholder="请填写故障原因"  ng-show="data.fillIn&&!data.maintenanceHistory[historyId].ResultOrReson"/>
						<input class="wbkk" type="text" id="strNames" ng-show="data.fillIn"/>
					</p>
				</div>
				<div class="work_order_Program" ng-show="!data.history">
					<h6 class="work_order_description_title">
						维修方案：
					</h6>
					<p class="work_order_description_con">
						{{data.maintenanceHistory[historyId].program}}
						<input class="wbk" type="text"  id="maintenance" placeholder="请填写维修方案" ng-show="data.fillIn&&!data.maintenanceHistory[historyId].program&&data.maintenanceHistory[historyId].ResultOrReson"/>
						<input class="wbkk" type="text" id="maintenances" ng-show="data.fillIn" />
					</p>
				</div>
				<div id="systemManager" ng-show="data.history">
					<div class="user-message"></div>
					<div class="table-click" onclick="tableZoomClick()">
						<div class="tableshow">
							<img src="images/page11_table_zoom.png" alt="">
						</div>
					</div>
					<span class="listBorder" id="listBorder"></span>
					<!--<p>无维修记录</p>-->
					
				</div>
				<a ng-click="whichFunction()" ng-show="data.btn" class="test003Btn work_order_po" ng-bind="data.btntText">返回</a>
			</div>
				<div class="Prompt_box" id="box">
					<p class="text-1">
						<button class="btn" id="btn" onclick="closeDiv()">
							×
						</button>
						<span id="p-con" ng-bind="data.tips"></span>
					</p>
				</div>
				<span id="popBtn" class="popBtn" onclick="toggleDiv()"></span>
			<div ui-view="selectBox"></div>
		</div>
<script>
	slideShowOrHide(0);
	slideHideAndDark();
//	setTimeout(IsSpearker,300) ;
$(function(){
	if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
	    $('[placeholder]').focus(function() {
	        var input = $(this);
	        if (input.val() == input.attr('placeholder')) {
	            input.val('');
	            input.removeClass('placeholder');
	        }
	    }).blur(function() {
	        var input = $(this);
	        if (input.val() == '' || input.val() == input.attr('placeholder')) {
	            input.addClass('placeholder');
	            input.val(input.attr('placeholder'));
	        }
	    }).blur();
	};
})
function placeholderSupport() {
    return 'placeholder' in document.createElement('input');
}

</script>