<!DOCTYPE html>
<html ng-app="mainModule">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>故障码P090000-仪表不能显示挡位，车辆不能行驶</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/template.css" />
    <link rel="stylesheet" href="framework/wybTool/css/wyb.css" />
    <script type="text/javascript" src="framework/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="framework/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/imgPreload.js"></script>
    <link href="template/zdy/css/diagnose.css" rel="stylesheet">
    <link rel="stylesheet" href="framework/multimeter/css/multimeter.css" />
    <!--万用表的样式-->
    <link rel="stylesheet" href="framework/battery/css/battery.css" />
    <script src="template/zdy/js/test-haoliqiang-20141218.js"></script>
</head>
 <!-- ng-show="indexShowOrHide.indexShow" -->
  <!-- ng-show="indexShowOrHide.mainHeadShow" -->
   <!-- ng-show="indexShowOrHide.mainBodyShow" -->
<body onload="ImagePreload(aImgurl)" ng-controller="mainCtrl">
    <div id="contain" class="main">
        <div class="main_index">
            <img class="main_index_img" src="images/dir.png" />
            <button class="main_index_button" ng-click="IndexHide();">开始学习</button>
    </div>
        <div class="main_head">
            <div class="shang"></div>
            <div class="wu"></div>
            <div class="bao"></div>
            <button id="speaker" class="main_head_speaker_light" onclick="OpenOrCloseSpearker()" ng-click="" name="0"></button>
            <span class="main_head_navi">
					<ul>
						<li ng-repeat="nav in aNavis"><div  ng-bind="nav"  ng-class="{naviBlock:(navText==nav)}" ng-click="NaviClick(nav);" data-name="0"></div></li>
					</ul>
				</span>
            <div class="main_head_close_help">
                <!-- <span>帮助</span>
					| -->
                <span ng-click="ExitStudent();">退出</span>
            </div>
        </div>
        <div id="audio-src">
            <audio id="audio1" src=""></audio>
        </div>
        <audio src=""  id="audio2"></audio>
        <div class="main_body">
            <div class="main_view">
                <div ui-view></div>
            </div>
            <div class="sideBar_navi">
                <button id="navlist_toggle" class="sideBar_navi_button  cursor_pointer" onclick="sideNaviToggle(this)" name="0"></button>
                <div class="sideBar_navi_panel">
                    <ul>
                        <!--NaviActive($(this));-->
                        <li onclick="">
                            <button class="radius cursor_pointer manage_sys_btn" ng-click="GoNextPage()" disabled><i></i></button>
                        </li>
                        <li onclick="">
                            <button class="radius cursor_pointer service_data_btn" onclick="informationShow()" disabled><i></i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sideBar_tool">
                <button id="tool_toggle" class="sideBar_tool_button cursor_pointer" onclick="sideToolToggle(this);" name="0"></button>
                <div class="sideBar_tool_panel">
                    <ul>
                        <li onclick="openDiagnostic();toolActive($(this));">
                            <button class="diagnostic radius cursor_pointer" name="0">诊断仪</button>
                        </li>
                        <li onclick="openMultimeter();toolActive($(this));" ng-controller="multimeterCtrl" ng-click="multimeter();">
                            <button class="multimeter_tool radius cursor_pointer" name="0">万用表</button>
                        </li>
                        <li onclick="toolActive($(this));">
                            <button class="test_pencil radius cursor_pointer" name="0">试电笔</button>
                        </li>
                        <li onclick="toolActive($(this));" ng-controller="batteryCtrl" ng-click="battery();">
                            <button class="power_battery radius cursor_pointer" name="0">蓄电池</button>
                        </li>
                        <li>
                            <button class="radius  grayed_img2" name="0"></button>
                        </li>
                        <li>
                            <button class="radius  grayed_img3" name="0"></button>
                        </li>
                        <li>
                            <button class="radius  grayed_img4" name="0"></button>
                        </li>
                        <li>
                            <button class="radius  grayed_img5" name="0"></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center-control">
                <div class="shift">
                    <span  onmousedown="mousedown(this)" onmouseup="mouseup(this)">+</span>
                    <span onclick="changepanel(this)">M</span>
                    <span  onmousedown="mousedown(this)" onmouseup="mouseup(this)">-</span>
                    <span onclick="changepanel(this)">R</span>
                    <span class="span-active" onclick="changepanel(this)">N</span>
                    <span onclick="changepanel(this)">D</span>
                </div>
                <div class="handle"></div>
                <div class="footboard" onclick="treadFootboard(this)" name="0"></div>
                <div class="accelerator" onclick="treadAccelerator(this)" name="0"></div>
                <div class="acceleratorbox"></div>
                <div class="graybutton graybutton1"></div>
                <div class="graybutton graybutton2"></div>
                <div class="graybutton graybutton3"></div>
                <div class="graybutton graybutton4"></div>
                <div class="graybutton graybutton5"></div>
                <div class="graybutton graybutton6"></div>
                <span class="infoText"></span>
            </div>
        </div>
        <div class="main_bottom">
            <div class="main_head_arrow">
                <button id="pre_arrow" class="main_head_arrow_pre_dark" disabled="disabled" ng-click="GoPrePage();"></button>
                <div class="main_bottom_pagenum">
                    <span class="current-page">{{timers}}</span>/<span class="all-page-num">{{totalNum}}</span>
                </div>
                <button id="next_dark" disabled="disabled" class="main_head_arrow_next_dark"></button>
                
                 <button id="next_light" class="main_head_arrow_super_next" ng-click="GoNextPage();"></button> 
                  <button id="" class="main_head_arrow_super_next" ng-click="GoNextPage();"></button>  
            </div>
        </div>
        <builddivstart></builddivstart>
        <builddivend class="main_mask_end"></builddivend>
    </div> <!-- ng-show="indexShowOrHide.alertStart" ng-show="indexShowOrHide.alertEnd" -->
</body>
<script type="text/javascript" src="framework/angular-1.3.0.js"></script>
<script type="text/javascript" src="framework/angular-ui-router.js"></script>
<!--begin 平台通信js-->
<!--<script type="text/javascript" src="js/communication/map.js"></script>
<script type="text/javascript" src="js/communication/validate.js"></script>
<script type="text/javascript" src="js/communication/adapter.js"></script>
<script type="text/javascript" src="js/communication/dataObject.js"></script>
<script type="text/javascript" src="js/communication/ajax.js"></script>
<script type="text/javascript" src="js/communication/error.js"></script>-->
<script type="text/javascript" src="js/communication/xcjDataService.js"></script>
<script type="text/javascript" src="js/communication/APIFunctions.js"></script>
<script type="text/javascript" src="js/communication/APIWrapper.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/multimeter.js"></script>
<!--万用表的app-->
<script type="text/javascript" src="js/angularJs/apps.js"></script>
<script type="text/javascript" src="js/angularJs/routes.js"></script>
<script type="text/javascript" src="js/angularJs/services.js"></script>
<script type="text/javascript" src="js/angularJs/directives.js"></script>
<script type="text/javascript" src="js/angularJs/controllers.js"></script>
<script type="text/javascript" src="js/angularJs/filters.js"></script>
<script type="text/javascript" src="framework/jquery.reveal.js"></script>
<script type="text/javascript" src="framework/jquery.transit.js"></script>
<script type="text/javascript" src="js/modelChoice_yrr.js"></script>
<script type="text/javascript" src="framework/wybTool/js/wybCtrl.js"></script>
<script type="text/javascript" src="js/main_ds.js"></script>
<script type="text/javascript" src="framework/multimeter/js/angularJs/app.js"></script>
<!--万用表的app-->
<script type="text/javascript" src="framework/multimeter/js/angularJs/controller.js"></script>
<!--万用表的controllers-->
<script type="text/javascript" src="framework/multimeter/js/angularJs/Service.js"></script>
<!--万用表的Services-->
<script type="text/javascript" src="framework/battery/js/angularJs/app.js"></script>
<script type="text/javascript" src="framework/battery/js/angularJs/controller.js"></script>
<script type="text/javascript" src="framework/battery/js/angularJs/Service.js"></script>
<script type="text/javascript" src="js/angularJs/wbtServices.js"></script>
<script type="text/javascript" src="js/angularJs/validate.js"></script>
<!--<script type="text/javascript" src="/resources/web/js/common_test.js"></script>-->
<script type="text/javascript">
//默认让每个页面的下一页按钮置灰
NextDarkOrLignt(0);
IsSpearker();
$(function() {
    $.xcj.scorm.api.loadPage();
    if ($.xcj.scorm.api.getComplete() != "incomplete" && $.xcj.scorm.api.getComplete() != "completed") {
        $.xcj.scorm.api.setComplete('not attempted');
        $.xcj.scorm.api.doCommit();
    }
    initStrom();
});
</script>

</html>
