<!--原理页面-->
<div class="principle-body">
    <div id="redpointsquare1">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare2">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare3">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare4">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare5">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare6">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare7">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare8">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare9">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare10">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare11">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare12">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare13">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div id="redpointsquare14">
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
        <div class="redpoint"></div>
    </div>
    <div class="flashransformer"></div>
    <div class="wavefilter "></div>
    <div class="transistor1 transistor"></div>
    <div class="transistor2 transistor"></div>
    <div class="transistor3 transistor"></div>
    <div class="transistor4 transistor"></div>
    <div class="impulsewave1Box">
        <div id="impulsewave1"></div>
    </div>
    <div class="impulsewave2Box">
        <div id="impulsewave2"></div>
    </div>
    <div class="impulsewave3Box">
        <div id="impulsewave3"></div>
    </div>
    <div class="impulsewave4Box">
        <div id="impulsewave4"></div>
    </div>
    <div class="impulsewave5Box">
        <div id="impulsewave5"></div>
    </div>
    <div class="switchprinciple"></div>

</div>
