<!--章节目录-->

<div id="chapter-wrapper" (click)="closeChapter($event)"  *ngIf="catalogService?.isShowChapter" >
    <div class="chapter-box" id="chapter-box">
    </div>
</div>

        <div class="gear-wrap dragSource z-index-100 " >
            <ul>
                <li *ngFor="let item of chapters;let i = index" (click)="gotoChapter(item)">{{item.title}}
                    <!--<span>{{item.startPage}}-{{item.endPage}}</span>-->
                    <!--<span>{{item.endPage<this.appService.state.progress}}</span>-->
                    <!--<span [class.stu]="item.endPage=this.appService.state.progress" ></span>-->
                    <span [ngClass]="stuState(item)"></span>
                </li>
            </ul>
        </div>
        <div class="arrow" ></div>
