<!--检测页面-->
<div class="test-body">
    <div class="hotareareal" (click)="alertPartShow()"></div>
    <div class="hotareatest" (mouseover)="hotareaMouseover()"  (mouseout)="hotareaMouseout()"></div>
    <div class="alert-part">
       
    </div>
    <div class="closeAlertPart" (click)="alertPartHide()" *ngIf="!hotareaStatus">X</div>
    <a class="hot1 hot" wybredPosition="41" wybblackPosition="41" h-left="494" h-top="204"></a>
    <a class="hot2 hot" wybredPosition="42" wybblackPosition="42" h-left="502" h-top="312"></a>
    <a class="hot3 hot" wybredPosition="43" wybblackPosition="43" h-left="502" h-top="291"></a>
</div>
