
<div class="promp">
<div class="panel">
    <form role="form" name="form" ng-submit="vm.signupPassword(vm.form)" >
        <div class="form-group" ><label  class="inputpassword">新密码 </label><input name="newpassword" type="password" class="form-controlinput" ng-model="vm.form.newpassword" ng-required="true"  placeholder="输入密码" ng-minlength="6" ng-maxlength="15" ng-pattern="/[a-zA-Z0-9_]/"></div>
        <span ng-show="form.newpassword.$invalid && form.newpassword.$touched" style="color:#f00;position:absolute;left:471px;top:26px;width:250px;">请输入6-15位字母或数字或下划线</span>
        <div class="form-group"><label class="inputpassword">确认密码</label><input name="ensurepassword"  class="form-controlinput2" ng-model="vm.form.ensurepassword" ng-required="true" placeholder="再次输入密码" type="password">
        <span ng-show="form.newpassword.$valid" style="color:#f00"><span ng-show="(vm.form.ensurepassword != vm.form.newpassword) && (form.ensurepassword.$touched)" style="color:#f00;position:absolute;left:471px;top:84px;width:250px;">两次密码请输入一致</span></div>
        <button type="submit"  class="center-block-grey" ng-disabled ="form.newpassword.$pristine || form.ensurepassword.$pristine || (vm.form.ensurepassword != vm.form.newpassword) || form.newpassword.$invalid" ng-class="{'center-block':(form.newpassword.$valid && form.ensurepassword.$valid) || (vm.form.ensurepassword == vm.form.newpassword) ,'center-block-grey':form.newpassword.$invalid || form.ensurepassword.$invalid || (vm.form.ensurepassword != vm.form.newpassword)}">确认修改</button>
    </form>
</div>
</div>