<div class="multiple-body" [style.background-image]="1 ? 'url('+ appService.state.current.img+')': 'grey'">
    <h1>{{appService.state.current.title}}</h1>
    
    <span *ngFor="let arrow  of appService.state.current.arrows" [ngStyle]="arrow.style" ></span>
    <ul>
        <li *ngFor="let item of imgArr" (click)="showImg(item)" class="point" [class.active]="!item.showed" [ngStyle]="position(item)">
            <!--{{item.point}}@{{item.img}}-->
            {{item.point}}
            <!--<span *ngIf="!item.showed">闪烁</span>-->
        </li>
    </ul>
    <div class="modal" *ngIf="isShowImg">

        <div id="modal" class="modal-dialog" [class.active]="animation" (click)="clickModal(currImg,$event)">
            <div class="close-wrapper">
                <div class="cd" *ngIf="cd.time>0  "></div>
                <div class="close" *ngIf="cd.time<=0 " (click)="closeImg(currImg)"></div>
            </div>


            <div class="img-wrap" *ngIf="!currImg.content" >
                <img src="{{currImg.img}}" alt="">
                <p></p>
            </div>

            <multiple-content *ngIf="currImg.content" ></multiple-content>

        </div>

    </div>
    <!--<img src="{{appService.state.current.img}}" alt="">-->

</div>
