<div class="body-1">
    <div class="header-content" [ngStyle]="pageData.content.head?.style">
        <h1> {{pageData.content.head.title}} </h1>
        <p *ngFor="let key of pageData.content.head.p_contents | keys" class="header-content-explain">
            <span *ngFor="let item of pageData.content.head.p_contents[key]" [ngStyle]='item?.style'>
                {{item.content}}
            </span>
        </p>
        <img *ngIf="pageData.point[0].showed && pageData.content.head?.p_img?.img"   src="{{pageData.content.head?.p_img?.img}}" [ngStyle]='pageData.content.head?.p_img?.imgstyle'>
    </div>
    <div class="foot-img">
        <span [ngStyle]="item?.top?.style">{{item?.top?.content}}</span>
        <div>
            <img class="max" src="{{pageData.content.imgs?.img}}">
        </div>
        <span [ngStyle]="item?.bottom?.style">{{item?.bottom?.content}}</span>
    </div>
    <point-dialog [data]="pageData.point[0]" (click)="clickModal(pageData.point[0])"*ngIf="pageData.point[0]"></point-dialog>

</div>
