 <div class="body-2">
    <div class="header-content">
        <h1> {{pageData.content.head.title}} </h1>
        <div *ngFor="let item of pageData.content.head.Text">
            <p>{{item.pText}}</p>
            <ul class="header-content-explain">
                <li *ngFor="let li of item.liText"><span class="bk_box"></span><span class="box_content color_g">{{li}}</span></li>
            </ul>
        </div>
        <img *ngIf="pageData.content.imgs.img"  src="{{pageData.content.imgs.img}}" alt="" [ngStyle]='pageData.content.imgs.bottom.style'>
    </div>
    <point-dialog *ngFor="let item of pageData.point" [data]="item" (click)="clickModal(item)"></point-dialog>
    <!--<point-dialog [data]="pageData.point[1]" (click)="clickModal(pageData.point[1])"*ngIf="pageData.point[1]"></point-dialog>-->
    <point-tip  *ngFor="let item of pageData.emails" [data]="item" [style]="appService.state.current.order" (open)="showtip(item)"></point-tip>
</div>
