.body-2{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left:100px;
    padding-right:100px;
    background-repeat: no-repeat;
    background-position: center;
    
    .header-content{
        padding-top:30px;
        height: 100px;
        h1{
            color: #000;
            font-size: 20px;
            padding-bottom: 10px;
        }
        p{
            font-size: 14px;
            color: #000;
            padding-bottom: 15px;
        }   
    }
    .foot-img-lists{
        width: 824px;
        height: 350px;
        display:table;
        p{
            display:table-cell;
            vertical-align:middle;
            text-align: center;
            img{
                max-width: 260px;
                max-height: 300px;
            }
            span{
                display: block;
            }
            .word{
                color: #476bac;
                font-size: 16px;
                font-weight: bold;
            }

        }    
    }
}
 
