
/*reset*/
* {
        margin: 0;
        padding: 0;
}
fieldset,img,iframe {
        border: 0;
}
address,caption,cite,code,dfn,em,i,th,var {
        font-style: normal;
        font-weight: 400;
}
ul,li,ol,dl,dt,dd {
        list-style: none;
}
caption,th {
        text-align: left;
}
h1,h2,h3,h4,h5,h6 {
        font-size: 100%;
        font-weight: 400;
}
html {
        font-size: 100%;
}
body {
        vertical-align: baseline;
        background-color: transparent;
        -webkit-backface-visibility: hidden;
}
.white{
        background: #fff;
}
a:focus,a:hover,a:active,input:focus,textarea:focus {
        outline: 0;
}
img {
        vertical-align: middle;
}
table {
        font-size: inherit;
        border-collapse: collapse;
        border-spacing: 0;
}
td {
        vertical-align: top;
}
th {
        text-align: inherit;
}
iframe {
        display: block;
}
textarea {
        resize: none;
        overflow: auto;
        vertical-align: top;
}
button,input,select,textarea {
        font-size: 100%;
        vertical-align: baseline;
}
button,input {
        *overflow: visible;
        line-height: normal;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
}
button {
        cursor: pointer;
}
button[disabled],input[disabled] {
        cursor: default;
}
abbr,acronym {
        border: 0;
        font-variant: normal;
}
strong,.strong {
        font-weight: 700;
}
body {
      font-family: "Microsoft Yahei";
        _zoom: expression(function(el) {
        document.execCommand('BackgroundImageCache',false,true);
        el.style.zoom="1";
}
(this))
}
img {
        -ms-interpolation-mode: bicubic;
}
button,input,select,textarea {
        *vertical-align: middle;
}
button,input {
        *overflow: visible;
}
/*reset*/

/*index*/
.container{
       width: 1024px;
       height: 748px;
       position: relative; 
       /*background: url(../images/bg.jpg) no-repeat 0 0;*/
}

::-webkit-scrollbar {
  width: 5px;
  height:5px;
  
}
 
::-webkit-scrollbar-track {
  background: none;
}
 
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(left, #c9c9c9, #c9c9c9);
   background: -webkit-linear-gradient(bottom, #c9c9c9, #c9c9c9);
  border: 1px solid #c9c9c9;
  border-radius:4px;
}

/*zdy*/
.zdy{
    width: 473px;
    height: 355px;
    background: url(../images/zdy/zdy.png) no-repeat 0 0;
    color: #222;
}

/* .iframezdy{
    position: absolute; 
    width: 265px;
    height: 170px;
    background-color: #c9c9c9;
    border: 0;
    top: 17px;
    left: 16px;
} */
.iframezdy-zdy{
    width: 420px;
    height: 296px;
    position: absolute;
    top: 26px;
    left: 27px;
    overflow: hidden;
}
#zdyPage1, #zdyPage2, #zdyPage3, #zdyPage4, #zdyPage4-2, #zdyPage5, #zdyPage6{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
#zdyPage1 {
    background: url(../images/zdy/login.png) no-repeat center center;
}
.login-box{
    overflow: hidden;
    line-height: 30px;
    margin-top: 225px;
}
.login-txt{
    width: 100%;
    box-sizing: border-box;
    padding-left: 85px;
}
.button-box{
    position: absolute;
    right: 135px;
    bottom: 44px;
}
.login-button, .exit-button{
    padding: 0 15px;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #3689ac; 
    float: left;
    margin-right: 5px;
    border-radius: 3px;
    transform: scale(0.875);
}
.login-button:hover {
    background: #3fa5c3; 
    color: #fff;
    cursor: pointer;
}
#zdypage2{
    overflow: hidden;
}
.zdy-top{ 
    height: 47px;
}
.zdy-top p{
    color: #f7f7f6;
    text-align: right;
    padding-right: 10px;
    line-height: 16px;
}
.zdy-top p:nth-of-type(1){
    font-size: 14px;
}
.zdy-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 23px;
    width: 100%;
}
.footer-left{
    float: left; 
    overflow: hidden;
}
.footer-left span {
    width: 60px;
    line-height: 23px;
    background-image: url(../images/zdy/menu_bg.png);
    float: left;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid #8181ff;
}
.footer-left .footer-left-active{
    background-image: url(../images/zdy/menu_bg_active.png);
}
.footer-right{
    float: right;
    overflow: hidden;
}
.footer-right a{
    float: left;
    width: 26px;
    height: 26px;
    margin-right: 5px;
}
.footer-right a:nth-of-type(1){
    background: url(../images/zdy/choose.png) no-repeat;
}
.footer-right a:nth-of-type(2){
    background-image: url(../images/zdy/exit.png);
    cursor: pointer;
}
.footer-right .exit-active{
    background-image: url(../images/zdy/exit_active.png);
}

.main-menu-list{
    /*overflow: hidden;
    margin-top: 45px; */
    overflow: hidden;
    width: 330px;
    margin: 45px auto;
}
.main-menu-list li{
    /*width: 71px;
    height: 92px;
    float: left;
    margin-left: 50px;*/
    width: 110px;
    height: 110px;
    float: left;
}
.main-menu-list li:hover{
    background-color: #b6b7b7; 
}
.main-menu-list li:nth-of-type(1){
    background-image: url(../images/zdy/m1.png);
    background-repeat: no-repeat;
    background-position:  center center;
    cursor: pointer;
}
.main-menu-list li:nth-of-type(2){
    background-image: url(../images/zdy/m2.png);
    background-repeat: no-repeat;
    background-position:  center center;
}
.main-menu-list li:nth-of-type(3){
    background-image: url(../images/zdy/m3.png);
    background-repeat: no-repeat;
    background-position:  center center;
}
.zdy-page3-main fieldset {
    margin: 10px 0 0 10px;
    border: 1px solid #c8c8c9;
    border-radius: 5px;
    width: 400px;
}
.zdy-page3-main fieldset:nth-of-type(2){
    border-width: 0;
}
.zdy-page3-main fieldset legend{
    margin-left: 10px;
    color: #53a8f9;
}
.zdy-page3-main dl{
    padding-left: 10px;
    position: relative;
    overflow: hidden;
}
.zdy-page3-main dd{
    float: left;
    line-height: 30px;
    height: 30px;
}
.zdy-page3-main dd label{
    float: left;
}
.zdy-page3-main dd select{
    float: left;
    margin-top: 7px;
    margin-right: 15px;
}
.zdy-page3-main .select-right {
    overflow: hidden;
    padding-left: 125px;
}
.zdy-page3-main .select-right span{ 
    float: left;
    margin-right: 10px; 
    width: 60px;
    line-height: 20px; 
    text-align: center;
    border: 1px solid #50afff;
    margin-top: 5px; 
    color: #343434;
    border-radius: 3px;
}
.zdy-page3-main .select-right span:hover{
    background: #50afff;
    color: #fff;
}
.zdy-page3-main .select-module {
    height: auto;
}
.select-module ul{
    overflow: hidden;
}
 .select-module li {
    float: left;
    width: 78px;
    height: 50px;
 }
 .select-module li:nth-of-type(1){
     cursor: pointer;
    background: url(../images/car_style/1.png) no-repeat center center;
 }
 .select-module li:nth-of-type(2){
    background: url(../images/car_style/2.png) no-repeat center center;
 }
 .select-module li:nth-of-type(3){
    background: url(../images/car_style/3.png) no-repeat center center;
 }
 .select-module li:nth-of-type(4){
    background: url(../images/car_style/4.png) no-repeat center center;
 }
 .select-module li:nth-of-type(5){
    background: url(../images/car_style/5.png) no-repeat center center;
 }
 .select-module li:nth-of-type(6){
    background: url(../images/car_style/6.png) no-repeat center center;
 }
 .select-module li:nth-of-type(7){
    background: url(../images/car_style/7.png) no-repeat center center;
 }
 .select-module li:nth-of-type(8){
    cursor: pointer;
    background: url(../images/car_style/8.png) no-repeat center center;
 }
 .select-module li:nth-of-type(9){
    background: url(../images/car_style/9.png) no-repeat center center;
 }
 .select-module li:nth-of-type(10){
    background: url(../images/car_style/10.png) no-repeat center center;
 }
 .zdy-page4-main ul, .zdy-page5-main ul{
    width: 100px;
    margin: 15px auto;
 }
.zdy-page4-main li,.zdy-page5-main li{
    line-height: 26px;
    width: 100px;
    background: url(../images/zdy/icon.png) no-repeat left center;
    margin-top: 10px;
    padding-left: 30px;
}
.pointer{
    cursor: pointer;
}
.zdy-page4-main li:hover, .zdy-page5-main li:hover{
    background-color: #A9A9A9;
}
.table-main{
    width: 100%;
    overflow: scroll;
    height: 192px;
    box-sizing: border-box;
    border: 5px solid #E2E2E2;
    box-shadow: inset 0 2px 0 #C3D0DC, inset -2px 0px 0 #C3D0EA, inset 0px -2px 0 #C3D0DC, inset 2px 0 0 #C3D0DC;
    padding: 1px; 
}
.zdy-page5-main table {
    width: 100%;
    background-color: #fff;
}
.zdy-page5-main th{
    background-color: #EBEADB;
    border-right: 1px solid #DCDBCC;
}
.zdy-page5-main td{
    border-left: 1px solid #F1EEE2;
    border-bottom: 1px solid #F1EEE2;
    padding-left: 10px;
}
.table-footer, .page6-table-footer{
    overflow: hidden;
    background: #E2E2E2;
}
.table-footer p, .page6-table-footer p{
    padding: 0 10px;
    line-height: 23px;
    border: 1px solid #5B81A4;
    margin-right: 10px;
    border-radius: 3px;
    float: right;
}

.zdy-page6-main{
    background-color: #fff;
}
.zdy-page6-main .page6-table-main{
    height: 192px;
    background: url(../images/zdy/table4.png) no-repeat; 
    padding: 16px 1px 1px 1px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    border: 5px solid #E2E2E2;
    box-shadow: inset 0 2px 0 #C3D0DC, inset -2px 0px 0 #C3D0EA, inset 0px -2px 0 #C3D0DC, inset 2px 0 0 #C3D0DC;
}
.zdy-page6-main .page6-table-main p{
    text-align: center;
    width: 93px;
    margin-left: 225px;
    line-height: 17px;
}
#zdyPage7 .page7-table-main{
    overflow: hidden;
    padding: 10px 10px 0;
    line-height: 20px;
}
#zdyPage7 .page7-main-inner{
    width: 190px;
}
#zdyPage7 .page7-main-inner dt{
    line-height: 20px;
    color: #53a8f9;
    font-size: 14px;
}
#zdyPage7 .blue-inner{
    border: 1px solid #8989f4;
    background: #9b9bff;
    color: #000002;
    line-height: 20px;
    margin-bottom: 5px;
}
#zdyPage7 .page7-main-left{
    float: left; 
}
#zdyPage7 .page7-main-inner .dd-first{
    width: 100%;
    height: 20px;
    text-align: center;
}
#zdyPage7 .dd-bottom label{
    line-height: 20px;
}
#zdyPage7 .page7-main-inner .dd-two{
    width: 180px;
    height: 75px;
    line-height: 20px;
    padding: 5px;
}
#zdyPage7 .feedback{
    text-align: center;
    width: 128px;
    float: right;
    height: 20px;
}
#zdyPage7 .feedback-active{
    background: #60af78;
    border: 1px solid #549d6a;
}

#zdyPage7 .page7-main-right{
    float: right;
}
#zdyPage7 .page7-gears-outer{
    height: 97px;
    overflow: hidden;
    padding: 7px 0;
}
#zdyPage7 .page7-main-right-gears{
    height: 97px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 5px;
}
#zdyPage7 .page7-main-right-gears li{
    padding: 0 5px;
    cursor: pointer;
}
#zdyPage7 .page7-main-right-gears li:hover{
    color: #fff;
    background: #5656f5;
}
#zdyPage7 .page7-main-right-gears .gear-active{
    color: #fff;
    background: #5656f5;
}
.page7-right-execute{
    float: right;
    border: 1px solid #53a8f9;
    padding: 0 15px;
    cursor: pointer;
}
#iframezdy-zdy .zdy-stop{
    color: #C1BEAE;
    border: 1px solid #D5D3C6;
    background-color: #ECE9D8;  
}

.coe {
    width: 35px;
    height: 35px;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    /*background: url(../images/close.png) no-repeat 25px 5px;*/
}
.zdy-return{
    width: 50px;
    height:20px;
    position: absolute;
    bottom: 8px;
    right: 27px;
    font-size:10px;
    background: url(../images/return.png) no-repeat 10px 3px;
    z-index: 100;
}
.zdy-return P{
    margin: 0;
    padding-left:25px;
    color:#fff;
    padding-bottom: 8px;
}
.zdy-return P:hover{
    margin: 0;
 padding-left:25px;
 color:#dd5555;
 padding-bottom: 8px;
 cursor: pointer;
}
#mask-zdy {
    position:absolute;
    z-index: 113;
}
#draggable3 {
position: absolute;
width: 250px;
height: 75px;
background: url(../images/zdy_off.png) no-repeat;
top: 10px;
left: 10px;
}
#gooff {
position: absolute;
top: 28px;
left: 12px;
color: #3e3e3e;
width: 70px;
height: 30px;
text-align: center;
line-height: 30px;
}
.gooff_left {
position: absolute;
top: 20px;
left: 140px;
}
.gooff_right {
position: absolute;
top: 20px;
left: 194px;
}
