<div class="video-body" [style.background-image]="1 ? 'url('+ appService.state.current.img+')': 'grey'">


    <h1>车型介绍-{{appService.state.current.chapter}}</h1>

    <p>{{appService.state.current.text}}</p>



    <div class="video">
        <video src="{{appService.state.current.video}}" width="700" controls>
            <!--<source src="{{appService.state.current.video}}" type="">-->
        </video>
        <button class="play" (click)="playVideo($event)"  *ngIf="showBtn" > </button>
    </div>
</div>
