<!--/**
* @createDate   2015-08-4 下午05:28:38
* @author       hao liqiang
* @email        lq.hao@xiaochejiang.com
* @version      1.0
*万用表表身
*/-->
<div class="battery-contain" id="battery-contain" ng-controller="batteryCtrl" ng-show="batteryServiceMdata.batteryStatus">
    <div id="mask-battery">
        <div class="battery" id="hehhe"></div>
    </div>
    <a  class="hotspot hhjbattery_hotspot2" otherLine="true" h-top="273" h-left="435" position="1" ></a>
    <a  class="hotspot hhjbattery_hotspot1 " otherLine="true" h-top="326" h-left="334" position="2" ></a>
<a  class="hotspot hhjbattery_hotspot3" otherLine="true" h-top="353" h-left="754" position="3" ></a>
    <a  class="hotspot hhjbattery_hotspot4 " otherLine="true" h-top="370" h-left="760" position="4" ></a>
</div>


