<div class="single-body" [style.backgroundImage]="1 ? 'url('+ appService.state.current.backgroundImageSrc+')': ' '">

    <!--<template ngFor let-item [ngForOf]="imageArray">
        <sgm-image [data]="item" *ngIf="item.state.isShow"> </sgm-image>
    </template>
    <template ngFor let-item [ngForOf]="buttonArray">
        <sgm-button [data]="item" (event)="eventHandler($event,item)" *ngIf="item.state.isShow"> </sgm-button>
    </template>
    <template ngFor let-item [ngForOf]="textArray">
        <sgm-text [data]="item" (event)="eventHandler($event,item)" *ngIf="item.state.isShow"> </sgm-text>
    </template>
    <template ngFor let-item [ngForOf]="overlayArray">
        <sgm-overlay [data]="item" (event)="eventHandler($event,item)" *ngIf="item.state.isShow"> </sgm-overlay>
    </template>-->




<!--
    <template ngFor let-item [ngForOf]="componentArray">

        <sgm-image [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'image'"> </sgm-image>
        <sgm-button [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'button'"> </sgm-button>
        <sgm-text [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'text' "> </sgm-text>
        <sgm-overlay [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'overlay' "> </sgm-overlay>
        <sgm-quadrilateral [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'quadrilateral' "> </sgm-quadrilateral>

    </template>-->


</div>
