body,
input,
textarea,
button {
    font-family: MicrosoftYaHei, SimHei, \5FAE\8F6F\96C5\9ED1, Verdana, Arial;
    font-size: 14px;
}
button {
    border: none;

    outline: none;
}
#pagerAnimate {
    position: relative;
    border-radius: 5px;
    width: 694px;
    height: 400px;

    // color: #666;
    // background: #fff;
    .left {
        position: absolute;
        top: 10px;
        left: 2px;

        width: 190px;
        height: 390px;
        p {
            padding: 5px 0;

            text-align: center;
        }
        /* 左侧测量显示区 */
        .left-top,
        .left-bottom {
            margin: 0 auto;
            border: 2px solid #1c66cc;
            border-radius: 5px;
            width: 160px;
            height: 160px;
        }
        .left-top {
            position: relative;

            background-color: #fff;
            .big-yibiao,
            .big-yibiaozhen {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                width: 160px;
                height: 160px;
            }
            .big-yibiao {
                display: none;

                background: url(../images/qigang/big_biao.png) no-repeat center;
                .big-yibiaozhen {
                    display: none;

                    background: url(../images/qigang/bg_question_interrelated_type_1_icon_08.png) no-repeat center;
                }
            }
        }
        .left-bottom {
            overflow: hidden;

            position: relative;

            width: 164px;
            height: 164px;

            background-color: #fff;
            .left-bottom-tongbg {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;

                width: 100%;
                height: 100%;

                background: #fff;
                background: url(../images/qigang/tong.png) no-repeat 16px bottom;
            }
            .keduxian {
                display: block;
                display: none;

                position: absolute;
                top: 79px;
                left: 77px;

                border-top: 1px solid red;
                width: 36px;
                height: 1px;
            }
            .shendu {
                overflow: hidden;

                position: absolute;
                top: -10px;
                left: 17px;

                width: 60px;
                height: 100px;
                .vertical-line {
                    display: inline-block;
                    display: none;

                    position: absolute;
                    top: 20px;
                    left: 35px;
                    z-index: 1;

                    border-left: 1px solid red;
                    height: 63px;
                }
                .shendu-t {
                    display: none;

                    width: 100%;
                    height: 100%;

                    background: url(../images/qigang/bg_question_interrelated_type_1_icon_05.png) no-repeat -9px top;

                    @include transform-origin( bottom center );
                    @include transform-rotate(-7deg);
                }
            }
            .bg-top {
                position: absolute;
                top: 50%;
                left: 29%;
                z-index: 1;

                margin-top: -27px;
                margin-left: -40px;
                width: 80px;
                height: 20px;

                background: url(../images/qigang/bg_question_interrelated_type_1_icon_04.png) no-repeat center;
            }
            .rulers-overflow {
                position: absolute;
                top: 55px;
                left: 99px;

                width: 65px;
                height: 60px;
                .rulers {
                    position: absolute;
                    top: 14px;
                    right: 14px;

                    width: 50px;
                    height: 200px;

                    background: url(../images/qigang/ruler1.png) no-repeat;
                    background-position: bottom left;
                    background-size: 47px 198px;;
                }
            }
        }
    }
    .right {
        position: absolute;
        top: 120px;
        right: 0;

        width: 503px;
        height: 280px;

        background:#fff url(../images/qigang/bg_question_interrelated_type_2.png) no-repeat 33px 10px;
        .handle-tips .tips-text {
            display: none;

            position: absolute;
            top: -50px;
            left: 30px;

            border: none;
            border-radius: 5px;
            max-width: 181px;

            font-size: 12px;
            text-align: left;

            color: blue;
            background-position: top right;
        }
    }
    .angle-animate-show {
        display: none;
        position: absolute;
        right: 179px;
        bottom: 45px;
        z-index: 5;

        border-right: 1px dashed #fff;
        border-left: 1px dashed #fff;
        width: 73px;
        height: 200px;
    }
    .angle-animate-hide {
        display: none;

        position: relative;
        top: 149px;
        left: 247px;
        z-index: 4;

        width: 400px;
        height: 234px;

        background: url(../images/qigang/qigangzhezhao2.png) no-repeat center bottom;
    }
    .celiang-qigang {
        display: none;

        position: absolute;
        top: 138px;
        left: 456px;
        z-index: 3;

        border-radius: 50%;
        width: 43px;
        height: 14px;

        background-color: #1c66cc;

        opacity: .5;
    }
    .qigang-num {
        position: absolute;
        right: 87px;
        bottom: 200px;
        z-index: 4;
        span {
            display: inline-block;

            padding: 0 33px;

            font-size: 28px;

            color: red;
        }
    }
    .alert-button {
        display: block;

        position: absolute;
        top: 23px;
        left: 190px;
        z-index: 2;

        width: 30px;
        height: 36px;

        background: url(../images/qigang/alert_button.png) no-repeat;

        cursor: pointer;
    }
    .table-png {
        position: absolute;
        top: 10px;
        left: 222px;
        z-index: 3;

        width: 312px;
        height: 83px;

        background-color: #fff;
        background-image: url(../images/qigang/table.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .percent-parents {
        position: absolute;
        top: 22px;
        left: 188px;

        width: 300px;
        height: 41px;
        .percent-bar {
            display: none;

            position: absolute;
            top: 8px;
            left: 50px;

            border-radius: 5px;
            width: 200px;
            .percent-bar-content {
                margin-top: 3px;
                border-radius: 5px;
                height: 14px;

                background-color: #e8e8e8;
            }
            .percent-num {
                position: absolute;
                top: 0;
                left: 0;

                border-radius: 5px;
                width: 60px;
                height: 20px;

                background: url(../images/qigang/icon_glide_bar.png) no-repeat center;
                background-color: #1c66cc;
                background-color: #1c66cc;

                cursor: pointer;
                span {
                    position: absolute;
                    top: 20px;

                    margin-left: 25px;

                    color: #c6c6c6;
                }
            }
        }
    }
    .vertical-switch {
        position: absolute;
        top: 25px;
        right: 10px;
        z-index: 1;

        width: 100px;
        height: 90px;

        background-color: #fff;
        span {
            display: inline-block;

            margin-bottom: 5px;
            border-radius: 5px;
            padding: 0 5px;
            width: 35px;

            font-size: 14px;
            line-height: 26px;
            text-align: center;

            color: #000;
            background-color: #e8e8e8;

            cursor: pointer;

            @include box-shadow( 0px 2px 2px #4c4c4c);
        }
        .vertical-switch-disabled {
            color: #fff;
            background: #1c66cc;
        }
    }
    .ce-liang-biao {
        position: absolute;
        top: 0;
        left: 0;

        border: 1px solid transparent;
        width: 692px;
        height: 231px;
        .small-yibiao-bg {
            display: inline-block;

            position: absolute;
            top: 14px;
            left: 75px;
            z-index: 3;

            width: 54px;
            height: 151px;

            background: url(../images/qigang/small_biao0.png) no-repeat 0 0;

            @include transform-origin(bottom center);
            @include transform-rotate(-7deg);
            .small-yibiao {
                position: absolute;
                top: 0;
                left: 16px;
                z-index: 3;

                width: 17px;
                height: 151px;

                cursor: move;
            }
        }
    }
}
