<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
    <link rel="stylesheet" href="./assets/js/progress_bar/progress_bar.css" />
    <link rel="stylesheet" href="./assets/js/perfect_scrollbar/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="./assets/js/idangerous.swiper2.7.6.css" />
    <script src="./assets/js/idangerous.swiper2.7.6.min.js"></script>
    <script src="./assets/js/jquery-3.1.1.min.js"></script>
    <script src="./assets/js/shims_for_IE.prod.js"></script>
    <script src="./assets/js/perfect_scrollbar/perfect-scrollbar.min.js"></script>

     <!-- 平台通信  -->
    <script src="./assets/js/APIFunctions.js"></script>
    <script src="./assets/js/APIWrapper.js"></script>

    <!--<% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <!--<%= webpackConfig.htmlElements.headTags %>
      <% } %>-->



</head>

<body>

    <div class="progress-bar" id="progressBar">
        <div class="percentage" id="percentage">0%</div>
        <div class="progress-bar-bg">
            <div class="progress-bar-loading" id="progressBarLoading">
                <div class="progress-bar-circle"></div>
            </div>
        </div>
    </div>
    <sg-app id="app">
    </sg-app>

    <script src="./assets/js/progress_bar/progress_bar.js" type="text/javascript"></script>
    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>

 <script id="web-animations"></script>
    <script>
        !function () {
            var	rnative = /^[^{]+\{\s*\[native \w/;
            var animations = document.getElementById("web-animations");
            if(!rnative.test( animations.animate )){
                // console.log(' 引入web-animations填充库 ');
                animations.src="./assets/js/web-animations.min.js";
            }
        }();
    </script>
</body>
<!-- base url -->
<!--<base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>-->

</html>
