.charge-switch {
    position: absolute;
    bottom: 92px;
    left: 0;
    width: 96px;
    height: 94px;
    border: 1px solid #F9B51B;
    background: #ccc;
    @at-root{
        .charge-switch-action{
            position: absolute;
            bottom: 29px;
            left: 23px; 
            width: 50px;
            height: 50px;
            background: #ccc url(./images/chargeOff_btn.png) no-repeat center/100%;
            cursor: pointer;
        }
        .charge-switch-action-active{
            background: #ccc url(./images/chargeOn_btn.png) no-repeat center/100%;
            cursor: pointer;
        }
        .charge-switch-content{
            position: absolute;
            bottom: 6px;
            left: 35px; 
            width: 50px;
            height: 20px;
        }
    }
}
.hidden{
    display: none;
}