<div class="home-scene">
  <h2>车辆场景</h2>
  <div class="bg" [ngStyle]="bigScenePicStyle">
    <div class="scene1 sceneBox" *ngIf="isShow" (click)="switchScene('2')">
      <img class="sceneImg" src="./assets/images/scene/2.png">
      <span class="sceneBg"></span>
      <span class="sceneContent">发动机舱</span>
    </div>
    <span class="link1 link" *ngIf="isShow"><i></i></span>

    <div class="scene2 sceneBox" *ngIf="isShow" (click)="switchScene('3')">
      <img class="sceneImg" src="./assets/images/scene/3.png">
      <span class="sceneBg"></span>
      <span class="sceneContent">驾驶舱</span>
    </div>
    <span class="link2 link" *ngIf="isShow"><i></i></span>

    <div class="scene3 sceneBox" *ngIf="isShow">
      <img class="sceneImg" src="./assets/images/scene/4.png" (click)="switchScene('1')">
      <span class="sceneBg"></span>
      <span class="sceneContent">左前车门</span>
    </div>
    <span class="link3 link" *ngIf="isShow"><i></i></span>


  </div>

</div>


<div class="pagination-wapper">
  <div class="button prev"></div>
  <div class="pagination">--/--</div>
  <div class="button next"></div>
</div>


<!--返回按钮-->
<div class="menu-wapper" *ngIf="isDetail">
  <div class="button prev" (click)="reset()">
    <div class="tip">
      【重新选择】按钮，点击后将返回【车辆场景】
    </div>
  </div>
</div>
