
@mixin redpoint {
    float: left;

    position: relative;

    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50%;
    width: 5px;
    height: 5px;

    background: #f00;
}
.info-body {
    width: 100%;
    height: 100%;
    .info {
        box-sizing: border-box;
        padding-top: 100px;
        padding-right: 70px;
        padding-left: 78px;
        width: 340px;
        height: 100%;

        background-color: #fff;
        h1 {
            // font-weight: normal;
            width: 80px;

            font-size: 20px;
        }
        h2 {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            width: 80px;

            font-size: 16px;
            font-weight: normal;
            text-align: right;
        }
        ul {
            margin-top: 32px;
            padding-left: 16px;

            li {
                list-style: disc outside ;
                // padding-left: 10px;
            }
        }
    }
}
