 <div class="body-0">
    <div class="header-content"  [ngStyle]="pageData.content.head?.style">
        <h1>{{pageData.content.head.title}} </h1>
        <p  *ngFor="let key of pageData.content.head.p_contents | keys:'xx':'xx'" class="header-content-explain">
            <span *ngFor="let item of pageData.content.head.p_contents[key]" [ngStyle]='item.style'>
                {{item.content}}
            </span>
        </p>
        <ul >
            <li *ngFor="let item of pageData.content?.targetList; let i = index; trackBy: trackByFn" >
                <span class="bk_box"></span> <span class="box_content color_g">{{item}}</span>
            </li>
        </ul>
    </div>
    <div class="foot-img-lists">
        <p *ngFor="let item of pageData.content.imgs; " >
            <span [ngStyle]="item?.top?.style">{{item?.top?.content}}</span>
            <img src="{{item?.img}}" [ngStyle]="item?.imgstyle">
            <span [ngStyle]="item?.bottom?.style">{{item?.bottom?.content}}</span>
        </p>
    </div>
    <div class="foot-content" >
        <div *ngFor="let key of pageData.content.p_contents | keys">
            <span *ngFor="let item of pageData.content.p_contents[key]" [ngStyle]='item.style'>
                {{item.content}}
            </span>
        </div>
    </div>
    <img *ngIf="pageData.point[0].showed"  src="{{pageData.content.head?.p_img?.img}}" alt="" [ngStyle]='pageData.content.head?.p_img?.imgstyle'>
    
    <point-dialog *ngFor="let item of pageData.point" [data]="item" (click)="clickModal(item)"></point-dialog>
    <!--<point-dialog [data]="pageData.point[1]" (click)="clickModal(pageData.point[1])"*ngIf="pageData.point[1]"></point-dialog>-->
    <button-click *ngFor="let item of pageData.textArr" [data]="item"></button-click>

    <lee-ic-hc-mis-bsc *ngIf="pageData.point[0]?.learned && pageData.intoPage" [pageData]="pageData.childContent[0]"  (close)="closeImg(pageData.point[0])" [cd]="cd"></lee-ic-hc-mis-bsc>
    <lee-ic-hc-mis-bsc *ngIf="pageData.point[1]?.learned &&  pageData.intoPage" [pageData]="pageData.childContent[1]" (close)="closeImg(pageData.point[1])" [cd]="cd"></lee-ic-hc-mis-bsc>
</div>
