<!--上2图,下文字-->
<div class="multiple-content type1" *ngIf="multipleService.currImg.content.type===1">
    <!--<img src="{{multipleService.currImg.content.img1}}" alt="">-->
    <!--<img src="{{multipleService.currImg.content.img2}}" alt="">-->

    <div class="img-warpper">
        <div class="img img1" [style.background-image]="1 ? 'url('+multipleService.currImg.content.img1+')': 'grey'"></div>
        <div class="img img2" [style.background-image]="1 ? 'url('+multipleService.currImg.content.img2+')': 'grey'"></div>
    </div>


    <div class="info">
        <h1>{{multipleService.currImg.content.title}}</h1>
        <p *ngFor="let item of multipleService.currImg.content.text">{{item}}</p>
    </div>
</div>

<!--双图,无文字-->
<div class="multiple-content  type2" *ngIf="multipleService.currImg.content.type===2">
    <img src="{{multipleService.currImg.content.img1}}" alt="">
    <img src="{{multipleService.currImg.content.img2}}" alt="">
</div>

<!--右图,左字-->
<div class="multiple-content  type3" *ngIf="multipleService.currImg.content.type===3">
    <img src="{{multipleService.currImg.content.img1}}" alt="">
    <img class="flare" src="{{multipleService.currImg.content.img2}}" alt="" *ngIf="multipleService.currImg.content.img2">
    <div class="info">
        <h1>{{multipleService.currImg.content.title}}</h1>
        <p *ngFor="let item of multipleService.currImg.content.text">{{item}}</p>
    </div>
</div>
<!--左图,右字-->
<div class="multiple-content  type4" *ngIf="multipleService.currImg.content.type===4">

    <div class="img">
        <div class="img img1" [style.background-image]="1 ? 'url('+multipleService.currImg.content.img1+')': 'grey'"></div>
        <div class="img img2 flare" [style.background-image]="1 ? 'url('+multipleService.currImg.content.img2+')': 'grey'"></div>
        <!--<img src="{{multipleService.currImg.content.img1}}" alt="">-->
        <!--<img class="flare" src="{{multipleService.currImg.content.img2}}" alt="" *ngIf="multipleService.currImg.content.img2">-->
    </div>
    <div class="info">
        <h1>{{multipleService.currImg.content.title}}</h1>
        <p *ngFor="let item of multipleService.currImg.content.text">{{item}}</p>
    </div>
</div>

<!--双图(左上右下),双字(右上左下)-->
<div class="multiple-content  type5" *ngIf="multipleService.currImg.content.type===5">
    <img src="{{multipleService.currImg.content.img1}}" alt="">
    <img src="{{multipleService.currImg.content.img2}}" alt="">
    <div class="info">
        <div class="text1">
            <h1>{{multipleService.currImg.content.title1}}</h1>
            <p *ngFor="let item of multipleService.currImg.content.text.text1">{{item}}</p>
        </div>
        <div class="text2">
            <h1>{{multipleService.currImg.content.title2}}</h1>
            <p *ngFor="let item of multipleService.currImg.content.text.text2">{{item}}</p>
        </div>
    </div>
</div>

<!--单图-->
<div class="multiple-content  type6" *ngIf="multipleService.currImg.content.type===6">
    <img src="{{multipleService.currImg.content.img1}}" alt="">
</div>






<!--定速巡航-->
<div class="multiple-content  type7" *ngIf="multipleService.currImg.content.type===7">
    <div class="daohang-wapper " [class.hongguangS1]="multipleService.currImg.content.animation==='hongguangS1'">
        <div class="daohang">
            <div class="back">
                <div class="bg bg1">
                    <!--<img src="./assets/images/pic_13_bg.jpg" alt="多功能方向盘+定速巡航">-->
                </div>
                <div class="bg bg2">
                    <!--<img src="./assets/images/pic_13_bg.jpg" alt="多功能方向盘+定速巡航">-->
                </div>
            </div>
            <div class="car" [class.run]="!daohang">
                <!--<img src="{{multipleService.currImg.content.images.car}}" alt="多功能方向盘+定速巡航">-->
            </div>
            <div class="btn_box " style="transform: scale(1.00154);">
                <div class="btn btn1" [class.on]="daohang" (click)="openDaoHang()"></div>
                <div class="btn btn2" [class.on]="!daohang" (click)="closeDaoHang()"></div>
            </div>
            <div class="pan " style="transform: scale(1.00154);">
                <div class="zhen zhen1" [class.zhen2]="daohang"></div>
            </div>
        </div>
    </div>
    <div class="info">
        <h1>{{multipleService.currImg.content.title}}</h1>
        <p *ngFor="let item of multipleService.currImg.content.text">{{item}}</p>
    </div>
</div>


<!--轮播图-->
<div class="multiple-content type8" *ngIf="multipleService.currImg.content.type===8">
    <!--<img src="{{multipleService.currImg.content.img1}}" alt="">-->
    <div class="swiper-container swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of multipleService.currImg.content.images">
                <img src="{{item}}" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>

    </div>
    <sk-swiper *ngIf="multipleService.currImg.content.images"> </sk-swiper>
    <div class="info">
        <h1>{{multipleService.currImg.content.title}}</h1>
        <p *ngFor="let item of multipleService.currImg.content.text">{{item}}</p>
    </div>

</div>


<!--上1图,下文字-->
<div class="multiple-content type9" *ngIf="multipleService.currImg.content.type===9">
    <img src="{{multipleService.currImg.content.img1}}" alt="">
    <div class="info">
        <h1>{{multipleService.currImg.content.title}}</h1>
        <p *ngFor="let item of multipleService.currImg.content.text">{{item}}</p>
    </div>
</div>

<!--10 噪音测试-->
<div class="multiple-content  type10" *ngIf="multipleService.currImg.content.type===10">
    <div class="jingyin-wapper">
        <div class="jingyin">
            <div class="bg ">
                <!--<img src="./assets/images/pic_13_bg.jpg" alt="多功能方向盘+定速巡航">-->
            </div>
            <div class="car">
                <img src="{{multipleService.currImg.content.images.car}}" alt="多功能方向盘+定速巡航"></div>
            <div class="btn_box" (click)="switchJingYin($event)">
                <div class="btn btn1" *ngIf="!jingyin"></div>
                <div class="btn btn2" *ngIf="jingyin"></div>
            </div>
            <div class="sound" *ngIf="jingyin">
                <div class="sd">
                    <div class="sd1"> </div>
                    <div class="sd2"> </div>
                </div>
                <div class="pan">
                    <div class="zhen" [class.on]="zhen"></div>
                    <div class="val unselectable">{{count}}</div>
                </div>
            </div>
            <div class="out unselectable" style="transform: scale(1);"><span>{{dB}}</span>dB</div>
        </div>
    </div>
    <div class="info">
        <h1>{{multipleService.currImg.content.title}}</h1>
        <p *ngFor="let item of multipleService.currImg.content.text">{{item}}</p>
    </div>
</div>
