//  定义动画

// 仪表指针
@keyframes daohangZhen
{
    0%
    {
        transform: rotate(0);
    }

    50%
    {
        transform: rotate(10deg);
    }

    100%
    {
        transform: rotate(0);
    }
}


@keyframes daohangZhen2
{
    0%
    {
        transform: rotate(8deg);
    }

    100%
    {
        transform: rotate(0);
    }
}
@keyframes hongguangZhen
{
    0%
    {
        transform: rotate(88deg) scale(.635385);
    }

    50%
    {
        transform: rotate(70deg) scale(.635385);
    }

    100%
    {
        transform: rotate(88deg) scale(.635385);
    }
}


@keyframes hongguangZhen2
{
    0%
    {
        transform: rotate(70deg) scale(.635385);
    }

    100%
    {
        transform: rotate(92deg) scale(.635385);
    }
}

// 道路背景
@keyframes run1
{
    0%
    {
        left: -100%;
    }

    100%
    {
        left: 0;
    }
}
@keyframes run2
{
    0%
    {
        left: 0;
    }
    100%
    {
        left: 100%;
    }
}

// 汽车移动
@keyframes car
{
    0%
    {
        left: 0;
    }
    100%
    {
        left: -30px;
    }
}

// 闪烁效果
@keyframes flare
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

// 声音背景
@keyframes sound1
{
    0%
    {
        left: 0;
    }

    100%
    {
        left: -100%;
    }
}
@keyframes sound2
{
    0%
    {
        left: 100%;
    }
    100%
    {
        left: 0;
    }
}

// ===========================================
.multiple-content
{
    width: 920px;
    margin: 0 auto;

    background-image: url('./images/bg.png');
    p
    {
        margin-bottom: 10px;
    }
    &.type1
    {
        position: relative;
        .img-warpper
        {
            height: 260px;
        }

        .img
        {
            position: absolute;
            top: 0;

            width: 460px;
            height: 260px;

            border: 1px solid #000;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            &.img1
            {
                left: 0;
            }
            &.img2
            {
                right: 0;
            }
        }
        .info
        {
            height: 170px;

            h1
            {
                font-size: 20px;

                margin: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;

                text-align: center;

                // color: #000;
            }
            p
            {
                padding: 0 20px;

                text-align: left;
            }
        }
    }

    // 类型2,双图,无文字
    &.type2
    {
        img
        {
            float: left;

            width: 460px;
        }
    }

    // 类型3,右图,左字
    &.type3
    {
        position: relative;

        height: 260px;
        img
        {
            position: absolute;
            top: 0;
            right: 0;

            width: 460px;
            height: 260px;
            &.flare
            {
                // animation: flare 0.5s 6 alternate;
            }
        }
        .info
        {
            width: 410px;
            height: 260px;
            padding: 0 30px;
            padding-right: 480px;

            h1
            {
                font-size: 20px;

                margin: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;

                text-align: left;

                // color: #000;
            }
            p
            {
                text-align: left;
            }
        }
    }
    // 类型4,左图,右字
    &.type4
    {
        position: relative;

        height: 260px;
        .img
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 460px;
            height: 260px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            &.flare
            {
                // animation: flare 0.5s 6 alternate;
            }
            img
            {
                width: 460px;
                height: 260px;
                &.flare
                {
                    // animation: flare 0.5s 6 alternate;
                }
            }
        }
        .info
        {
            position: absolute;
            top: 0;
            right: 0;

            width: 420px;
            height: 260px;
            padding: 0 20px;
            // padding-left: 480px;

            h1
            {
                font-size: 20px;

                margin: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;

                text-align: left;

                // color: #000;
            }
            p
            {
                text-align: left;
            }
        }
    }

    // 类型5,双图(左上右下),双字(右上左下)
    &.type5
    {
        position: relative;

        width: 920px;
        height: 400px;
        img
        {
            position: absolute;

            width: 460px;
            height: 200px;
            &:first-of-type
            {
                top: 0;
                left: 0;
            }
            &:last-of-type
            {
                right: 0;
                bottom: 0;
            }
        }
        .info
        {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 0 30px;

            div
            {
                position: absolute;

                box-sizing: border-box;
                width: 460px;
                height: 200px;
                padding: 0 30px;
                &:first-of-type
                {
                    top: 0;
                    right: 0;
                }
                &:last-of-type
                {
                    bottom: 0;
                    left: 0;
                }
            }
            h1
            {
                font-size: 20px;

                margin: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;

                text-align: left;

                // color: #000;
            }
            p
            {
                text-align: left;
            }
        }
    }

    // 类型6,单图
    &.type6
    {
       

        position: relative;

        width: 920px;
        img
        {
            max-width: 800px;
            max-height: 457px;
        }
    }

    // 类型7,巡航
    &.type7
    {
        position: relative;

        width: 920px;
        height: 350px;
        .daohang-wapper
        {
            // position: relative;
            float: left;
            // display: inline-block;
            overflow: hidden;

            width: 651px;
            height: 350px;

            text-align: center;
            &.on
            {
                transform: translate(0,0);

                opacity: 1;
            }
            .daohang
            {
                position: relative;

                overflow: hidden;
                /* width: 647px; height: 350px;*/

                height: 100%;
                .back
                {
                    position: absolute;
                    top: 0;
                    left: -651px;

                    width: 200%;
                    height: 100%;
                    .bg
                    {
                        position: absolute;
                        top: 0;

                        width: 50%;
                        height: 100%;

                        background-image: url('./images/baojun310_2_b-bg.jpg');
                        // img
                        // {
                        //     position: static !important;
                        //     left: 0 !important;

                        //     width: 101% !important;
                        //     margin: 0 !important;
                        // }
                        &.bg1
                        {
                            // animation: run1 1.5s linear infinite;
                            left: 0;
                        }
                        &.bg2
                        {
                            // animation: run2 1.5s linear infinite;
                            left: 651px;
                        }
                    }
                }
                .car
                {
                    position: relative;
                    left: 0;

                    height: 100%;
                    /*background-image: url(../images/730/pic_13_car.png); position: absolute; left: 261px; top: 46px; width: 211px; height: 104px;*/

                    transition: all 1s;

                    background-image: url('./images/baojun310_2_b-car.png');
                    &.run
                    {
                        animation: car 1s infinite alternate;
                    }
                }
                .btn_box
                {
                    position: absolute;
                    top: 0;

                    width: 100%;
                    height: 100%;
                }
                .btn1
                {
                    position: absolute;
                    bottom: 10%;
                    left: 90px;

                    width: 100px;
                    height: 80px;

                    cursor: pointer;

                    background-image: url(./images/pic_13_btn1.png);
                    &.on
                    {
                        background-position: left bottom;
                    }
                }

                .btn2
                {
                    position: absolute;
                    bottom: 10%;
                    left: 263px;

                    width: 100px;
                    height: 72px;

                    cursor: pointer;

                    background-image: url(./images/pic_13_btn2.png);
                    &.on
                    {
                        background-position: left bottom;
                    }
                }

                .pan
                {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    // width: 234px;

                    width: 205px;
                    // height: 186px;
                    height: 205px;
                    // background: url(./images/pic_13_pan.png) center right no-repeat;

                    background: url('./images/baojun310_2_b-pan.png') no-repeat;
                    background-repeat: no-repeat;
                    .zhen
                    {
                        position: absolute;
                        top: 89px;
                        left: 13px;

                        width: 112px;
                        height: 35px;

                        -webkit-transform-origin: 98%;
                           -moz-transform-origin: 98%;
                            -ms-transform-origin: 98%;
                             -o-transform-origin: 98%;
                                transform-origin: 98%;

                        background: url('./images/baojun310_2_b-zhen.png') no-repeat;
                    }
                    .zhen1
                    {
                        // animation: daohangZhen 1.5s linear infinite;
                    }
                    .zhen2
                    {
                        // animation: daohangZhen2 1.5s linear forwards;
                    }
                }
            }
            &.hongguangS1
            {
                .bg
                {
                    background-image: url('./images/hongguang_s1_i-bg.jpg') !important;
                }
                .car
                {
                    background-image: url('./images/hongguang_s1_i-car.png') !important;
                }
                .pan
                {
                    transform: scale(.935385) !important;

                    background: url('./images/hongguang_s1_i-pan.png') center center no-repeat !important;
                }
                .zhen
                {
                    top: 108px !important;
                    top: 95px !important;
                    left: 32px !important;
                    left: 12px !important;

                    width: 68px !important;
                    width: 70px !important;
                    height: 47px !important;
                    height: 47px !important;

                    transform: rotate(92deg) scale(.635385) ;

                    background-image: url('./images/hongguang_s1_i-zhen.png') !important;
                    background-repeat: no-repeat;

                    &.zhen1
                    {
                        // animation: hongguangZhen 1.5s linear infinite !important;
                    }
                    &.zhen2
                    {
                        // animation: hongguangZhen2 1.5s linear forwards !important;
                    }
                }
            }
        }
        .info
        {
            // position: absolute;
            // top: 0;
            box-sizing: border-box;
            height: 350px;
            padding: 30px 20px;
            padding-left: 680px;

            h1
            {
                font-size: 20px;

                margin: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;

                text-align: left;

                // color: #000;
            }
            p
            {
                text-align: left;
            }
        }
    }

    // 类型8,轮播图
    &.type8
    {
        position: relative;

        height: 260px;
        .swiper
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 460px;
            height: 260px;
            img
            {
                width: 460px;
                height: 260px;
            }
        }
        .info
        {
            width: 410px;
            height: 260px;
            padding: 0 30px;
            padding-left: 480px;

            h1
            {
                font-size: 20px;

                margin: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;

                text-align: left;

                // color: #000;
            }
            p
            {
                text-align: left;
            }
        }
    }

    // 上1图,下文字
    &.type9
    {
        img
        {
            float: left;

            width: 920px;
        }
        .info
        {
            height: 400px;

            h1
            {
                font-size: 20px;

                margin: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 280px;
                padding-bottom: 20px;

                text-align: center;

                // color: #000;
            }
            p
            {
                padding: 0 20px;

                text-align: left;
            }
        }
    }

    // 类型10,噪音测试
    &.type10
    {
        position: relative;

        width: 920px;
        height: 350px;
        .jingyin-wapper
        {
            // position: relative;
            float: left;
            // display: inline-block;
            overflow: hidden;

            width: 651px;
            height: 350px;

            text-align: center;
            &.on
            {
                transform: translate(0,0);

                opacity: 1;
            }
            .jingyin
            {
                position: relative;

                width: 651px;
                height: 350px;

                text-align: center;
                .bg
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                    text-align: center;

                    background-image: url('./images/pic_9_bg.jpg');
                }
                .car
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                    text-align: center;
                    img
                    {
                        height: 350px;
                    }
                }
                .btn_box
                {
                    position: absolute;
                    top: 176px;
                    right: 85px;

                    width: 80px;
                    height: 80px;

                    cursor: pointer;

                    .btn
                    {
                        width: 100%;
                        height: 100%;

                        background-size: 100% 100%;
                        &.btn1
                        {
                            background-image: url('./images/pic_06_btn.png');
                        }
                        &.btn2
                        {
                            background-image: url('./images/pic_07_btn_on.png');
                        }
                    }
                }
                .sound
                {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    width: 100%;
                    height: 64px;
                    .sd
                    {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        width: 200%;
                        height: 100%;

                        .sd1
                        {
                            position: absolute;
                            bottom: 0;
                            // animation: sound1 3s linear infinite;
                            left: 0;

                            width: 50%;
                            height: 100%;

                            background-image: url('./images/pic_9_sound.png');
                            background-size: 100% 100%;
                        }
                        .sd2
                        {
                            position: absolute;
                            bottom: 0;
                            // animation: sound2 3s linear infinite;
                            left: 50%;

                            width: 50%;
                            height: 100%;

                            background-image: url('./images/pic_9_sound.png');
                            background-size: 100% 100%;
                        }
                    }
                    .pan
                    {
                        position: absolute;
                        // transform: translate(-50%,-50%);
                        right: 30px;
                        bottom: 6px;

                        width: 86px;
                        height: 82px;
                        // transform: scale(.4);

                        background-image: url('./images/pic_07_pan.png');
                        background-size: 100% 100%;

                        .zhen
                        {
                            position: absolute;
                            top: 41px;
    left: 18px;
    width: 24px;
    height: 19px;

                            transition: transform 2.4s linear;
                            -ms-transform-origin: 100% 0;
                            transform-origin: 100% 0;

                            background-image: url('./images/pic_07_zhen.png');
                        background-size: 100% 100%;

                            &.on
                            {
                                -ms-transform: rotate(70deg);
                                transform: rotate(70deg);
                            }
                        }
                        .val
                        {
                            font-size: 14px;
                            font-weight: bold;

                            position: absolute;
                            top: 47px;
                            left: 27px;

                            color: #fff;
                        }
                    }
                }
                .out
                {
                    font-size: 16px;
                    line-height: 28px;

                    position: absolute;
                    top: 20px;
                    right: 30px;

                    width: 60px;
                    height: 28px;
                    padding-left: 55px;

                    color: #fff;
                    background: url('./images/pic_07_1.png') no-repeat;
                }
            }
        }
        .info
        {
            box-sizing: border-box;
            height: 350px;
            padding: 30px 20px;
            padding-left: 680px;

            h1
            {
                font-size: 20px;

                margin: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;

                text-align: left;

                // color: #000;
            }
            p
            {
                text-align: left;
            }
        }
    }
}
