<div class="drag-and-drop-body">
    <h1>{{pageData.title}}</h1>
    <!--说明-->
    <p *ngIf="pageData.explain">{{pageData.explain}}</p>
    <!--题目-->
    <p class="problem"><span>{{pageData.problem}}</span></p>
    <!--拖拽选项-->
    <div class="answer-area">
        <dl>
            <dt>{{pageData.optionsTitle[0]}}</dt>
            <dd>
                <ul class="itemize-list" *ngIf="pageData.resonOptions">
                    <li *ngFor='let option of pageData.resonOptions' [ngStyle]="{height:option.height,lineHeight:option.height}">{{option.text}}</li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>{{pageData.optionsTitle[1]}}</dt>
            <dd>
                <ul class="itemize-list" *ngIf="pageData.resonOptions">
                    <li *ngFor='let option of pageData.resonOptions' [ngStyle]="{height:option.height,width:pageData.dragStyleCommon.width}">
                        <span [ngStyle]="{lineHeight: option.lineHeight}">{{option.answerTrue}}</span>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="drag-area" [ngStyle]="{width:pageData.dragStyleCommon.width}">
        <dl>
            <dt>答案备选区</dt>
            <dd>
                <ul class="itemize-list" *ngIf="pageData.answerOptions">
                    <li *ngFor='let option of pageData.answerOptions' [ngStyle]="{height:option.dragStyle.height}">
                        <draggable-drop [dataAnswer]="option" [dragStyleCommon]="pageData.dragStyleCommon" (dropEvent)="dropEvent($event)" [data]="pageData"></draggable-drop>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
