<div class="dialog-btn" (click)="openDialog()" [ngStyle]="position()" [ngClass]="pointBgClass">
    {{data?.point}}
    <span (@halo.done)="animationDone(data)" [@halo]="halo"></span>
</div>

<div class="dialog-modal" *ngIf="data?.showDialog">
    <div class="dialog-wrapper">
        <div class="dialog-content" [@flyIn]="data.animation">
            <div class="dialog-close-wrapper">
                <div class="dialog-cd" *ngIf="cd.time>0  "></div>
                <div class="dialog-close" *ngIf="cd.time<=0 " (click)="closeDialog()"></div>
            </div>
            <!--<div class="haha" style="width: 700px;height: 300px;background-color: cornflowerblue;">
                这是弹窗内容呀
                <br> {{data.content.text}}

            </div>-->
            <multiple-content *ngIf="data?.content"></multiple-content>
        </div>
    </div>
</div>
