<div class="container ">
  <div class="header">
    <!--<div>
            <div class="line"></div>
        </div>-->
    <h1>ServiceTraining</h1>
    <div class="logo"> </div>

  </div>

  <div class="main">
    <!--包含内容-->
    <div class="menu">
      <div class="menu-btn menu-left-btn" (click)="switchMenu('left')">
        <div class="tip">
          【技术指导】按钮，通过学习你可以提升自己的技能
        </div>
      </div>
      <div class="menu-btn menu-right-btn" (click)="switchMenu('right')">
        <div class="tip">
          【模拟训练】按钮，通过学习你可以锻炼自己的技能
        </div>
      </div>
      <div class="menu-content-wapper" *ngIf="showMenu==='left'">
        <h2>技术指导</h2>
        <div class="menu-content menu-content-left">
          <ul>
            <li>
              <span (click)="go2router('/principle')">原理</span>
              <div class="tip">防盗系统功能原理 </div>
            </li>
            <li>
              <span (click)="go2router('/instruction')">匹配指导</span>
              <div class="tip">PQ 46 防盗锁止系统零部件更换表</div>
            </li>
            <li>
              <span (click)="go2router('/notice')">注意事项</span>
              <div class="tip">在部件更换过程中请仔细阅读维修注意事项</div>
            </li>
            <li>
              <span (click)="go2router('/tested')">测试</span>
              <div class="tip">点击【测试】可以对您的学习成果验证</div>
            </li>
          </ul>
        </div>
        <div class="menu-content-foot"> </div>
      </div>
      <div class="menu-content-wapper" *ngIf="showMenu==='right'">
        <h2>模拟训练</h2>
        <div class="menu-content menu-content-right">
          <ul>
            <li>
              <span (click)="go2router('/elsaWin')">Elsa win</span>
              <div class="tip">您可以查询您需要的电路图或维修手册</div>
            </li>
            <li>
              <span (click)="go2router('/odis')">ODIS</span>
              <div class="tip">防盗系统各部件的更换步骤</div>
            </li>
            <li>
              <span (click)="go2router('/spares')">备件库</span>
              <div class="tip">维修中您可以选择您要应用的备件</div>
            </li>
            <li>
              <span (click)="go2router('/tools')">工具箱</span>
              <div class="tip">维修中您可以选择您要使用的工具</div>
            </li>
            <li>
              <span (click)="go2router('/scene')">车辆场景</span>
              <div class="tip">您可以进入车辆的应用位置</div>
            </li>
            <li>
              <span (click)="go2router('/parts')">零件车</span>
              <div class="tip">维修中您可以将拆卸的部件放在【零件车】里</div>
            </li>
          </ul>
        </div>
        <div class="menu-content-foot"> </div>
      </div>
      <!--页码-->
      <div class="pagination-wapper" *ngIf="showMenu==='left' || showMenu==='right'">
        <div class="button prev"></div>
        <div class="pagination">--/--</div>
        <div class="button next"></div>
      </div>
    </div>

    <div class="main-content">

      <router-outlet></router-outlet>

    </div>
  </div>
  <div class="foot">
    <!--目录按钮-->
    <!--<cata-log class="chapter"></cata-log>-->
    <close-window></close-window>
    <div class="home" (click)="go2router('/home')">
      <div class="tip">
        【菜单】按钮，通过点击您可以返回课程首页
      </div>
    </div>
    <!--<a routerLink="/center">Crisis Center</a>-->
    <!--<a routerLink="/home" routerLinkActive="active">Home</a>-->

    <!--分页-->
    <!--<sg-pagination></sg-pagination>-->
  </div>
</div>
<!--<principle-page *ngIf="this.appService.state.current.id"></principle-page>-->
<!--<principle-page></principle-page>-->
