

/*body========================================================================================================*/

.container {
    overflow: hidden;

    position: relative;
    top: 0;
    left: 0;

    margin: 10px auto;
    border: 1px #003c65 solid;
    width: 1024px;
    height: 680px;

    background-color: #fff;

    -moz-box-shadow: 0 0 2px 0;
         box-shadow: 0 0 2px 0;
}

/*header======================================================================================================*/
.header {
    // position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;

    color: #555;
    // background: url(./images/header_bg.png) no-repeat;

    .logo {
        float: right;

        margin-top: 10px;
        margin-right: 60px;
        width: 50px;
        height: 50px;

        background-image: url("./images/Bitmap.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    h1 {
        float: left;

        padding-left: 60px;
        height: 70px;

        font-size: 28px;
        line-height: 70px;

        color: #003c65;
    }
}

/*main======================================================================================================*/
.main {
    position: relative;

    margin: 0 auto;
    border: 1px solid #003c65;
    width: 944px;
    height: 560px;

    -moz-box-shadow: 0 0 2px 0;
         box-shadow: 0 0 2px 0;

     -ms-box-shadow: 0 0 2px 0;
    .main-content {
        position: absolute;
        top: 0;
        left: 0;

        margin: 0 auto;
        // box-sizing: border-box;
        // -moz-box-sizing: border-box;
        // border: 1px #2c2c2c solid;
        width: 100%;
        height: 100%;

        background-color: #fff;
    }
    .menu {
        position: relative;
        z-index: 1100;

        // height: 100%;
        .tip {
            display: none;

            position: absolute;
            bottom: 50px;
            left: 0;
            z-index: 2000;

            -moz-box-sizing: border-box;
                 box-sizing: border-box;
            border-radius: 2px;
            // width: 390px;
            padding: 0 25px;
            height: 50px;

            font-size: 16px;
            line-height: 50px;
            text-align: center;
            white-space: nowrap;

            color: #000;
            background-color: #fff;

            -moz-box-shadow: 0 0 2px 0;
                 box-shadow: 0 0 2px 0;

             -ms-box-shadow: 0 0 2px 0;
        }
    }
    .menu-btn {
        position: absolute;
        top: 120px;
        z-index: 1101;

        width: 26px;
        height: 70px;

        cursor: pointer;
        &.menu-left-btn {
            left: 0;

            background-image: url("./images/左1.png");
            &:hover {
                background-image: url("./images/左2.png");
                .tip {
                    display: block;
                }
            }
            .tip {
                // display: block;
                bottom: 10px;
                left: 32px;
            }
        }
        &.menu-right-btn {
            right: 0;

            background-image: url("./images/右1.png");
            &:hover {
                background-image: url("./images/右2.png");
                .tip {
                    display: block;
                }
            }
            .tip {
                // display: block;
                bottom: 10px;
                left: -430px;
            }
        }
    }
    .menu-content-wapper {
        height: 560px;

        background: #fff;
        h2 {
            position: absolute;
            top: 40px;
            left: 20px;

            font-size: 20px;

            color: #003c65;
        }
        .menu-content-foot {
            position: absolute;
            right: 0;
            bottom: -50px;

            width: 100%;
            height: 45px;

            background-color: #fff;
        }

        .menu-content {
            // float: left;
            position: relative;
            top: 70px;

            width: 100%;
            height: 466px;
            // background: #555;

            -moz-box-shadow: 0 0 4px 0;
                 box-shadow: 0 0 4px 0;

             -ms-box-shadow: 0 0 4px 0;


            &.menu-content-left {
                ul {
                    li {
                        position: absolute;

                        border-radius: 50%;
                        width: 180px;
                        height: 180px;

                        font-size: 20px;
                        line-height: 180px;
                        text-align: center;

                        color: #fff;
                        background-image: url("./images/按1.png");
                        background-repeat: no-repeat;
                        background-position: center;

                        cursor: pointer;
                        span {
                            position: absolute;
                            top: 0;
                            left: 0;

                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                        &:hover {
                            background-image: url("./images/按2.png");
                            .tip {
                                display: block;
                            }
                        }

                        &:nth-child(1) {
                            top: 25px;
                            left: 330px;
                            .tip {
                                left: -150px;
                            }
                        }
                        &:nth-child(2) {
                            top: 192px;
                            left: 330px;
                            .tip {
                                left: -268px;
                            }
                        }
                        &:nth-child(3) {
                            top: 108px;
                            left: 474px;
                            .tip {
                                bottom: 123px;
                                left: 80px;
                            }
                        }
                        &:nth-child(4) {
                            top: 275px;
                            left: 474px;
                            .tip {
                                left: 140px;
                            }
                        }
                    }
                }
            }
            &.menu-content-right {
                ul {
                    li {
                        position: absolute;

                        border-radius: 50%;
                        width: 180px;
                        height: 180px;

                        font-size: 20px;
                        line-height: 180px;
                        text-align: center;

                        color: #fff;
                        background-image: url("./images/按1.png");
                        background-repeat: no-repeat;
                        background-position: center;

                        cursor: pointer;
                        span {
                            position: absolute;
                            top: 0;
                            left: 0;

                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                        &:hover {
                            background-image: url("./images/按2.png");
                            .tip {
                                display: block;
                            }
                        }

                        &:nth-child(1) {
                            top: 25px;
                            left: 227px;
                            .tip {
                                bottom: 123px;
                                left: -170px;
                            }
                        }
                        &:nth-child(2) {
                            top: 108px;
                            left: 370px;
                            .tip {
                                bottom: 200px;
                                left: -30px;
                            }
                        }
                        &:nth-child(3) {
                            top: 25px;
                            left: 516px;
                            .tip {
                                bottom: 123px;
                                left: 80px;
                            }
                        }
                        &:nth-child(4) {
                            top: 192px;
                            left: 227px;
                            .tip {
                                bottom: 0;
                                left: -180px;
                            }
                        }
                        &:nth-child(5) {
                            top: 275px;
                            left: 370px;
                            .tip {
                                bottom: 30px;
                                left: 140px;
                            }
                        }
                        &:nth-child(6) {
                            top: 192px;
                            left: 516px;
                            .tip {
                                bottom: 0;
                                left: 55px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*last,next================================================================================================*/
.foot {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0 auto ;
    width: 100%;
    height: 50px;

    font-size: 16px;
    line-height: 30px;
    text-align: center;

    // background: url(./images/foot_bg.png) no-repeat;
    .home {
        position: absolute;
        bottom: 10px;
        left: 82px;
        z-index: 1100;

        width: 30px;
        height: 30px;

        background-image: url("./images/菜单1.png");

        cursor: pointer;
        &:hover {
            background-image: url("./images/菜单2.png");
            .tip {
                display: block;
            }
        }
        .tip {
            display: none;

            position: absolute;
            bottom: 40px;
            left: 0;
            z-index: 1000;

            -moz-box-sizing: border-box;
                 box-sizing: border-box;
            border-radius: 2px;
            width: 390px;
            height: 50px;

            font-size: 16px;
            line-height: 50px;
            text-align: center;

            background-color: #fff;

            -moz-box-shadow: 0 0 2px 0;
                 box-shadow: 0 0 2px 0;

             -ms-box-shadow: 0 0 2px 0;
        }
    }
}


/*此功能不可用弹出警告框 ==========================================================================================================*/
.resistanceWarn {
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 99;

    width: 1025px;
    height: 529px;

    background: rgba(0, 0, 0, .5);
}

.resistanceWarn span.resistanceWarn-alert {
    display: block;

    margin: 150px auto;
    width: 300px;
    height: 200px;

    text-align: center;

    background: #212121;
}

.resistanceWarn span.resistanceWarn-alert p {
    position: relative;
    top: 50px;
    left: 0;

    width: 100%;

    font: 14px "microsoft yahei";
    line-height: 24px;

    color: #fff;
}

.resistanceWarn span.resistanceWarn-alert button {
    position: relative;
    top: 120px;

    width: 80px;
    height: 30px;

    color: #fff;
    background: #000;
}

.resistanceWarn span.resistanceWarn-alert button:hover {
    color: #000;
    background: #fff;
}

/*# sourceMappingURL=comm.css.map */


.z-index-100 {
    z-index: 100;
}
.opacity {
    opacity: 0;
}
.hidden {
    display: none;
}

*.unselectable {
    -webkit-user-select:      none;
       -moz-user-select: -moz-none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
        -ms-user-select:      none;
            user-select:      none;

     -khtml-user-select:      none;
}
