.bn-div {
     width: 700px;
    height: 19px;
    position: absolute;
    top:80px;
    left:170px;
    background:url('./images/z1.png');
    z-index:9998;
}
.bn-ul {
    position: absolute;
    top:80px;
    left:40px;
    z-index:9999;
    li {
        float:left;
        margin-left:80px;
        margin-top:-23px;
        width: 30px;
        height: 28px;
        line-height: 13px;
        padding:20px 18px 18px 19px;
        font-size:12px;
         color:white;
       background-image: url('./images/z3.png');
       background-repeat: no-repeat;
         &.fin
            {
                background-image: url('./images/z5.png');
                color:#186555;
            }
         &.stu
            {
                background-image: url('./images/z2.png');
                color:black;
            }
         background-size:cover;

    }

}
.bn-p {
    position: absolute;
    top:130px;
    left:131px;
    color:black;
    font-weight:900;
    font-size:20px;
}
.fanghu {
    position:absolute;
    top:174px;
    left:152px;
     .bk_x{
                    width:8px;
                    height: 8px;
                    position:absolute;
                    top:7px;
                    left:-20px;
                    border: 2px solid #000;
                }
}


//  .show{
// display: none !important
//     }
