
<div *ngIf="show">
<div class="plj-diagnostic-body" [style.backgroundImage]="1 ? 'url('+ appService.state.current.backgroundImageSrc+')': ' '">
  <ng-template ngFor let-item [ngForOf]="componentArray">
    <sgm-image [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'image'"> </sgm-image>
    <sgm-button [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'button'"> </sgm-button>
    <sgm-input [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'input'"> </sgm-input>
    <sgm-text [data]="item" (event)="eventHandler($event,item)" *ngIf="item.type === 'text' "> </sgm-text>
    <sgm-jump [data]="item" (event)="NextLight(item);eventHandler($event,item)" *ngIf="item.type === 'jump' "> </sgm-jump>
  </ng-template>
  <div class="plj-pagination-wapper">
    <div class="button prev gray"></div>
    <div class="pagination">--/--</div>
    <div class="button next gray" (click)="pageClick()"></div>
  </div>
</div>
</div>

<!--返回按钮-->
<div class="menu-wapper">
  <div class="button prev" (click)="go2router('/odis')">
    <div class="tip">
      【重新选择】按钮，点击后将返回【ODIS】
    </div>
  </div>
</div>
