
@mixin redpoint{
    width: 5px;
    height: 5px;
    float: left;
    margin-left: 5px;
    position: relative;
    background: #f00;
    border-radius: 50%;
    margin-top: 5px;
}
@mixin smallredpoint{
    width: 4px;
    height: 4px;
    float: left;
    margin-left: 4px;
    position: relative;
    background: #f00;
    border-radius: 50%;
    margin-top: 4px;
}
.principle-body{
    width:900px;
    height:450px;
    background: url(./images/principle_bg.png) no-repeat;
    position: relative;left:-2px;top:0;
    color: #fff;
    .switch-controller{
        width:38px;
        height:5px;
        background: url(./images/switch-controller.png) no-repeat;
        position: absolute;left:166px;top:79px;transform: rotate(-16deg);
    }
    .switch-controller-active{
        width:38px;
        height:5px;
        background: url(./images/switch-controller-red.png) no-repeat;
        position: absolute;left:166px;top:86px;transform: rotate(0deg);
    }
    .switch2vcubox{
        width: 264px;
        height: 25px;
        position: absolute;left: 215px;top: 86px;
        overflow: hidden;
        .switch2vcu{
            width: 264px;
            height: 25px;
            background: url(./images/switch2vcu.png) no-repeat;
            position: relative;left: -264px;top: 0px;
        }
    }
    .vcu2dcdc{
        width:145px;
        height:146px;
        background: url(./images/vcu2dcdc.png) no-repeat;
        position: absolute;left:289px;top:180px;
    }
    .vcu2bms{
        width:142px;
        height:33px;
        background: url(./images/vcu2bms.png) no-repeat;
        position: absolute;left:544px;top:143px;
    }
    .vcu2mcu{
        width:66px;
        height:4px;
        background: url(./images/vcu2mcu.png) no-repeat;
        position: absolute;left:348px;top:143px;
    }

    .brakeline{
        width:16px;
        height:109px;
        background: url(./images/brakeline.png) no-repeat;
        position: absolute;left:484px;top:181px;
    }
    .gasline{
        width:4px;
        height:53px;
        background: url(./images/gasline.png) no-repeat;
        position: absolute;left:505px;top:174px;
    }
    .gearline{
        width:31px;
        height:54px;
        background: url(./images/gearline.png) no-repeat;
        position: absolute;left:525px;top:165px;
    }
    .signal{
        width:76px;
        height:2px;
        background: url(./images/signal.png) no-repeat;
        position: absolute;left:193px;top:144px;
    }

    .arrow-purple{
        width:13px;
        height:13px;
        background: url(./images/purple-arrow.png) no-repeat;
        position: absolute;
        display: none;
    }
    .arrow-blue{
        width:13px;
        height:13px;
        background: url(./images/blue-arrow.png) no-repeat;
        position: absolute;
        display: none;
    }
    .machine2vcu{
        width:4px;
        height:120px;
        background: url(./images/machine2vcu.png) no-repeat;
        position: absolute;left: 460px;top: 185px;
    }
    .machine2kou{
        width:172px;
        height:4px;
        background: url(./images/machine2kou.png) no-repeat;
        position: absolute;left: 508px;top: 352px;
    }
    .arrow1{
        left:400px;top:138px;
        transform: rotate(-90deg);
    }
    .arrow2{
        transform: rotate(90deg);
        left:546px;top:138px;
    }
    .arrow3{
        left:425px;top:190px;
        transform: rotate(180deg);
    }
    .arrow4{
        left:488px;top:281px;
        transform: rotate(-90deg);
    }
    .arrow5{
        left:501px;top:213px;
        transform: rotate(0deg);
    }
    .arrow6{
        left:543px;top:211px;
        transform: rotate(-90deg);
    }
    .arrow7{
        left:193px;top:139px;
        transform: rotate(90deg);
    }
    .arrow8{
        left:666px;top:347px;
        transform: rotate(-90deg);
    }
    .arrow9{
        left:456px;top:290px;
        transform: rotate(0deg);
    }
    .arrow-turnBox{
        width: 98px;
        height: 17px;
        position: absolute;left:553px;top:73px;  
        overflow: hidden;
        .arrow-turn2{
            width:146px;
            height:17px;
            background-image: url(./images/arrow_turn1.png);
            display: none;
            position: absolute;left:-25px;top:0; 
        }
    }
    .arrow-turnBox2{
        width: 98px;
        height: 17px;
        position: absolute;left:544px;top:300px;  
        overflow: hidden;
        .arrow-turn2{
            width:146px;
            height:17px;
            background-image: url(./images/arrow_turn1.png);
            display: none;
            position: absolute;left:-25px;top:0; 
        }
    }
    .chargegun{
        width:40px;
        height:93px;
        background-image: url(./images/Charginggun.png);
        position: absolute;left:733px;top:356px; 
    }
    












    .parentbox1{
        width: 10px;
        height: 63px;
        position: absolute;left: 308px;top: 176px;
        overflow: hidden;
        #redpointbox{
            display: none;
            position: relative;
            width: 10px;
            height: 87px;
            left: 0;
            top: -10px;
            overflow: hidden;
            .redpoint{
                @include redpoint;
            }
        }
    }
    .parentbox2{
        width: 233px;
        height: 15px;
        position: absolute;left: 368px;top: 257px;
        overflow: hidden;
        #redpointbox2{
            display: none;
            position: relative;
            width: 256px;
            height: 15px;
            left: -21px;
            top: 0;
            overflow: hidden;
            .redpoint{
                @include redpoint;
            }
        }
    }
    .parentbox3{
        width: 15px;
        height: 65px;
        position: absolute;left: 320px;top: 286px;
        overflow: hidden;
        #redpointbox3{
            display: none;
            position: relative;
            width: 15px;
            height: 86px;
            left: 0;
            top: -10px;
            overflow: hidden;
            .redpoint{
                @include redpoint;
            }
        }
    }
    .parentbox4{
        width: 58px;
        height: 15px;
        position: absolute;left: 273px;top: 341px;
        overflow: hidden;
        #redpointbox4{
            display: none;
            position: relative;
            width: 74px;
            height: 15px;
            left: -15px;
            top: 0;
            overflow: hidden;
            .redpoint{
                @include redpoint;
            }
        }
    }
    .parentbox5{
        width: 89px;
        height: 15px;
        position: absolute;left: 192px;top: 163px;
        overflow: hidden;
        #redpointbox5{
            display: none;
            position: relative;
            width: 113px;
            height: 15px;
            left: -14px;
            top: 0;
            overflow: hidden;
            .redpoint{
                @include redpoint;
            }
        }
    }
    .parentbox6{
        width: 10px;
        height: 50px;
        position: absolute;left: 223px;top: 254px;
        overflow: hidden;
        #redpointbox6{
            display: none;
            position: relative;
            width: 10px;
            height: 74px;
            left: 0px;
            top: -16px;
            overflow: hidden;
            .smallredpoint{
                @include smallredpoint;
            }
        }
    }
    .parentbox7{
        width: 46px;
        height: 10px;
        position: absolute;left: 183px;top: 249px;
        overflow: hidden;
        #redpointbox7{
            display: none;
            position: relative;
            width: 66px;
            height: 10px;
            left: -9px;
            top: 0;
            overflow: hidden;
            .smallredpoint{
                @include smallredpoint;
            }
        }
    }
    .parentbox8{
        width: 120px;
        height: 15px;
        position: absolute;left: 330px;top: 341px;
        overflow: hidden;
        #redpointbox8{
            display: none;
            position: relative;
            width: 154px;
            height: 15px;
            left: -15px;
            top: 0;
            overflow: hidden;
            .redpoint{
                @include redpoint;
            }
        }
    }
    .parentbox9{
        width: 178px;
        height: 15px;
        position: absolute;left: 501px;top: 353px;
        overflow: hidden;
        #redpointbox9{
            display: none;
            position: relative;
            width: 212px;
            height: 15px;
            left: -15px;
            top: 0;
            overflow: hidden;
            .redpoint{
                @include redpoint;
            }
        }
    }
}