<div class="menu">
  <div class="menu-content-wapper">
    <h2>工具箱</h2>
    <div class="menu-content menu-content-left">
      <ul>
        <li class="drag">V.A.S6160</li>
        <li class="drag">螺丝刀</li>
        <li class="drag">V.A.G1526E</li>
        <li class="drag">V.A.G1526B</li>
        <li class="drag">V.A.G1526B/2</li>
      </ul>
    </div>
    <div class="menu-content-foot"> </div>
  </div>
</div>

<div class="pagination-wapper">
  <div class="button prev"></div>
  <div class="pagination">--/--</div>
  <div class="button next"></div>
</div>
