<div class="menu">
  <div class="menu-content-wapper">
    <h2>ODIS</h2>
    <div class="menu-content menu-content-left">
      <ul>
        <li (click)="go2router('/plj_diagnostic')"><span>匹配两把新点火钥匙</span></li>
        <li><span>匹配原车发动机控制单元</span></li>
        <li><span>匹配舒适控制单元及电动转向柱锁</span></li>
        <li><span>匹配全车锁止组件</span></li>
        <li><span>新车ID</span></li>
        <li><span>匹配电子转向柱锁</span></li>
      </ul>
    </div>
    <div class="menu-content-foot"> </div>
  </div>
</div>

<!--页码-->
<div class="pagination-wapper">
  <div class="button prev"></div>
  <div class="pagination">--/--</div>
  <div class="button next"></div>
</div>

<!--返回按钮-->
<!--<div class="menu-wapper">
  <div class="button prev" (click)="go2router('/odis')">
    <div class="tip">
      【重新选择】按钮，点击后将返回【ODIS】
    </div>
  </div>
</div>-->
