
@mixin redpoint{
    width: 5px;
    height: 5px;
    float: left;
    margin-left: 5px;
    position: relative;
    background: #f00;
    border-radius: 50%;
    margin-top: 5px;
}
.function-body{
    width:802px;
    height:374px;
    background-image: url(./images/function_bg.png);
    position: relative;left:45px;top:35px;
    color: #fff;
    .post-charge{
        width: 258px;
        height:94px;
        background-image: url(./images/post_charge.png);
        position: relative;left:510px;top:190px;
        z-index: 2;
        span{
            position: relative;left:100px;top:93px; 
            display: inline-block;
            width: 100px;
        }
    }
    .vehicle-control{
        width: 91px;
        height: 44px;
        background: url(./images/vehicle_control.png) no-repeat;
        position: relative;left:382px;top:98px;
        z-index: 2;
        span{
            position: relative;left:23px;top:50px; 
            display: inline-block;
            width: 100px;
        }
    }
    .high-pressure-box{
        width:100px;
        height: 76px;
        background-image: url(./images/high_pressure_box.png);
        position: relative;left:217px;top:101px;
        z-index: 2;
        span{
            position: relative;left:103px;top:49px; 
            display: inline-block;
            width: 100px;
        } 
    }
    .twisted-pair{
        width: 178px;
        height:69px;
        background: url(./images/twisted_pair.png) no-repeat;
        position: absolute;left:445px;top:138px;
        span{
            position: relative;left:122px;top:-22px; 
            display: inline-block;
            width: 50px;
        } 
    }
    .charge-ecu{
        width: 53px;
        height:47px;
        background-image: url(./images/charge_ecu.png);
        position: absolute;left:595px;top:200px; 
        z-index: 2;
        span{
            position: relative;left:-12px;top:44px; 
            display: inline-block;
            width: 100px;
        } 
    }
    .high-power-line{
        width:467px;
        height:71px;
        background-image: url(./images/high_power_line.png);
        position: absolute;left:221px;top:257px; 
        span{
            position: relative;left:240px;top:44px; 
            display: inline-block;
            width: 100px;
        } 
    }
    .arrow-turnBox{
        width: 98px;
        height: 17px;
        position: absolute;left:451px;top:121px;  
        overflow: hidden;
        .arrow-turn2{
            width:146px;
            height:17px;
            background-image: url(./images/arrow_turn1.png);
            display: none;
            position: absolute;left:-25px;top:0; 
        }
    }
    .assist{
        width: 93px;
        height: 60px;
        background-image: url(./images/assist.png);
        position: absolute;left:642px;top:65px; 
        z-index: 2;
        span{
            position: relative;left:6px;top:65px; 
            display: inline-block;
            width: 116px;
        }
    }
    .line-assist{
        width: 396px;
        height: 141px;
        background-image: url(./images/lineAssist.png);
        position: absolute;left:297px;top:74px;
    }
    .line-assist-red{
        width: 396px;
        height: 141px;
        background-image: url(./images/lineAssist-red.png);
        position: absolute;left:297px;top:74px;
    }
    .assist-charge{
        width: 97px;
        height: 79px;
        background-image: url(./images/assist-charge.png);
        position: absolute;left:96px;top:225px; 
        z-index: 2;
        span{
           position: relative;left:22px;top:77px; 
            display: inline-block;
            width: 60px; 
        }
    }




    .DCDCbox{
        width: 282px;
        height: 94px;
        position: absolute;
        left: 43px;top: 110px;
        z-index: 7;
        .DCDC{
            width: 120px;
            height: 90px;
            background-image: url(./images/DCDC.png);
            position: absolute;left:146px;top:0px; 
            z-index: 7;
            cursor:pointer;
            span{
            position: relative;left:13px;top:-16px; 
                display: inline-block;
                width: 100px; 
            }
        }
        .function-button1{
            width: 180px;
            height: 40px;
            border-radius: 6px;
            border:2px solid #67983b;
            // background: #3a6412;
            position: relative;left: -50px;top: 0;
            text-align: center;
            line-height: 40px;
            color: #000;
            background: #fff;
            z-index: 2;
            cursor: pointer;
        }
        .function-button1:hover{
            width: 180px;
            height: 40px;
            border-radius: 6px;
            border:2px solid #67983b;
            background: #3a6412;
            position: relative;left: -50px;top: 0;
            text-align: center;
            line-height: 40px;
            color: #fff;
            cursor: pointer;
        }
        .function-button2{
            width: 180px;
            height: 40px;
            border-radius: 6px;
            border:2px solid #67983b;
            // background: #3a6412;
            background: #fff;
            z-index: 2;
            position: relative;left: -50px;top: 0;
            text-align: center;
            line-height: 40px;
            color: #000;
            cursor: pointer;
        }
        .function-button2:hover{
            width: 180px;
            height: 40px;
            border-radius: 6px;
            border:2px solid #67983b;
            background: #3a6412;
            position: relative;left: -50px;top: 0;
            text-align: center;
            line-height: 40px;
            color: #fff;
            cursor: pointer;
        }
    }





    
    .feedback-line{
        width: 123px;
        height: 82px;
        background-image: url(./images/feedback-line.png);
        position: absolute;left: 282px;top: 149px;
        span{
           position: relative;left:49px;top:11px; 
            display: inline-block;
            width: 100px; 
        }
    }
    .feedback-line-blue{
        width: 120px;
        height: 78px;
        background-image: url(./images/feedback-line-blue.png);
        position: absolute;left: 282px;top: 149px;
        span{
           position: relative;left:49px;top:11px; 
            display: inline-block;
            width: 100px; 
        }
    }
    .enable-line{
        width: 134px;
        height: 100px;
        background-image: url(./images/enable-line.png);
        position: absolute;left: 284px;top: 124px;
        span{
           position: relative;left:47px;top:-20px; 
            display: inline-block;
            width: 100px; 
        }
    }
    .enable-line-purple{
        width: 132px;
        height: 93px;
        background-image: url(./images/enable-line-purple.png);
        position: absolute;left: 284px;top: 124px;
        span{
           position: relative;left:47px;top:-20px; 
            display: inline-block;
            width: 100px; 
        }
    }
    .circle-left{
        width: 34px;
        height: 36px;
        background-image: url(./images/circle.png);
        position: absolute;left: 182px;top: 65px;
    }
    .circle-right{
        width: 34px;
        height: 36px;
        background-image: url(./images/circle.png);
        position: absolute;left: 276px;top: 65px;
    }
    .high-power-line-short{
        width: 72px;
        height: 79px;
        background-image: url(./images/high_power_line-short.png);
        position: absolute;left: 247px;top: 185px;
    }
    .left-line{
        width: 70px;
        height: 112px;
        background-image: url(./images/left-line.png);
        position: absolute;left: 159px;top: 134px;
    }
    .left-top-line{
        width: 70px;
        height: 157px;
        background-image: url(./images/left-top-line.png);
        position: absolute;left: 127px;top: 77px; 
    }
    .left-top-line-red{
        width: 70px;
        height: 157px;
        background-image: url(./images/left-top-line-red.png);
        position: absolute;left: 127px;top: 77px; 
    }
    .switch{
        width: 95px;
        height: 21px;
        background-image: url(./images/closeOropen.png);
        position: absolute;left: 198px;top: 63px; 
        span{
            position: relative;left:20px;top: -19px; 
        }
    }
    .switchclose{
        width: 93px;
        height: 21px;
        background-image: url(./images/closeOropen-red.png);
        position: absolute;left: 201px;top: 70px; 
        transform: rotate(10deg);
        span{
            position: relative;left: 16px;top: -19px; 
            transform: rotate(-10deg);
            display: block;
        }
    }
    .close{
        position: absolute;right: -40px;top: -24px;cursor: pointer;
        color: #000;
        z-index: 7;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        width: 40px;
    }






    .arrow{
        width: 13px;
        height: 13px;
        position: absolute;
    }
    .arrow1{
        background-image: url(./images/arrow-blue.png);
        left: 296px;top: 149px;
        transform: rotate(90deg);
        display:none;
    }
    .arrow2{
        background-image: url(./images/arrow-purple.png);
        left: 407px;top: 183px;
        display:none;
    }
    #redpointbox{
        display: none;
        position: absolute;
        width: 10px;
        height: 75px;
        left: 305px;
        top: 191px;
        overflow: hidden;
        .redpoint{
            @include redpoint;
        }
    }
    #redpointbox2{
        display: none;
        position: absolute;
        width: 455px;
        height: 15px;
        left: 225px;
        top: 317px;
        overflow: hidden;
        .redpoint{
            @include redpoint;
        }
    }
    #redpointbox3{
        display: none;
        position: absolute;
        width: 70px;
        height: 15px;
        left: 241px;
        top: 182px;
        overflow: hidden;
        .redpoint{
            @include redpoint;
        }
    }
    #redpointbox6{
        display: none;
        position: absolute;
        width: 15px;
        height: 20px;
        left: 216px;
        top: 298px;
        overflow: hidden;
        .redpoint{
            @include redpoint;
        }
    }
    #redpointbox7{
        display: none;
        position: absolute;
        width: 15px;
        height: 65px;
        left: 678px;
        top: 258px;
        overflow: hidden;
        .redpoint{
            @include redpoint;
        }
    }
    #redpointbox8{
        display: none;
        position: absolute;
        width: 60px;
        height: 15px;
        left: 167px;
        top: 132px;
        overflow: hidden;
        .redpoint{
            @include redpoint;
        }
    }
    #redpointbox9{
        display: none;
        position: absolute;
        width: 15px;
        height: 91px;
        left: 156px;
        top: 136px;
        overflow: hidden;
        .redpoint{
            @include redpoint;
        }
    }
    .hidden{
        display: none;
    }
}