<div class="profile-body"  [style.background]="1 ? 'url('+ appService.state.current.img+')': 'grey'">
    <h1>课程简介</h1>
    <!--<img src="{{appService.state.current.img}}" alt="">-->

<div class="bt">
        <div class="use" (click)="showPopver('use')" >使用本课程</div>
    <div class="exit" (click)="showPopver('exit')" >退出本课程</div>
</div>

    <!--<div class="popover" *ngIf="isPopver">
        <div (click)="closePopver()" >X</div>
        {{popverInfo}}
    </div>-->

    <div class="modal" *ngIf="isPopver" >
    <div class="modal-dialog">
        <h5>{{popverTitle}}</h5>
               <div class="close" (click)="closePopver()" ></div>
        <p>{{popverInfo}}</p>
        <button (click)="closeWindow()" >是</button>
    </div>
</div>
</div>
