<div class="notice-body">
  <h2>注意事项</h2>
  <div class="bg">
    <h3>{{noticeService?.currPage?.title}}</h3>
    <div class="line"></div>
    <div class="content">

      <p *ngFor="let item of noticeService?.currPage?.content" >{{item}}</p>
    </div>
    <div class="line"></div>
  </div>



</div>

<!--页码-->
<div class="pagination-wapper">
  <div class="button prev" [class.disabled]="noticeService?.currPage?.pageNum===1"  (click)="switchPage('prev')" ></div>
  <div class="pagination">{{noticeService?.currPage?.pageNum}}/{{noticeService?.pageArray?.length}}</div>
  <div class="button next" [class.disabled]="noticeService?.currPage?.pageNum===noticeService?.pageArray?.length" (click)="switchPage('next')"></div>
</div>
