<div class="target-more-body" [style.background-image]="1 ? 'url('+ appService.state.current.img+')': 'grey'">
    <h1>{{pageData.title}}</h1>
    <!--说明-->
    <p *ngFor="let item of pageData.explain">{{item}}</p>
    <div class="img-outer">
        <img *ngFor="let item of pageData.imgs" src="{{item}}" alt="">
    </div>
    <point-dialog [data]="pageData.content[0]" (click)="showImg1(pageData.content[0])"></point-dialog>
    <point-dialog [data]="pageData.content[1]" (click)="showImg2(pageData.content[1])"></point-dialog>
    <button-click *ngFor="let item of pageData.textArr" [data]="item"></button-click>
</div>
