.handle-error-body{
    width: 373px;
    height: 224px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url('./images/popup.png') no-repeat;
}
