/*周玉杰 (zyj) 2015-6-12*/
/*reset css*/
@charset "utf-8";
html,body{ height: 100%; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}li{list-style:none}img{border:none}textarea{resize:none}
body{color:#666;background:#fff;word-break:break-all;word-wrap:break-word;}
body,input,textarea{font-size:12px;font-family:\5b8b\4f53,Verdana,Arial}
a{color:#305999;text-decoration:none;outline:none}
a:hover{color:#090}
/*common main========================================================================================*/
.main{width: 1022px;min-height:580px;position: relative;margin: 0 auto;background:#f2f2f2 url(../images/commIcon/logo.jpg) no-repeat 10px 545px;border: 1px solid black;}
/*main_index--------------------------------*/
.main_index{position: absolute;top: 0px;left: 0px;z-index: 1;}
.main_index_button{width:163px;height:48px;position: absolute;bottom: 20px;left:50%;margin-left:-81.5px;background:#002e56;border: none;color: white;font:18px "微软雅黑";cursor: pointer; border-radius: 2px;z-index: 115;}
.main_index_img{width: 100%;z-index: 115;}
/*main_head--------------------------------*/
.main_head{position: relative;left: 0px;top: 0px; width: 100%;height: 50px;box-shadow:1px 2px 2px #c9c9c9;text-align: left;background:#002e56;}
.main_head .shang{
	position: absolute;left: 12px;top: 12px; width: 35px;height: 26px;background:url(../images/commIcon/shang.png) no-repeat ;
}
.main_head .wu{
	position: absolute;left: 62px;top: 16px; width: 42px;height: 22px;background:url(../images/commIcon/wu.png) no-repeat ;
}
.main_head .bao{
	position: absolute;left: 120px;top: 12px; width: 22px;height: 26px;background:url(../images/commIcon/bao.png) no-repeat ;
}
.main_head_arrow{width:190px;height: 40px;position: absolute;bottom: 0;right: 0;}
.main_head_arrow button{display: inline-block;width:55px;height:25px;position: relative;top: 50%;margin-top:-12px;cursor: pointer;font:12px "微软雅黑";float:left;}
.main_bottom_pagenum{width: 55px;line-height: 40px;color: #f7f8f9;float: left;text-align: center;font-size: 16px;}
	/*pre*/
.main_head_arrow_pre_dark{background-image: url(../images/last.png);}
.main_head_arrow_pre_light{background-image: url(../images/last_deep.png);cursor: pointer;}
.main_head_arrow_pre_light:active{background-image: url(../images/last_deep.png);}

	/*next*/
.main_head_arrow_next_dark{ background-image: url(../images/next.png);}
.main_head_arrow_next_dark_hide{display: none !important;}
	/*super*/
.main_head_arrow_super_next_hide{display: none !important;}
.main_head_arrow_super_next{background-image: url(../images/next_deep.png);}
.main_head_arrow_super_next:active{background-image: url(../images/next_deep.png);}
	/*spearker*/
.main_head_speaker_light{position: absolute;top: 50%;margin-top: -16.5px; right:80px;width:33px;height:33px;cursor: pointer;border: 0px solid #f2f2f2;background: url(../images/commIcon/all_icon.png) -72px 0px;z-index: 2;}
.main_head_speaker_dark{position: absolute;top: 50%;margin-top: -16.5px; right:80px;width:33px;height:33px;cursor: pointer;border: 0px solid #f2f2f2;background: url(../images/commIcon/all_icon.png) -311px -33px;z-index: 2;}
	/*main bottom*/
	/*navi*/
.main_head_navi{display:block;position: relative;left: 168px;top: 22px; width:750px;height: 30px;}
.main_head_navi ul{height: 30px;font: 100% "微软雅黑";color: #000000;}
.main_head_navi ul li{float: left;width:93px;height: 30px;line-height: 33px;text-align: center;}
.main_head_navi ul li div{width:89px;height: 21px;line-height: 28px;text-align: center;font: 14px "微软雅黑";display: inline-block;color: #fff;padding: 2px;}
.main_head_navi ul li div.naviBlock{background: url(../images/commIcon/navi_bg.png);color: #FFFFFF;}
	/*close button*/
.main_head_close_btn{display:block;position: absolute;top: 50%;margin-top: -16.5px;right: 15px;width:33px;height:33px;cursor: pointer;border: 0px solid #f2f2f2; background: url(../images/commIcon/all_icon.png) -141px 0px;}
.main_head_close_help{display:block;position: absolute;top: 50%;margin-top: -16.5px;right: 15px;width:50px;height:33px;cursor: pointer;border: 0px solid #f2f2f2;font: 14px "微软雅黑";color: #fff;}
.main_head_close_help span{display: inline-block;margin:0 5px;line-height: 33px;}
/*main_body----------------------------------*/
.main_body{width: 100%;height: 490px;position: absolute;top: 50px;left: 0;overflow: hidden;}
.main_view{width: 925px;height: 455px;position:relative;margin:15px auto;border: 2px solid #000000;overflow: hidden;}
/*tool---------------------------------------*/
.main_sidebar{}
.main_sidebar_show{position:absolute;left:0px;top:60px;width: 40px;height: 50px;background: url(../images/commIcon/tooll.png) no-repeat;cursor: pointer;}
.main_sidebar_hide{position: absolute;right:0px;top:2px;width: 16px;height: 13px;background: url(../images/commIcon/close_gongju.png);cursor: pointer;}

button.main_tool{background: url(../images/commIcon/logo_bk.png) no-repeat center;background-position:1px -35px;}
button.main_manage{background: url(../images/commIcon/logo_bk.png) no-repeat center;background-position:-50px -35px;}
button.main_service_data{background: url(../images/commIcon/logo_bk.png) no-repeat center;background-position:-103px -35px;}
	/*闪烁状态*/
button.main_tool_flicker{-webkit-animation: flicker 0.5s ease-in 0s infinite;}
button.main_manage_flicker{-webkit-animation: flicker 0.5s ease-in 0s infinite;}
button.main_service_data_flicker{-webkit-animation: flicker 0.5s ease-in 0s infinite;}
@-webkit-keyframes flicker{
	from{opacity: 1;}
	50%{opacity: 0.5;}
	to{opacity: 1;}
}

.center-control {
    position: absolute;left: 0; bottom: -116px;width: 270px;height: 116px;background:url(../images/controll_center.png);z-index: 114;
}
.shift{width: 160px;height: 116px;position: relative;}
.shift span{position: absolute;background: #5D9CD2;border-radius: 50%;width: 20px;line-height: 20px;text-align: center;color: #222;box-shadow: 1px 1px 1px #504120;font-weight: bold;cursor: pointer;}
.shift span:nth-of-type(1){left: 15px;top: 15px;font-size: 19px;}
.shift span:nth-of-type(2){left: 15px;top: 48px;}
.shift span:nth-of-type(3){left: 15px;top: 82px;font-size: 19px;}
.shift span:nth-of-type(4){left: 125px;top: 15px;}
.shift span:nth-of-type(5){left: 125px;top: 48px;}
.shift span:nth-of-type(6){left: 125px;top: 82px;}
.shift .span-active{box-shadow: none;}
.infoText{display: block;text-align: center;line-height: 30px;position: absolute;left: 208px;top: -7px;color:#f00;}
.handle{position: absolute;left: 77px;
    top: 15px;width: 25px;height: 47px;background: url(../images/handle.png) no-repeat; }
.footboard{background: url(../images/footboard.png);width: 44px;height: 29px;position: absolute;left: 170px;top: 15px;cursor:pointer;}
.acceleratorbox{background: url(../images/gray-gas.png);width: 14px;height: 87px;position: absolute;left: 235px;top: 15px;}
.accelerator{background: url(../images/accelerator.png);width: 14px;height: 38px;position: absolute;left: 235px;top: 15px;cursor: pointer}
.center-control .center-control-panel ul li .door-switch {
    background: url(../images/commIcon/door_switch_icon.png) no-repeat center/100%;
}
.center-control .center-control-panel ul li.active button.door-switch {
    background: url(../images/commIcon/door_switch_icon_active.png) no-repeat center/100%;
}
.graybutton{position: absolute;background: #b7b7b7;border-radius: 50%;width: 22px;height:22px;line-height: 20px;text-align: center;color: #222;font-weight: bold;cursor: default;opacity: 0.7;}
.graybutton1{
	left: 15px;top: 15px;
}
.graybutton2{
	left: 15px;top: 48px;
}
.graybutton3{
	left: 15px;top: 82px;
}

/*答题完的遮罩================================================================================================*/
.main_mask{width: 100%;min-height:580px;position:absolute;left:0px;top:0px;background: rgba(0,0,0,0.5);text-align: center;font: 18px "微软雅黑";color: #FFFFFF;z-index: 120;}
.main_mask_alert{width: 300px;height: 200px;position: absolute;left: 50%;top: 50%;margin-left: -150px;margin-top: -100px;border: 2px solid #FFFFFF;border-radius:10px ;box-shadow:0px 0px 3px 3px rgb(26,26,26) ;background: rgb(26,26,26);}
.main_mask_tips{width: 100%;margin-top: 50px;}
.main_mask_styTime{width: 100%;margin-top: 30px;}
.main_mask_styAnswer{width: 100%;margin-top:25px;}
.main_mask_button{width: 100%;height: 34px;margin-top: 30px;}
.main_mask_button button{width: 120px;height: 30px;border: 2px solid #FFFFFF;line-height: 30px;border-radius: 5px;font: 18px "微软雅黑";color: #FFFFFF;cursor: pointer;margin: 0 5px;}
.main_mask_button button:hover{background: #5D9CD2;color: #000000;}
.main_mask_keepUp{}
.main_mask_leave{}
/*侧边栏*/
/*navi-------------------------------------------------------------------------------------*/
.sideBar_navi{width:152px;height:290px;position: absolute;top: 25px;left:-127px;z-index: 114;}
.sideBar_navi_button{width:25px;height:111px;position: absolute;top: 75px;right:0px;background:url(../images/commIcon/navi_btn_bg_out.png) no-repeat center;}
.sideBar_navi_panel{width: 137px;height: 100%;position: absolute;top: 0px;left: 0px;background:url(../images/commIcon/sidebar.png) no-repeat;}
.sideBar_navi_panel ul{display:block;width: 105px;height: 246px;margin: 25px 10px;}
.sideBar_navi_panel ul li{display:block;width:105px;height: 30px;margin-bottom:23px;}
.sideBar_navi_panel ul li button{width: 100%;height: 100%;position:relative;left:0px;top:0px;line-height: 30px;}
.sideBar_navi_panel ul li button i{/*display:block;width: 7px;height: 7px;position:absolute;left:12px;top:11.5px;border-radius:7px;background: #FFFFFF;*/color: #FFFFFF!important;}
/*active*/
.sideBar_navi_panel ul li.active button{background: #000000;}
.sideBar_navi_panel ul li.active button i{background: #5D9CD2;}
.manage_sys_btn{background: url("../images/commIcon/manage_sys.png") no-repeat}
.service_data_btn{background: url("../images/commIcon/service_data.png") no-repeat}
/*tool-------------------------------------------------------------------------------------*/
.sideBar_tool{width: 162px;height: 290px;position: absolute;top: 25px;right: -137px; z-index: 114;}
.sideBar_tool_button{width: 25px;height: 111px;position: absolute;top: 75px;left: 0px;background: url(../images/commIcon/tool_btn_bg_out.png) no-repeat center;}
.sideBar_tool_panel{width: 144px;height: 100%;position: absolute;top: 0px;right: 0px;background:url(../images/commIcon/toolbox.png) no-repeat;}
.sideBar_tool_panel ul{display: block;width: 110.5px;height: 240px;margin: 25px 18px;}
.sideBar_tool_panel ul li{width: 50px;height: 50px;margin:0px 2.5px 13px;float: left;background:#fff; border-radius: 5px;}

.sideBar_tool_panel ul li button{display:block;width: 100%;height: 100%;border: 1px solid #5D9CD2;line-height: 85px;border-radius: 5px;cursor: auto;}
/*tool img*/
.diagnostic{background: url(../images/tool/DiagnosisInst/diagnostic.png) no-repeat 50% 20%;}
.multimeter_tool{background: url(../images/tool/Multimeter/multimeter.png) no-repeat 50% 20%;}
.test_pencil{background: url(../images/tool/TestPencil/test_pencil.png) no-repeat 50% 20%;}
/*grayed img*/
.power_battery{background: url(../images/tool/Battery/battery_small.png) no-repeat 50% 20%;}
.grayed_img2{background: url(../images/tool/tool_grayed2.png) top left/50px 50px no-repeat; border: none!important;}
.grayed_img3{background: url(../images/tool/tool_grayed3.png) top left/50px 50px no-repeat; border: none!important;}
.grayed_img4{background: url(../images/tool/tool_grayed4.png) top left/50px 50px no-repeat; border: none!important;}
.grayed_img5{background: url(../images/tool/tool_grayed5.png) top left/50px 50px no-repeat; border: none!important;}
/*main_bottom------------------------------------------------------------------------------*/
.main_bottom{position:absolute;bottom: 0;right: -1px;width: 1024px; height: 40px; z-index: 114;background: #002e56;}
.cursor_pointer{cursor: pointer!important;}