
.notice-body {
    // position: relative;
    width: 100%;
    height: 100%;
    h2 {
        padding-left: 30px;
        height: 70px;

        font-size: 20px;
        line-height: 100px;

        color: #003c65;
    }
    .bg {
        margin: 0 auto;
        border: 1px #fff solid;
        width: 884px;
        height: 468px;
        background-color: #fff;
        box-shadow: 0 0 1px 0;
        // background-image: url("./images/20170504163010.png");
    }
    h3 {
        margin: 10px auto;
        border-radius: 5px;
        // width: 150px;
        height: 36px;

        font-size: 16px;
        font-weight: normal;
        line-height: 36px;
        // text-align: center;

        // color: #fff;
        // background-color: #003c65;
    }
    .line {
        margin: 0 auto;
        width: 864px;
        height: 2px;

        background-color: #17b8ed;
    }
    .content {
        margin: 10px auto;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 45px 30px 0;
        width: 864px;
        height: 300px;
        font-size: 16px;
        line-height: 30px;
        background-color: #f4f6f5;
        li {
            line-height: 35px
        }
    }
}

    .frame{
        width: 100%;
        height: 100%;
        .title {
            padding-left: 30px;
            height: 70px;
            font-size: 20px;
            line-height: 100px;
            color: #003c65;
        }
        .inner-frame{
            margin: 0 auto;
            border: 4px solid #b4e7fa;
            width: 878px;
            height: 464px;
            background-color: #fff;
            .line{
                    position: absolute;
                    left:455px;
                    height:456px;
                    z-index: 2;
                    border:1px solid #b4e7fa;
            }
            .content{
                margin: 0 auto;
                width: 870px;
                height: 456px;
                border:4px solid #c6ebf9;
                background-color: #eaf9ff;
                .score{
                    position: absolute;
                    top:178px;
                    left:120px;
                    width:290px;
                    height:206px;
                    span{
                        margin-left:10px;
                    } 
                    .submit{
                        margin:60px 0px 0px 70px;
                        width: 140px;
                        height: 36px;
                        color:#fff;
                        cursor: pointer;
                        background: url('images/Rectangle 21.png') no-repeat;
                    }
                    .mood{
                        margin:49px 0px 0px 10px;
                        span{display: inline-block;}
                        color:red;
                        .succss{
                            width:80px;
                            height: 80px;
                            background: url('images/smile-1.png') no-repeat;
                        }
                        .fail{
                            width:80px;
                            height: 80px;
                            background: url('images/cry.png') no-repeat;
                        }
                        .text{
                            position: absolute;
                            top:89px;
                        }
                    }
                }
                .details{
                    position: absolute;
                    top:116px;
                    left:457px;
                    width:447px;
                    height:410px;
                    .theme{
                        margin-top:60px;
                        padding-left:12px;
                        font-size: 14px;
                    }
                    ul{
                        margin: 50px 0px 0px 15px;
                    
                    }
                    li{
                        width:70px;
                        height: 70px;
                        display: inline-block;
                        border:1px solid #ccc;
                        margin:5px 4px;
                        div{
                            margin:10px 25px;
                        }
                        .correct{
                            width: 19px;
                            height: 12px;
                            background: url('images/Shape2.png') no-repeat;
                        }
                        .error{
                            width: 12px;
                            height: 12px;
                            background: url('images/Shape.png') no-repeat;
                        }
                        span{
                            display: inline-block;
                            margin:-8px 0px 0px 5px;
                        }
                    }

                }
            }
        }

    }


.radio input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none; }
.un-radio input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none; }

.un-radio{
  padding: 0px 30px;
  cursor: pointer;
  line-height: 30px;
  background: url("images/un-radio.png") no-repeat; }

.radio{
  padding: 0px 30px;
  line-height: 30px;
  cursor: pointer;
  background: url("images/radio.png") no-repeat; }

.pagination-wapper {
    .button {
        cursor: pointer;
    }
    .prev {
        background-image: url("./images/上1.png");
        &:hover {
            background-image: url("./images/上2.png");
        }
        &.disabled {
            background-image: url("./images/上3.png") !important;

            cursor: default;
        }
    }
    .next {
        background-image: url("./images/下1.png");
        &:hover {
            background-image: url("./images/下2.png");
        }
        &.disabled {
            background-image: url("./images/下3.png") !important;

            cursor: default;
        }
    }
}