<!--检测页面-->
<div class="test-body">
    <div class="hotareareal" (click)="alertPartShow()"></div>
    <div class="hotareatest" (mouseover)="hotareaMouseover()"  (mouseout)="hotareaMouseout()"></div>
    <div class="alert-part">
       
    </div>
    <!--<div class="closeAlertPart" (click)="alertPartHide()" *ngIf="!hotareaStatus">X</div>-->
    <div class="closeAlertPart" (click)="alertPartHide()">X</div>
    <a class="hot1 hot" wybredPosition="41" wybblackPosition="41" h-left="118" h-top="40"></a>
    <a class="hot2 hot" wybredPosition="42" wybblackPosition="42" h-left="169" h-top="270"></a>
    <a class="hot3 hot" wybredPosition="43" wybblackPosition="43" h-left="165" h-top="204"></a>
    
    <span class="hottemplate1 hottemplate" wybredPosition="43" wybblackPosition="43" h-left="165" h-top="204"></span>
    <span class="hottemplate2 hottemplate" wybredPosition="43" wybblackPosition="43" h-left="165" h-top="204"></span>
    <span class="hottemplate3 hottemplate" wybredPosition="43" wybblackPosition="43" h-left="165" h-top="204"></span>
    <span class="hottemplate4 hottemplate" wybredPosition="43" wybblackPosition="43" h-left="165" h-top="204"></span>

</div>
