.transmission-body{
    box-sizing: border-box;
    padding: 50px 100px;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;

    h1 {
        margin-top: 20px;
        margin-bottom: 20px;

        font-size: 20px;
        text-align: left;
    }
    p {
        font-size: 16px;
    }
    .ratio-box{
        overflow: hidden;
        box-sizing: border-box;
        margin-top: 100px;
        padding: 0 75px;

        .ratio{
            position: relative;
            width: 272px;
            height: 188px;
        }
        .ratio img{
            position: absolute;
            transform: rotate(0deg);
        }

        .ratio-first{
            float: left;
        }

        .ratio-two{
            float: right;
        }

        .ratio-first1{
            left: 10px;
            top: 66px;
        }
        .ratio-first2{
            right: 0;
            top: 0;
        }
        .ratio-two1{
            left: 182px;
            top: 66px;
        }
        .ratio-two2{
            left: 0;
            top: 0;
        }
        .mark{
            position: absolute;
            font-size: 30px;
            // color: black;
            z-index: 1;
        }
        .mark1{
            left: 30px;
            top: 65px;
        }
        .mark2{
            left: 157px;
            top: 70px;
        }
        .mark3{
            left: 85px;
            top: 68px;
        }

        .mark4{
            left: 211px;
            top: 64px;
        }

    }

    .bottom{
        display: block;
        margin: 10px auto;
    }
}
